<h4>Anexar documentos</h4>
<div class="modal-body">
  <%= form_with(model: [ @cliente, @cliente.documentos.build ], local: true) do |f| %>
    <%= f.hidden_field :cliente_id, value: @cliente.id%>
    <div class="col-sm-12">
      <%= f.label :descricao%>
      <%= f.text_field :nome_documento, class: 'form-control' %>
    </div>
    <div class="col-sm-12">
      <%= f.label :Obs%>
      <%= f.text_field :obs_documento, class: 'form-control' %>
    </div>
    <div class="col-sm-2">
      <%= f.label :Documento%>
      <%= f.file_field :doc %>
    </div>
  </div>
  <div class="actions">   
    <%= f.submit 'Anexar Doc.',:class => 'btn btn-sm btn-success btn-round' %>
  <% end %>
</div><br><br><br>
<h4>Documentos</h4>
<br>
<% @documentos.each do |documento|%>
  <div class="btn-group" role="group">
    <!-- Button trigger modal -->
    <button type="button" class="col-sm-12 btn btn-sm btn-primary" data-toggle="modal" data-target="#<%= documento.id%>">
      <%= documento.nome_documento%>
    </button>
    <%= form_tag(cliente_path, :method => :get) do%>
      <%= hidden_field_tag 'documento',documento.id%>
      <%= hidden_field_tag 'cliente',@cliente.id%>
      <button type="submit" class="btn btn-sm btn-danger">
        <i class="mdi mdi-close"></i>
      </button>
    <%end%>
  </div>
  <br>
  <br>
  <!-- Modal -->
  <div class="modal fade" id="<%= documento.id%>" tabindex="-1" role="dialog" aria-labelledby="<%= documento.id%>Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="<%= documento.id%>Label"> <%= documento.nome_documento%></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= image_tag documento.doc, style: 'height:100%;width:100%;' if documento.doc.attached? %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success">Abrir PDF</button>
        </div>
      </div>
    </div>
  </div>
<%end%>
<br>
