 
<div class="tab-content" id="v-pills-tabContent">
  <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
    <p>
      <strong>Cpf:</strong>
      <%= @cliente.cpfcliente %>
    </p>
    <p>
      <strong>Telefone:</strong>
      <%= @cliente.telcliente %>
    </p>
    <p>
      <strong>Matricula:</strong>
      <%= @cliente.matricula %>
    </p>
    <p>
      <strong>Data nascimento:</strong>
      <%= @cliente.datanacimentocliente %>
    </p>
    <p>
      <strong>Obs:</strong>
      <%= @cliente.Obs %>
    </p>
  </div>
  <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
    <%= render 'clientes/protocolos'%>
  </div>
  <div class="tab-pane fade text-center" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
    <%if @cliente.entradas.present?%>
      <h1>Entradas</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Data da Entrada</th>
            <th>Valor</th>
            <th>Status</th>
            <th>Corretor</th>
            <th>Gerente</th>
            <th colspan="3">Ações</th>
          </tr>
        </thead>
        <tbody>
          <% Entrada.where("cliente_id = ?","#{@cliente.id}").each do |entrada|%>
            <tr>
              <td>
                <%= "#{entrada.dataentrada.to_s[8..9]}/#{entrada.dataentrada.to_s[5..6]}/#{entrada.dataentrada.to_s[0..3]}" %>
              </td>
              <td>
                <%= " #{entrada.valor}"  %>
              </td>
              <td>
                <%= entrada.pago %>
              </td>
              <td>
                <%= User.where("id = ?","#{entrada.idcorretor}").pluck("nome").first%>
              </td>
              <td>
                <%= User.where("id = ?","#{Perm.where("user_id = ?","#{entrada.idcorretor}").pluck("idgerente").first}").pluck("nome").first%>
              </td>
              <td>
                <%= entrada.idgerente %>
              </td>
              <td>
                <%= link_to 'Exibir', entrada, :class=>'btn btn-sm btn-rounded btn-gradient-warning' %>
              </td>
              <td>
                <%= link_to 'Editar', edit_entrada_path(entrada), :class=>'btn  btn-sm btn-rounded btn-gradient-info' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <%else%>
      O Financeiro do Contrato de
      <%=@cliente.nome.titleize%> não foi gerado!
      <button type="button" class="btn btn-gradient-info" data-toggle="modal" data-target="#exampleModalCenter">
        Gerar Financeiro Manual!
      </button>
      <!-- Modal -->
      <div class="modal fade " id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered " role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title " id="exampleModalCenterTitle">Gerar Financeiro
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-left">
              <%= form_with(model: [ @cliente, @cliente.entradas.build ], local: true) do |form| %>
                <%= form.hidden_field :cliente_id %>
                <div class="field">
                  <strong><%= form.label :Banco %></strong>
                  <%= collection_select(:entrada,:banco_id,Banco.all,:id,:nome) %>
                </div>
                <div class="field">
                  <strong> <%= form.label :data_entrada %></strong>
                  <%= form.date_field :dataentrada %>
                </div>
                <div class="field">
                  <strong><%= form.label :resumo_da_operação %></strong>
                  <%= form.text_field :resumooperacao %>
                </div>
                <div class="field">
                  <strong>   <%= form.label :valor %> </strong>
                  <%= form.text_field :valor %>
                </div>
                <div class="field">
                  <strong> <%= form.label :Status %></strong>
                  <%= form.select :pago,[["Em Aberto"]] %>
                </div>
                <div class="field">
                  <strong><%= form.label :idcorretor %></strong>
                  <%= form.select :idcorretor, @users.collect { |user| ["#{user.nome}" , user.id] } %>
                </div>
                <div class="field">
                  <strong>   <%= form.label :cliente_id %></strong>
                  <%= form.text_field :cliente_id %>
                </div>
                <form class="forms-sample">
                  <%= form.submit :class=>'btn btn-rounded btn-gradient-primary' %>
                <%end%>
              </form>
            </div>
          </div>
        </div>
      </div>
    <%end%>
  </div>
   <div class="tab-pane fade " id="v-pills-doc" role="tabpanel" aria-labelledby="v-pills-doc-tab">
   <%= render 'clientes/documentos'%>
</div>
  <div class="tab-pane fade " id="v-pills-atendimento" role="tabpanel" aria-labelledby="v-pills-atendimento-tab">
    <%= form_with(model: [ @cliente, @cliente.itematendimentoclientes.build ], local: true) do |form| %>
      <%= form.hidden_field :user_id, value: current_user.id %>
      <%= form.hidden_field :cliente_id, value: @cliente.id %>
      <div class="row">
        <div class="col-sm-3">
          <strong>Quando ligou</strong>
          <%= form.date_field :quandoligou, :class=>"form-group form-control" %>
        </div>
        <div class="col-sm-3">
          <strong>Quando irá ligar</strong>
          <%= form.date_field :quandoiraligar, :class=>"form-group form-control" %>
        </div>
        <div class="col-sm-3">
          <strong>Número 1</strong>
          <%= form.number_field :numero1, :class=>"form-group form-control" %>
        </div>
        <div class="col-sm-3">
          <strong>Número 2</strong>
          <%= form.number_field :numero2,:type=>"number",:class=>"form-group form-control" %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <strong>Observação</strong>
          <%= form.text_field :obs, :type =>'text',:class=>'form-control', :placeholder=>'Observação'%>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-sm-2">
          <%= form.submit :class=>'btn btn-primary' %>
        </div>
      </div>
    <%end%>
    <br>
    <br>
    <%if Itematendimentocliente.where("cliente_id = ?","#{@cliente.id}").present?%>
      <card class="card bg-primary">
        <card class="card-body">
          <table class="table  text-light">
            <thead>
              <tr>
                <th><strong>Quando ligou</strong></th>
                <th><strong>Quando irá ligar</strong></th>
                <th><strong>Número 1</strong></th>
                <th><strong>Obs</strong></th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
              <% Itematendimentocliente.where("cliente_id = ?","#{@cliente.id}").each do |item|%>
                <tr>
                  <td>
                    <%= "#{item.quandoligou.to_s[8..9]}/#{item.quandoligou.to_s[5..6]}/#{item.quandoligou.to_s[0..3]}"  %>
                  </td>
                  <td>
                    <%= "#{item.quandoiraligar.to_s[8..9]}/#{item.quandoiraligar.to_s[5..6]}/#{item.quandoiraligar.to_s[0..3]}" %>
                  </td>
                  <td>
                    <%= simple_format item.numero1 %>
                  </td>
                  <td class="text-black">
                    <button type="button" class="btn btn-gradient-light" data-toggle="modal" data-target="#a<%= item.id%>">
                      Observação
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="a<%= item.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="<%= item.id%>">Observação</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <p><%= simple_format item.obs%></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              <%end%>
            </table>
          <%end%>
        </card>
      </card>
    </card>
  </card>
</div>
<div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
</div>
</div>
