<%= form_with(model: cliente, local: true) do |form| %>
  <% if cliente.errors.any? %>
    <div class = 'card-body erro text-light'id="error_explanation">
      <a href="#" onclick="document.getElementById('erro').style.display='none';">[Fechar]</a>
      Há <%= pluralize(cliente.errors.count, "") %> erro(s) faltou informar o(s) seguinte(s) campo(s):
      <ul >
        <% cliente.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :user_id , value: current_user.id%>
  <form class="forms-sample">
    <div class="form-group">
      <label for="exampleInputName1">Nome</label>
      <%= form.text_field :nome, :type =>'text',:class=>'form-control', :placeholder=>'Nome Completo' %>
    </div>
    <div class="form-group">
      <label for="exampleInputName1">Data de Nascimento</label><br>
      <%= form.date_field :DataNascimento %>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail3">CPF</label>
      <%= form.text_field :cpf, :type =>'text',:class=>'form-control', :placeholder=>'CPF sem Pontuação' %>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword4">E-mail</label>
      <%= form.text_field :email, :type =>'text',:class=>'form-control', :placeholder=>'E-mail' %>
    </div>
    <div class="form-group">
      <label for="exampleSelectGender">Telefone</label>
      <%= form.text_field :tel, :type =>'text',:class=>'form-control', :placeholder=>'Telefone sem Formatação' %>
    </div>
    <div class="form-group">
      <label for="exampleSelectGender">Senha do Contra Cheque</label>
      <%= form.text_field :senhaccheque, :type =>'text',:class=>'form-control', :placeholder=>'Senha do Contra Cheque' %>
    </div>
    <div class="form-group">
      <label for="exampleSelectGender">Matricula</label>
      <%= form.text_field :matricula, :type =>'text',:class=>'form-control', :placeholder=>'Matricula' %>
    </div>    
    <div class="form-group">
      <label for="exampleTextarea1">Observação</label>
      <%= form.text_area :Obs, :type =>'text',:class=>'form-control', :placeholder=>'Observação', :id=>'exampleTextarea1', :rows=>'4' %>
    </div>
    <div class="actions">
      <%= form.submit :class=>'btn btn-gradient-primary mr-2' %><%= link_to 'Back', clientes_path, :class=>'btn btn-gradient-danger mr-2' %>
    </div>
  </form>
</div>
</div>
<% end %>
