<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <a class="nav-link active btn-inverse-primary" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Dados</a><br>
  <a class="nav-link btn-inverse-primary" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Protocolo de Contrato</a><br>
  <a class="nav-link btn-inverse-primary" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Financeiro</a><br>
  <a class="nav-link btn-inverse-primary
    <%if Cliente.joins("join Itematendimentoclientes on itematendimentoclientes.cliente_id=clientes.id").where("itematendimentoclientes.quandoiraligar = ? and clientes.user_id = ? and clientes.id = ?","#{DateTime.now.to_s[0..9]}","#{current_user.id}","#{@cliente.id}").present?%>                     
    pulsar
    <% else%>           
    <%end%>" id="v-pills-atendimento-tab" data-toggle="pill" href="#v-pills-atendimento" role="tab" aria-controls="v-pills-atendimento" aria-selected="false">Atendimento</a><br>
    <a class="nav-link btn-inverse-primary" id="v-pills-doc-tab" data-toggle="pill" href="#v-pills-doc" role="tab" aria-controls="v-pills-doc" aria-selected="false">Documentação</a><br>
  <a class="nav-link btn-inverse-primary" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Envio de E-mail</a><br>
</div>
