  <% if @cliente.protocolos.first.present?%>
  <h3> 1° Protocolo de Contrato</h3>
  <p>
    <strong>Valor da parcela:</strong>
    <%= " #{@cliente.protocolos.first.valorparcela.to_dinheiro}" %>
  </p>
  <p>
    <strong>Prazo:</strong>
    <%= @cliente.protocolos.first.prazo %>
  </p>
  <p>
    <strong>Corretor:</strong>
    <%= User.where("id = ?","#{@cliente.protocolos.first.idcorretor}").pluck("nome").first%>   
  </p>
  <p>
    <strong>Gerente:</strong>
    <%= User.where("id = ?","#{Perm.where("user_id = ?","#{@cliente.protocolos.first.idcorretor}").pluck("idgerente").first}").pluck("nome").first%>
  </p>
  <p>
    <strong>Valor do Contrato:</strong>
    <%= " #{@cliente.protocolos.first.valorcontrato.to_dinheiro}" %>
  </p>
  <p>
    <strong>Valor da Prestação de Serviço:</strong>
    <%= " #{@cliente.protocolos.first.prestservico.to_dinheiro}" %>
  </p>
  <p>
    <strong>Cliente:</strong>
    <%= @cliente.protocolos.first.cliente_id %>
  </p>
  <p>
    <strong>Banco:</strong>
    <%= "#{Banco.where("id = ?","#{@cliente.protocolos.first.banco_id}").pluck("codigo").first}-#{Banco.where("id = ?","#{@cliente.protocolos.first.banco_id}").pluck("nome").first}" %>
  </p>
  <p>
    <%if Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.first.id}").present?  %>
      <strong> Status do Andamento:</strong>
      <%= Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.first.id}").pluck("status").first%>
      <br>
      <br>
      <strong>Observação: </strong>
      <%= Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.first.id}").pluck("obs").first%>
    <%else%>
      <div class="card bg-gradient-danger card-img-holder text-white">
        <div class="card-body">
          <h4 class="font-weight-normal mb-3">O Protocolo não tem o status do Andamento!<i class="mdi mdi-chart-line mdi-24px float-right"></i>
          </h4>
          <h2 class="mb-5"><%= link_to 'Anexar', protocolo_path(@cliente.protocolos.first.id ),:class=>'btn btn-rounded btn-danger' %></h2>
          <h6 class="card-text">Anexar o status é muito importante para saber como está o andamento do contrato!</h6>
        </div>
      </div>
    </p>
  <%end%>
  <br>
  <br>
  <%case Perm.where("user_id = ?","#{current_user.id}").pluck('cargo').first %>
  <%when '0'%>
  <% if Feedback.where("protocolo_id = ?","#{@cliente.protocolos.first.id}").pluck("id").first.present?%>
    <card class="card text-light bg-success">
      <card class="card-header">
        Feedback
      </card>
      <card class="card-body">
        <%= Feedback.where("protocolo_id = ?","#{@cliente.protocolos.first.id}").pluck("obs").first%>
      </card>
      <card class="card-footer">
        Operador: <%= User.where("id = ?","#{Feedback.where("protocolo_id = ?","#{@cliente.protocolos.first.id}").pluck("user_id").first}").pluck("nome").first%> |   <%= link_to 'Editar', edit_feedback_path(Feedback.where("protocolo_id = ?","#{@cliente.protocolos.first.id}").pluck("id").first) ,:class=>"btn btn-light" %>
      </card>
    </card>
    <br>
    <br>
    <%if Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.first.id}").pluck("id").present?%>
      <%= link_to 'Editar Status Protocolo!', edit_statusprotocolo_path(Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.first.id}").pluck("id").first),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
      <br>
      <br>
    <%end%>
    <%= link_to 'Editar Protocolo!', edit_protocolo_path(Protocolo.where("cliente_id = ?","#{@cliente.id}").pluck("id").first),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
  <%else%>
    <%if Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.first.id}").pluck("id").present?%>
      <%= link_to 'Editar Status Protocolo!', edit_statusprotocolo_path(Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.first.id}").pluck("id").first),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
      <br>
      <br>
    <%end%>
    <%= link_to 'Editar Protocolo!', edit_protocolo_path(Protocolo.where("cliente_id = ?","#{@cliente.id}").pluck("id").first),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
  <%end%>
  <%when '3'%>
  <% if Feedback.where("protocolo_id = ?","#{@cliente.protocolos.first.id}").pluck("id").first.present?%>
    <card class="card text-light bg-success">
      <card class="card-header">
        Feedback
      </card>
      <card class="card-body">
        <%= Feedback.where("protocolo_id = ?","#{@cliente.protocolos.first.id}").pluck("obs").first%>
      </card>
      <card class="card-footer">
        Operador: <%= User.where("id = ?","#{Feedback.where("protocolo_id = ?","#{@cliente.protocolos.first.id}").pluck("user_id").first}").pluck("nome").first%>
      </card>
    </card>
    <br>
    <br>
    <%if Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.first.id}").pluck("id").present?%>
      <%= link_to 'Editar Status Protocolo!', edit_statusprotocolo_path(Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.first.id}").pluck("id").first),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
      <br>
      <br>
    <%end%>
    <%= link_to 'Editar Protocolo!', edit_protocolo_path(Protocolo.where("cliente_id = ?","#{@cliente.id}").pluck("id").first),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
  <%else%>
    <%if Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.first.id}").pluck("id").present?%>
      <%= link_to 'Editar Status Protocolo!', edit_statusprotocolo_path(Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.first.id}").pluck("id").first),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
      <br>
      <br>
    <%end%>
    <%= link_to 'Editar Protocolo!', edit_protocolo_path(Protocolo.where("cliente_id = ?","#{@cliente.id}").pluck("id").first),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
  <%end%>
  <%when '2'%>
  <% if Feedback.where("protocolo_id = ?","#{@cliente.protocolos.first.id}").pluck("id").first.present?%>
    <card class="card text-light bg-success">
      <card class="card-header">
        Feedback
      </card>
      <card class="card-body">
        <%= Feedback.where("protocolo_id = ?","#{@cliente.protocolos.first.id}").pluck("obs").first%>
      </card>
      <card class="card-footer">
        Operador: <%= User.where("id = ?","#{Feedback.where("protocolo_id = ?","#{@cliente.protocolos.first.id}").pluck("user_id").first}").pluck("nome").first%>
      </card>
    </card>
    <br>
    <br>
    <%if Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.first.id}").pluck("id").present?%>
      <%= link_to 'Editar Status Protocolo!', edit_statusprotocolo_path(Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.first.id}").pluck("id").first),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
      <br>
      <br>
    <%end%>
    <%= link_to 'Editar Protocolo!', edit_protocolo_path(Protocolo.where("cliente_id = ?","#{@cliente.id}").pluck("id").first),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
  <%else%>
    <%if Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.first.id}").pluck("id").present?%>
      <%= link_to 'Editar Status Protocolo!', edit_statusprotocolo_path(Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.first.id}").pluck("id").first),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
      <br>
      <br>
    <%end%>
    <%= link_to 'Editar Protocolo!', edit_protocolo_path(Protocolo.where("cliente_id = ?","#{@cliente.id}").pluck("id").first),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
  <%end%>
  <%when '1'%>
  <%if Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.first.id}").pluck("id").present?%>
    <%= link_to 'Editar Status Protocolo!', edit_statusprotocolo_path(Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.first.id}").pluck("id").first),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
    <br>
    <br>
  <%end%>
  <% if Feedback.where("protocolo_id = ?","#{@cliente.protocolos.first.id}").pluck("id").first.present?%>
    <card class="card text-light bg-success">
      <card class="card-header">
        Feedback
      </card>
      <card class="card-body">
        <%= Feedback.where("protocolo_id = ?","#{@cliente.protocolos.first.id}").pluck("obs").first%>
      </card>
      <card class="card-footer">
        Operador: <%= User.where("id = ?","#{Feedback.where("protocolo_id = ?","#{@cliente.protocolos.first.id}").pluck("user_id").first}").pluck("nome").first%> |   <%= link_to 'Editar', edit_feedback_path(Feedback.where("protocolo_id = ?","#{@cliente.protocolos.first.id}").pluck("id").first) ,:class=>"btn btn-light" %>
      </card>
    </card>
  <%else%>
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header bg-gradient-danger" id="headingOne">
          <h5 class="mb-0">
            <button class="btn text-light" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <strong>FeedBack</strong>
            </button>
          </h5>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <%= form_with(model: [ @cliente, @cliente.feedbacks.build ], local: true) do |form| %>
              <%= form.hidden_field :protocolo_id, :value=>"#{@cliente.protocolos.first.id}"%>
              <%= form.hidden_field :user_id, :value=>"#{current_user.id}" %>
              <%= form.hidden_field :cliente_id, :value=>"#{@cliente.id}" %>
              <div class="field">
                <%= form.label :Seu_feedback %>
                <%= form.text_field :obs,:type=>"textarea",:class=>'form-control' %>
              </div>
              <br>
              <div class="actions">
                <%= form.submit 'Dar FeedBack', :class=>"btn btn-rounded btn-gradient-danger" %>
              </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  <%end%>
<%else%>
  <%if Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.first.id}").pluck("id").present?%>
    <%= link_to 'Editar Status Protocolo!', edit_statusprotocolo_path(Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.first.id}").pluck("id").first),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
    <br>
    <br>
  <%end%>
  <%= link_to 'Editar Protocolo!', edit_protocolo_path(Protocolo.where("cliente_id = ?","#{@cliente.id}").pluck("id").first),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
<%end%>
<br>
<br>
<%if @cliente.protocolos.second.present?%>
  <h3> 2° Protocolo de Contrato</h3>
  <p>
    <strong>Valor da parcela:</strong>
    <%= " #{@cliente.protocolos.second.valorparcela.to_dinheiro}" %>
  </p>
  <p>
    <strong>Prazo:</strong>
    <%= @cliente.protocolos.second.prazo %>
  </p>
  <p>
    <strong>Corretor:</strong>
    <%= User.where("id = ?","#{@cliente.protocolos.second.idcorretor}").pluck("nome").first%>   
  </p>
  <p>
    <strong>Gerente:</strong>
    <%= User.where("id = ?","#{Perm.where("user_id = ?","#{@cliente.protocolos.second.idcorretor}").pluck("idgerente").first}").pluck("nome").first%>
  </p>
  <p>
    <strong>Valor do Contrato:</strong>
    <%= " #{@cliente.protocolos.second.valorcontrato.to_dinheiro}" %>
  </p>
  <p>
    <strong>Valor da Prestação de Serviço:</strong>
    <%= " #{@cliente.protocolos.second.prestservico.to_dinheiro}" %>
  </p>
  <p>
    <strong>Cliente:</strong>
    <%= @cliente.protocolos.second.cliente_id %>
  </p>
  <p>
    <strong>Banco:</strong>
    <%= "#{Banco.where("id = ?","#{@cliente.protocolos.second.banco_id}").pluck("codigo").first}-#{Banco.where("id = ?","#{@cliente.protocolos.second.banco_id}").pluck("nome").first}" %>
  </p>
  <p>
    <%if Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.second.id}").present?  %>
      <strong> Status do Andamento:</strong>
      <%= Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.second.id}").pluck("status").first%>
      <br>
      <br>
      <strong>Observação: </strong>
      <%= Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.second.id}").pluck("obs").first%>
    <%else%>
      <div class="card bg-gradient-danger card-img-holder text-white">
        <div class="card-body">
          <h4 class="font-weight-normal mb-3">O Protocolo não tem o status do Andamento!<i class="mdi mdi-chart-line mdi-24px float-right"></i>
          </h4>
          <h2 class="mb-5"><%= link_to 'Anexar', protocolo_path(@cliente.protocolos.second.id ),:class=>'btn btn-rounded btn-danger' %></h2>
          <h6 class="card-text">Anexar o status é muito importante para saber como está o andamento do contrato!</h6>
        </div>
      </div>
    </p>
  <%end%>
  <br>
  <br>
  <%case Perm.where("user_id = ?","#{current_user.id}").pluck('cargo').first %>
  <%when '0'%>
  <% if Feedback.where("protocolo_id = ?","#{@cliente.protocolos.second.id}").pluck("id").first.present?%>
    <card class="card text-light bg-success">
      <card class="card-header">
        Feedback
      </card>
      <card class="card-body">
        <%= Feedback.where("protocolo_id = ?","#{@cliente.protocolos.second.id}").pluck("obs").first%>
      </card>
      <card class="card-footer">
        Operador: <%= User.where("id = ?","#{Feedback.where("protocolo_id = ?","#{@cliente.protocolos.second.id}").pluck("user_id").first}").pluck("nome").first%> |   <%= link_to 'Editar', edit_feedback_path(Feedback.where("protocolo_id = ?","#{@cliente.protocolos.second.id}").pluck("id").first) ,:class=>"btn btn-light" %>
      </card>
    </card>
    <br>
    <br>
    <%if Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.second.id}").pluck("id").present?%>
      <%= link_to 'Editar Status Protocolo!', edit_statusprotocolo_path(Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.second.id}").pluck("id").first),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
      <br>
      <br>
    <%end%>
    <%= link_to 'Editar Protocolo!', edit_protocolo_path(Protocolo.where("cliente_id = ?","#{@cliente.id}").pluck("id").second),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
    <br>
  <%else%>
    <br>
    <br>
    <%if Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.second.id}").pluck("id").present?%>
      <%= link_to 'Editar Status Protocolo!', edit_statusprotocolo_path(Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.second.id}").pluck("id").first),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
      <br>
      <br>
    <%end%>
    <%= link_to 'Editar Protocolo!', edit_protocolo_path(Protocolo.where("cliente_id = ?","#{@cliente.id}").pluck("id").second),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
    <br>
  <%end%>
  <%when '3'%>
  <% if Feedback.where("protocolo_id = ?","#{@cliente.protocolos.second.id}").pluck("id").first.present?%>
    <card class="card text-light bg-success">
      <card class="card-header">
        Feedback
      </card>
      <card class="card-body">
        <%= Feedback.where("protocolo_id = ?","#{@cliente.protocolos.second.id}").pluck("obs").first%>
      </card>
      <card class="card-footer">
        Operador: <%= User.where("id = ?","#{Feedback.where("protocolo_id = ?","#{@cliente.protocolos.second.id}").pluck("user_id").first}").pluck("nome").first%>
      </card>
    </card>
    <br>
    <br>
    <%if Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.second.id}").pluck("id").present?%>
      <%= link_to 'Editar Status Protocolo!', edit_statusprotocolo_path(Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.second.id}").pluck("id").first),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
      <br>
      <br>
    <%end%>
    <%= link_to 'Editar Protocolo!', edit_protocolo_path(Protocolo.where("cliente_id = ?","#{@cliente.id}").pluck("id").second),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
    <br>
  <%else%>
    <br>
    <br>
    <%if Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.second.id}").pluck("id").present?%>
      <%= link_to 'Editar Status Protocolo!', edit_statusprotocolo_path(Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.second.id}").pluck("id").first),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
      <br>
      <br>
    <%end%>
    <%= link_to 'Editar Protocolo!', edit_protocolo_path(Protocolo.where("cliente_id = ?","#{@cliente.id}").pluck("id").second),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
    <br>
  <%end%>
  <%when '2'%>
  <% if Feedback.where("protocolo_id = ?","#{@cliente.protocolos.second.id}").pluck("id").first.present?%>
    <card class="card text-light bg-success">
      <card class="card-header">
        Feedback
      </card>
      <card class="card-body">
        <%= Feedback.where("protocolo_id = ?","#{@cliente.protocolos.second.id}").pluck("obs").first%>
      </card>
      <card class="card-footer">
        Operador: <%= User.where("id = ?","#{Feedback.where("protocolo_id = ?","#{@cliente.protocolos.second.id}").pluck("user_id").first}").pluck("nome").first%>
      </card>
    </card>
    <br>
    <br>
    <%if Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.second.id}").pluck("id").present?%>
      <%= link_to 'Editar Status Protocolo!', edit_statusprotocolo_path(Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.second.id}").pluck("id").first),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
      <br>
      <br>
    <%end%>
    <%= link_to 'Editar Protocolo!', edit_protocolo_path(Protocolo.where("cliente_id = ?","#{@cliente.id}").pluck("id").second),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
    <br>
  <%else%>
    <br>
    <br>
    <%if Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.second.id}").pluck("id").present?%>
      <%= link_to 'Editar Status Protocolo!', edit_statusprotocolo_path(Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.second.id}").pluck("id").first),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
      <br>
      <br>
    <%end%>
    <%= link_to 'Editar Protocolo!', edit_protocolo_path(Protocolo.where("cliente_id = ?","#{@cliente.id}").pluck("id").second),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
    <br>
  <%end%>
  <%when '1'%>
  <%if Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.second.id}").pluck("id").present?%>
    <%= link_to 'Editar Status Protocolo!', edit_statusprotocolo_path(Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.first.id}").pluck("id").first),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
    <br>
    <br>
  <%end%>
  <% if Feedback.where("protocolo_id = ?","#{@cliente.protocolos.second.id}").pluck("id").first.present?%>
    <card class="card text-light bg-success">
      <card class="card-header">
        Feedback
      </card>
      <card class="card-body">
        <%= Feedback.where("protocolo_id = ?","#{@cliente.protocolos.second.id}").pluck("obs").first%>
      </card>
      <card class="card-footer">
        Operador: <%= User.where("id = ?","#{Feedback.where("protocolo_id = ?","#{@cliente.protocolos.second.id}").pluck("user_id").first}").pluck("nome").first%> |   <%= link_to 'Editar', edit_feedback_path(Feedback.where("protocolo_id = ?","#{@cliente.protocolos.second.id}").pluck("id").first) ,:class=>"btn btn-light" %>
      </card>
    </card>
  <%else%>
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header bg-gradient-danger" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn text-light collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <strong>FeedBack</strong>
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            <%= form_with(model: [ @cliente, @cliente.feedbacks.build ], local: true) do |form| %>
              <%= form.hidden_field :protocolo_id, :value=>"#{@cliente.protocolos.second.id}"%>
              <%= form.hidden_field :user_id, :value=>"#{current_user.id}" %>
              <%= form.hidden_field :cliente_id, :value=>"#{@cliente.id}" %>
              <div class="field">
                <%= form.label :Seu_feedback %>
                <%= form.text_field :obs,:type=>"textarea",:class=>'form-control' %>
              </div>
              <br>
              <div class="actions">
                <%= form.submit 'Dar FeedBack', :class=>"btn btn-rounded btn-gradient-danger" %>
              </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  <%end%>
<%else%>
  <%if Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.second.id}").pluck("id").present?%>
    <%= link_to 'Editar Status Protocolo!', edit_statusprotocolo_path(Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.second.id}").pluck("id").first),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
    <br>
    <br>
  <%end%>
  <%= link_to 'Editar Protocolo!', edit_protocolo_path(Protocolo.where("cliente_id = ?","#{@cliente.id}").pluck("id").second),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
  <br>
<%end%>
<br>
<%end%>
<%if @cliente.protocolos.third.present?%>
  <h3> 3° Protocolo de Contrato</h3>
  <p>
    <strong>Valor da parcela:</strong>
    <%= " #{@cliente.protocolos.third.valorparcela.to_dinheiro}" %>
  </p>
  <p>
    <strong>Prazo:</strong>
    <%= @cliente.protocolos.third.prazo %>
  </p>
  <p>
    <strong>Corretor:</strong>
    <%= User.where("id = ?","#{@cliente.protocolos.third.idcorretor}").pluck("nome").first%> 
  </p>
  <p>
    <strong>Gerente:</strong>
    <%= User.where("id = ?","#{Perm.where("user_id = ?","#{@cliente.protocolos.third.idcorretor}").pluck("idgerente").first}").pluck("nome").first%>
  </p>
  <p>
    <strong>Valor do Contrato:</strong>
    <%= " #{@cliente.protocolos.third.valorcontrato.to_dinheiro}" %>
  </p>
  <p>
    <strong>Valor da Prestação de Serviço:</strong>
    <%= " #{@cliente.protocolos.third.prestservico.to_dinheiro}" %>
  </p>
  <p>
    <strong>Cliente:</strong>
    <%= @cliente.protocolos.third.cliente_id %>
  </p>
  <p>
    <strong>Banco:</strong>
    <%= "#{Banco.where("id = ?","#{@cliente.protocolos.third.banco_id}").pluck("codigo").first}-#{Banco.where("id = ?","#{@cliente.protocolos.third.banco_id}").pluck("nome").first}" %>
  </p>
  <p>
    <%if Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.third.id}").present?  %>
      <strong> Status do Andamento:</strong>
      <%= Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.third.id}").pluck("status").first%>
      <br>
      <br>
      <strong>Observação: </strong>
      <%= Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.third.id}").pluck("obs").first%>
    <%else%>
      <div class="card bg-gradient-danger card-img-holder text-white">
        <div class="card-body">
          <h4 class="font-weight-normal mb-3">O Protocolo não tem o status do Andamento!<i class="mdi mdi-chart-line mdi-24px float-right"></i>
          </h4>
          <h2 class="mb-5"><%= link_to 'Anexar', protocolo_path(@cliente.protocolos.third.id ),:class=>'btn btn-rounded btn-danger' %></h2>
          <h6 class="card-text">Anexar o status é muito importante para saber como está o andamento do contrato!</h6>
        </div>
      </div>
    </p>
  <%end%>
  <br>
  <br>
  <%case Perm.where("user_id = ?","#{current_user.id}").pluck('cargo').first %>
  <%when '0'%>
  <% if Feedback.where("protocolo_id = ?","#{@cliente.protocolos.third.id}").pluck("id").first.present?%>
    <card class="card text-light bg-success">
      <card class="card-header">
        Feedback
      </card>
      <card class="card-body">
        <%= Feedback.where("protocolo_id = ?","#{@cliente.protocolos.third.id}").pluck("obs").first%>
      </card>
      <card class="card-footer">
        Operador: <%= User.where("id = ?","#{Feedback.where("protocolo_id = ?","#{@cliente.protocolos.third.id}").pluck("user_id").first}").pluck("nome").first%> |   <%= link_to 'Editar', edit_feedback_path(Feedback.where("protocolo_id = ?","#{@cliente.protocolos.third.id}").pluck("id").first) ,:class=>"btn btn-light" %>
      </card>
    </card>
    <br>
    <br>
    <%if Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.third.id}").pluck("id").present?%>
      <%= link_to 'Editar Status Protocolo!', edit_statusprotocolo_path(Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.third.id}").pluck("id").first),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
      <br>
      <br>
    <%end%>
    <%= link_to 'Editar Protocolo!', edit_protocolo_path(Protocolo.where("cliente_id = ?","#{@cliente.id}").pluck("id")),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
    <br>
  <%else%>
    <%if Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.third.id}").pluck("id").present?%>
      <%= link_to 'Editar Status Protocolo!', edit_statusprotocolo_path(Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.third.id}").pluck("id").first),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
      <br>
      <br>
    <%end%>
    <%= link_to 'Editar Protocolo!', edit_protocolo_path(Protocolo.where("cliente_id = ?","#{@cliente.id}").pluck("id")),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
    <br>
  <%end%>
  <%when '3'%>
  <% if Feedback.where("protocolo_id = ?","#{@cliente.protocolos.third.id}").pluck("id").first.present?%>
    <card class="card text-light bg-success">
      <card class="card-header">
        Feedback
      </card>
      <card class="card-body">
        <%= Feedback.where("protocolo_id = ?","#{@cliente.protocolos.third.id}").pluck("obs").first%>
      </card>
      <card class="card-footer">
        Operador: <%= User.where("id = ?","#{Feedback.where("protocolo_id = ?","#{@cliente.protocolos.third.id}").pluck("user_id").first}").pluck("nome").first%>
      </card>
    </card>
    <br>
    <br>
    <%if Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.third.id}").pluck("id").present?%>
      <%= link_to 'Editar Status Protocolo!', edit_statusprotocolo_path(Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.third.id}").pluck("id").first),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
      <br>
      <br>
    <%end%>
    <%= link_to 'Editar Protocolo!', edit_protocolo_path(Protocolo.where("cliente_id = ?","#{@cliente.id}").pluck("id")),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
    <br>
  <%else%>
    <%if Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.third.id}").pluck("id").present?%>
      <%= link_to 'Editar Status Protocolo!', edit_statusprotocolo_path(Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.third.id}").pluck("id").first),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
      <br>
      <br>
    <%end%>
    <%= link_to 'Editar Protocolo!', edit_protocolo_path(Protocolo.where("cliente_id = ?","#{@cliente.id}").pluck("id")),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
    <br>
  <%end%>
  <%when '2'%>
  <% if Feedback.where("protocolo_id = ?","#{@cliente.protocolos.third.id}").pluck("id").first.present?%>
    <card class="card text-light bg-success">
      <card class="card-header">
        Feedback
      </card>
      <card class="card-body">
        <%= Feedback.where("protocolo_id = ?","#{@cliente.protocolos.third.id}").pluck("obs").first%>
      </card>
      <card class="card-footer">
        Operador: <%= User.where("id = ?","#{Feedback.where("protocolo_id = ?","#{@cliente.protocolos.third.id}").pluck("user_id").first}").pluck("nome").first%>
      </card>
    </card>
    <br>
    <br>
    <%if Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.third.id}").pluck("id").present?%>
      <%= link_to 'Editar Status Protocolo!', edit_statusprotocolo_path(Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.third.id}").pluck("id").first),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
      <br>
      <br>
    <%end%>
    <%= link_to 'Editar Protocolo!', edit_protocolo_path(Protocolo.where("cliente_id = ?","#{@cliente.id}").pluck("id")),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
    <br>
  <%else%>
    <%if Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.third.id}").pluck("id").present?%>
      <%= link_to 'Editar Status Protocolo!', edit_statusprotocolo_path(Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.third.id}").pluck("id").first),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
      <br>
      <br>
    <%end%>
    <%= link_to 'Editar Protocolo!', edit_protocolo_path(Protocolo.where("cliente_id = ?","#{@cliente.id}").pluck("id")),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
    <br>
  <%end%>
  <%when '1'%>
  <%if Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.third.id}").pluck("id").present?%>
    <%= link_to 'Editar Status Protocolo!', edit_statusprotocolo_path(Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.first.id}").pluck("id").first),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
    <br>
    <br>
  <%end%>
  <% if Feedback.where("protocolo_id = ?","#{@cliente.protocolos.third.id}").pluck("id").first.present?%>
    <card class="card text-light bg-success">
      <card class="card-header">
        Feedback
      </card>
      <card class="card-body">
        <%= Feedback.where("protocolo_id = ?","#{@cliente.protocolos.third.id}").pluck("obs").first%>
      </card>
      <card class="card-footer">
        Operador: <%= User.where("id = ?","#{Feedback.where("protocolo_id = ?","#{@cliente.protocolos.third.id}").pluck("user_id").first}").pluck("nome").first%> |   <%= link_to 'Editar', edit_feedback_path(Feedback.where("protocolo_id = ?","#{@cliente.protocolos.third.id}").pluck("id").first) ,:class=>"btn btn-light" %>
      </card>
    </card>
  <%else%>
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header bg-gradient-danger" id="headingThree">
          <h5 class="mb-0">
            <button class="btn text-light collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <strong>FeedBack</strong>
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            <%= form_with(model: [ @cliente, @cliente.feedbacks.build ], local: true) do |form| %>
              <%= form.hidden_field :protocolo_id, :value=>"#{@cliente.protocolos.third.id}"%>
              <%= form.hidden_field :user_id, :value=>"#{current_user.id}" %>
              <%= form.hidden_field :cliente_id, :value=>"#{@cliente.id}" %>
              <div class="field">
                <%= form.label :Seu_feedback %>
                <%= form.text_field :obs,:type=>"textarea",:class=>'form-control' %>
              </div>
              <br>
              <div class="actions">
                <%= form.submit 'Dar FeedBack', :class=>"btn btn-rounded btn-gradient-danger" %>
              </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  <%end%>
<%else%>
  <%if Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.third.id}").pluck("id").present?%>
    <%= link_to 'Editar Status Protocolo!', edit_statusprotocolo_path(Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.third.id}").pluck("id").first),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
    <br>
    <br>
  <%end%>
  <%= link_to 'Editar Protocolo!', edit_protocolo_path(Protocolo.where("cliente_id = ?","#{@cliente.id}").pluck("id")),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
<%end%>
<br>
<br>
<%end%>
<%if @cliente.protocolos.fourth.present?%>
  <h3> 4° Protocolo de Contrato</h3>
  <p>
    <strong>Valor da parcela:</strong>
    <%= " #{@cliente.protocolos.fourth.valorparcela.to_dinheiro}" %>
  </p>
  <p>
    <strong>Prazo:</strong>
    <%= @cliente.protocolos.fourth.prazo %>
  </p>
  <p>
    <strong>Corretor:</strong>
    <%= User.where("id = ?","#{@cliente.protocolos.fourth.idcorretor}").pluck("nome").first%>
  </p>
  <p>
    <strong>Gerente:</strong>
    <%= User.where("id = ?","#{Perm.where("user_id = ?","#{@cliente.protocolos.fourth.idcorretor}").pluck("idgerente").first}").pluck("nome").first%>
  </p>
  <p>
    <strong>Valor do Contrato:</strong>
    <%= " #{@cliente.protocolos.fourth.valorcontrato.to_dinheiro}" %>
  </p>
  <p>
    <strong>Valor da Prestação de Serviço:</strong>
    <%= " #{@cliente.protocolos.fourth.prestservico.to_dinheiro}" %>
  </p>
  <p>
    <strong>Cliente:</strong>
    <%= @cliente.protocolos.fourth.cliente_id %>
  </p>
  <p>
    <strong>Banco:</strong>
    <%= "#{Banco.where("id = ?","#{@cliente.protocolos.fourth.banco_id}").pluck("codigo").first}-#{Banco.where("id = ?","#{@cliente.protocolos.fourth.banco_id}").pluck("nome").first}" %>
  </p>
  <p>
    <%if Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.fourth.id}").present?  %>
      <strong> Status do Andamento:</strong>
      <%= Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.fourth.id}").pluck("status").first%>
      <br>
      <br>
      <strong>Observação: </strong>
      <%= Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.fourth.id}").pluck("obs").first%>
    <%else%>
      <div class="card bg-gradient-danger card-img-holder text-white">
        <div class="card-body">
          <h4 class="font-weight-normal mb-3">O Protocolo não tem o status do Andamento!<i class="mdi mdi-chart-line mdi-24px float-right"></i>
          </h4>
          <h2 class="mb-5"><%= link_to 'Anexar', protocolo_path(@cliente.protocolos.fourth.id ),:class=>'btn btn-rounded btn-danger' %></h2>
          <h6 class="card-text">Anexar o status é muito importante para saber como está o andamento do contrato!</h6>
        </div>
      </div>
    </p>
  <%end%>
  <br>
  <br>
  <%case Perm.where("user_id = ?","#{current_user.id}").pluck('cargo').first %>
  <%when '0'%>
  <% if Feedback.where("protocolo_id = ?","#{@cliente.protocolos.fourth.id}").pluck("id").first.present?%>
    <card class="card text-light bg-success">
      <card class="card-header">
        Feedback
      </card>
      <card class="card-body">
        <%= Feedback.where("protocolo_id = ?","#{@cliente.protocolos.fourth.id}").pluck("obs").first%>
      </card>
      <card class="card-footer">
        Operador: <%= User.where("id = ?","#{Feedback.where("protocolo_id = ?","#{@cliente.protocolos.fourth.id}").pluck("user_id").first}").pluck("nome").first%> |   <%= link_to 'Editar', edit_feedback_path(Feedback.where("protocolo_id = ?","#{@cliente.protocolos.fourth.id}").pluck("id").first) ,:class=>"btn btn-light" %>
      </card>
    </card>
    <br>
    <br>
    <%if Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.fourth.id}").pluck("id").present?%>
      <%= link_to 'Editar Status Protocolo!', edit_statusprotocolo_path(Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.fourth.id}").pluck("id").first),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
      <br>
      <br>
    <%end%>
    <%= link_to 'Editar Protocolo!', edit_protocolo_path(Protocolo.where("cliente_id = ?","#{@cliente.id}").pluck("id")),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
    <br>
  <%else%>
    <%if Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.fourth.id}").pluck("id").present?%>
      <%= link_to 'Editar Status Protocolo!', edit_statusprotocolo_path(Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.fourth.id}").pluck("id").first),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
      <br>
      <br>
    <%end%>
    <%= link_to 'Editar Protocolo!', edit_protocolo_path(Protocolo.where("cliente_id = ?","#{@cliente.id}").pluck("id")),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
    <br>
  <%end%>
  <%when '3'%>
  <% if Feedback.where("protocolo_id = ?","#{@cliente.protocolos.fourth.id}").pluck("id").first.present?%>
    <card class="card text-light bg-success">
      <card class="card-header">
        Feedback
      </card>
      <card class="card-body">
        <%= Feedback.where("protocolo_id = ?","#{@cliente.protocolos.fourth.id}").pluck("obs").first%>
      </card>
      <card class="card-footer">
        Operador: <%= User.where("id = ?","#{Feedback.where("protocolo_id = ?","#{@cliente.protocolos.fourth.id}").pluck("user_id").first}").pluck("nome").first%>
      </card>
    </card>
    <br>
    <br>
    <%if Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.fourth.id}").pluck("id").present?%>
      <%= link_to 'Editar Status Protocolo!', edit_statusprotocolo_path(Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.fourth.id}").pluck("id").first),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
      <br>
      <br>
    <%end%>
    <%= link_to 'Editar Protocolo!', edit_protocolo_path(Protocolo.where("cliente_id = ?","#{@cliente.id}").pluck("id")),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
    <br>
  <%else%>
    <%if Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.fourth.id}").pluck("id").present?%>
      <%= link_to 'Editar Status Protocolo!', edit_statusprotocolo_path(Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.fourth.id}").pluck("id").first),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
      <br>
      <br>
    <%end%>
    <%= link_to 'Editar Protocolo!', edit_protocolo_path(Protocolo.where("cliente_id = ?","#{@cliente.id}").pluck("id")),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
    <br>
  <%end%>
  <%when '2'%>
  <% if Feedback.where("protocolo_id = ?","#{@cliente.protocolos.fourth.id}").pluck("id").first.present?%>
    <card class="card text-light bg-success">
      <card class="card-header">
        Feedback
      </card>
      <card class="card-body">
        <%= Feedback.where("protocolo_id = ?","#{@cliente.protocolos.fourth.id}").pluck("obs").first%>
      </card>
      <card class="card-footer">
        Operador: <%= User.where("id = ?","#{Feedback.where("protocolo_id = ?","#{@cliente.protocolos.fourth.id}").pluck("user_id").first}").pluck("nome").first%>
      </card>
    </card>
    <br>
    <br>
    <%if Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.fourth.id}").pluck("id").present?%>
      <%= link_to 'Editar Status Protocolo!', edit_statusprotocolo_path(Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.fourth.id}").pluck("id").first),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
      <br>
      <br>
    <%end%>
    <%= link_to 'Editar Protocolo!', edit_protocolo_path(Protocolo.where("cliente_id = ?","#{@cliente.id}").pluck("id")),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
    <br>
  <%else%>
    <%if Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.fourth.id}").pluck("id").present?%>
      <%= link_to 'Editar Status Protocolo!', edit_statusprotocolo_path(Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.fourth.id}").pluck("id").first),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
      <br>
      <br>
    <%end%>
    <%= link_to 'Editar Protocolo!', edit_protocolo_path(Protocolo.where("cliente_id = ?","#{@cliente.id}").pluck("id")),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
    <br>
  <%end%>
  <%when '1'%>
  <%if Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.fourth.id}").pluck("id").present?%>
    <%= link_to 'Editar Status Protocolo!', edit_statusprotocolo_path(Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.first.id}").pluck("id").first),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
    <br>
    <br>
  <%end%>
  <% if Feedback.where("protocolo_id = ?","#{@cliente.protocolos.fourth.id}").pluck("id").first.present?%>
    <card class="card text-light bg-success">
      <card class="card-header">
        Feedback
      </card>
      <card class="card-body">
        <%= Feedback.where("protocolo_id = ?","#{@cliente.protocolos.fourth.id}").pluck("obs").first%>
      </card>
      <card class="card-footer">
        Operador: <%= User.where("id = ?","#{Feedback.where("protocolo_id = ?","#{@cliente.protocolos.fourth.id}").pluck("user_id").first}").pluck("nome").first%> |   <%= link_to 'Editar', edit_feedback_path(Feedback.where("protocolo_id = ?","#{@cliente.protocolos.fourth.id}").pluck("id").first) ,:class=>"btn btn-light" %>
      </card>
    </card>
  <%else%>
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header bg-gradient-danger" id="headingFor">
          <h5 class="mb-0">
            <button class="btn text-light collapsed" type="button" data-toggle="collapse" data-target="#collapseFor" aria-expanded="false" aria-controls="collapseFor">
              <strong>FeedBack</strong>
            </button>
          </h5>
        </div>
        <div id="collapseFor" class="collapse" aria-labelledby="headingFor" data-parent="#accordionExample">
          <div class="card-body">
            <%= form_with(model: [ @cliente, @cliente.feedbacks.build ], local: true) do |form| %>
              <%= form.hidden_field :protocolo_id, :value=>"#{@cliente.protocolos.fourth.id}"%>
              <%= form.hidden_field :user_id, :value=>"#{current_user.id}" %>
              <%= form.hidden_field :cliente_id, :value=>"#{@cliente.id}" %>
              <div class="field">
                <%= form.label :Seu_feedback %>
                <%= form.text_field :obs,:type=>"textarea",:class=>'form-control' %>
              </div>
              <br>
              <div class="actions">
                <%= form.submit 'Dar FeedBack', :class=>"btn btn-rounded btn-gradient-danger" %>
              </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  <%end%>
<%else%>
  <%if Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.fourth.id}").pluck("id").present?%>
    <%= link_to 'Editar Status Protocolo!', edit_statusprotocolo_path(Statusprotocolo.where("protocolo_id = ?","#{@cliente.protocolos.fourth.id}").pluck("id").first),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
    <br>
    <br>
  <%end%>
  <%= link_to 'Editar Protocolo!', edit_protocolo_path(Protocolo.where("cliente_id = ?","#{@cliente.id}").pluck("id")),:class=>'btn btn-sm btn-rounded btn-gradient-info' %>
<%end%>
<br>
<br>
<%end%>
<button type="button" class="btn btn-sm  btn-rounded btn-gradient-info" data-toggle="modal" data-target="#exampleModalCenter">
  Cadastrar Mais 1 Protocolo de Contrato
</button>
<!-- Modal -->
<div class="modal fade " id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title " id="exampleModalCenterTitle">Cadastro de Protocolo
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left">
        <%= form_with(model: [ @cliente, @cliente.protocolos.build ], local: true) do |form| %>
          <%= form.hidden_field :cliente_id %>
          <form class="forms-sample">
            <div class="form-group">
              <label for="exampleInputEmail3">Banco</label>
              <br>
              <%= collection_select(:protocolo,:banco_id,Banco.all,:id,:nome, {}, { :class => 'form-control' }) %>
            </div>
            <div class="form-group">
              <label for="exampleInputName1">Valor da Parcela (*)</label>
              <%= input_dinheiro_precisao form, :valorparcela, ("Valor da Parcela"),place_holder: "Valor da Parcela" %>
            </div>
            <div class="form-group">
              <label for="exampleInputName1">Prazo (*)</label>
              <br>
              <%= form.number_field :prazo, :type =>'numeric',:class=>'form-control', :placeholder=>'Prazo' %>
            </div>
            <div class="form-group">
              <label for="exampleInputName1">Corretor ou Gerente Responsavel(*)</label>
              <br>
              <%= form.select :idcorretor, @users.collect { |user| ["#{Perm.where("user_id = ?","#{user.id}").pluck("cargo").first} - #{user.nome}", user.id] }, {}, { :class => 'form-control' } %>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail3">Valor do Contrato</label>
              <%= input_dinheiro_precisao form, :valorcontrato, ("Valor do Contrato"),place_holder: "Digite o Valor do Contrato" %>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail3">Tipo de Emprestimo</label>
              <%= form.select :tipoemprestimo,['Margem livre','Refin','Refin + margem','Portabilidade','Portabilidade com redução de parcela','Compra de dívida','Cartão consignado','Unificação de parcela'], {}, { :class => 'form-control' }%>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail3">Orgão</label>
              <%= form.select :orgao,['Estado','Prefeitura','INSS','Federal','Siape','Aeronautica','Marinha','Exercito'], {}, { :class => 'form-control' }%>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail3">Prestação de Serviço</label>
              <%= input_dinheiro_precisao form, :prestservico, ("Pestação de Serviço"),place_holder: "Digite a Pestação de Serviço" %>
            </div>
            <%= form.submit :class=>'btn btn-rounded btn-gradient-primary' %>
          <%end%>
        </form>
      </div>
    </div>
  </div>
</div>
<%else%>
  <div class="text-center">
    O Cliente Selecionado não tem Protocolo de Contrato!
    <br>
    <button type="button" class="btn btn-gradient-info" data-toggle="modal" data-target="#exampleModalCenter">
      Cadastrar Protocolo de Contrato
    </button>
    <!-- Modal -->
    <div class="modal fade " id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title " id="exampleModalCenterTitle">Cadastro de Protocolo
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-left">
            <%= form_with(model: [ @cliente, @cliente.protocolos.build ], local: true) do |form| %>
              <%= form.hidden_field :cliente_id %>
              <form class="forms-sample">
                <div class="form-group">
                  <label for="exampleInputEmail3">Banco</label><br>
                  <%= collection_select(:protocolo,:banco_id,Banco.all,:id,:nome) %>
                </div>
                <div class="form-group">
                  <label for="exampleInputName1">Valor da Parcela (*)</label>
                  <%= input_dinheiro_precisao form, :valorparcela, ("Valor da Parcela"),place_holder: "Valor da Parcela" %>
                </div>
                <div class="form-group">
                  <label for="exampleInputName1">Prazo (*)</label><br>
                  <%= form.number_field :prazo, :type =>'text',:class=>'form-control', :placeholder=>'Prazo' %>
                </div>
                <div class="form-group">
                  <label for="exampleInputName1">Corretor(*)</label><br>
                  <%= form.select :idcorretor, @users.collect { |user| [user.nome, user.id] } %>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail3">Valor do Contrato</label>
                  <%= input_dinheiro_precisao form, :valorcontrato, ("Valor do Contrato"),place_holder: "Digite o Valor do Contrato" %>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail3">Tipo de Emprestimo</label>
                  <%= form.select :tipoemprestimo,['Margem livre','Refin','Refin + margem','Portabilidade','Portabilidade com redução de parcela','Compra de dívida','Cartão consignado','Unificação de parcela'], {}, { :class => 'form-control' }%>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail3">Orgão</label>
                  <%= form.select :orgao,['Estado','Prefeitura','INSS','Federal','Siape','Aeronautica','Marinha','Exercito'], {}, { :class => 'form-control' }%>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail3">Prestação de Serviço</label>
                  <%= input_dinheiro_precisao form, :prestservico, ("Pestação de Serviço"),place_holder: "Digite a Pestação de Serviço" %>
                </div>
                <%= form.submit :class=>'btn btn-rounded btn-gradient-primary' %>
              <% end %>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
<%end%>
