<p id="notice"><%= notice %></p>
<div class="page-header">
<h3 class="page-title">
<span class="page-title-icon bg-gradient-primary text-white mr-2">
<i class="mdi mdi-home"></i>
</span>Lista de Clientes <%= link_to 'Novo Cliente', new_cliente_path , :class=>'btn btn-sm btn-gradient-primary',:"data-turbolinks" => false %></h3>
</div>

<div class="card table-resposive">
  <div class="card-body">                   
<table class ="table table-hover" id="datatable">
  <thead>
    <tr>
      <th>id</th>
      <th>Nome</th>
      <th>Cpf</th>
      <th>Telefone</th>
      <th>Data de Nascimento</th>
      <th>Progresso</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td><%= cliente.id %></td>
        <td><%= cliente.nome.upcase %></td>
        <td><%= cliente.cpfcliente %></td>
        <td><%= cliente.telcliente %></td>
        <td><%= cliente.datanacimentocliente %></td>
        <td>
          <%if Protocolo.where("cliente_id = ?","#{cliente.id}").pluck("id").first.present?%>
          <div class="progress">
            <div class="progress-bar bg-primary progress-bar-striped" role="progressbar" style="width: <%= Statusprotocolo.where("protocolo_id = ?","#{Protocolo.where("cliente_id = ?","#{cliente.id}").pluck("id").first}").pluck("progress").first %>%" aria-valuenow="<%= Statusprotocolo.where("protocolo_id = ?","#{Protocolo.where("cliente_id = ?","#{cliente.id}").pluck("id").first}").pluck("progress").first %>" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <%else%>
          <%end%>
        </td>
        <td><%= link_to 'Show', cliente , :class=>'btn btn-sm btn-gradient-warning' %>
        <%= link_to 'Edit',edit_cliente_path(cliente), :class=>'mdi mdi-pencil btn btn-sm btn-gradient-info' %></td>
        <!--td><%= link_to 'Destroy', cliente, method: :delete, data: { confirm: 'Are you sure?' } %></td-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div></div>

<script type="text/javascript">
  $('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})

$('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text('New message to ' + recipient)
  modal.find('.modal-body input').val(recipient)
})
</script>


<script type="text/javascript">
$(document).ready( function () {
    $('#datatable').DataTable();
} );
</script>
