<p id="notice">
  <%= notice %>
</p>
<style>
  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
      color: #fff;
      background-color: #8DC74C;
  }
  .btn-inverse-primary {
      background-color: rgba(141, 199, 76, 0.2);
      }
  
  .btn-inverse-primary.focus, .btn-inverse-primary:focus {
      -webkit-box-shadow: 0 0 0 3px rgba(141, 199, 76, 0.5);
      box-shadow: 0 0 0 3px rgba(141, 199, 76, 0.5);
  }
  .modal-content {
    width: 150%
    }
</style>
<div class="page-header">
  <h3 class="page-title">
    <span class="page-title-icon bg-gradient-primary text-white mr-2">
      <i class="mdi mdi-home"></i>
    </span> Cliente: <%= @cliente.nome.titleize %>
    <a class="btn btn-primary btn-sm" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      Feedback
    </a>
  </h3>
  <nav aria-label="breadcrumb">
    <ul class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">
        <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
      </li>
    </ul>
  </nav>
</div>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <%= form_with(model: @notice, local: true, id:@cliente.id) do |form| %>
      <%= form.hidden_field :lido, :value=>"N"%>
      <%= form.hidden_field :acao_id,:value=>"#{@cliente.id}" %>
      <%= form.hidden_field :form, :value=>"clientes" %>
      <%= form.hidden_field :user_id, :value=> "#{current_user.id}" %>
      <%= form.hidden_field :user_destino, :value=> "#{@cliente.user_id}" %>
      <div class="field">
        <%= form.label :mensagem %><br>
        <%= form.text_area :mensagem,class:'form-control' %><br>
      </div>
    <%end%>
    <button class="btn btn-inverse-primary btn-sm" onclick="feedback()">
      Postar
    </button>
  </div>
  <br>
</div>
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-3">
        <%= render 'clientes/navs'%>
      </div>
      <div class="col-9">
        <%= render 'clientes/exibir'%>
      </div>
      <div class="footer-card">
        <%= link_to 'Editar', edit_cliente_path(@cliente), :class=>'btn btm-sm btn-gradient-info float-left'  %>
        <%= link_to 'Voltar', clientes_path, :class=>'btn btm-sm btn-gradient-danger float-right' %>
      </div>
    </div>
  </div>
  <script>
    function feedback() {
      if ( $.ajax({
    type: 'POST',
    url: '../notices',
    data: $('#<%=@cliente.id%>').serialize(),
    dataType: 'JSON'})) {
          Swal.fire({
        icon: 'success',
        title: 'Feedback Enviado!',
        showConfirmButton: false,
        timer: 1500
      });
      $('#notice_mensagem').val('')         
      }else{
          Swal.fire({
        icon: 'error',
        title: 'Feedback não Enviado!',
        showConfirmButton: false,
        timer: 1500
      }); 
      };    
    };
  </script>
