<%= form_with(model: @solicitacoe, local: true) do |form| %>
  <% if @solicitacoe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@solicitacoe.errors.count, "error") %> prohibited this solicitaco from being saved:</h2>

      <ul>
        <% @solicitacoe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<table class="table">
  <thead>
    <tr>
      <th scope="col"> <%= form.label :titulo %></th>
      <th scope="col"> <%= form.label :Data_da_abertura %></th>
      <th scope="col"><%= form.label :finalizado %></th>
      <th scope="col"><%= form.label :Usuário_destino %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> <%= form.text_field :titulo, :type =>'text',:class=>'form-control', :placeholder=>'Titulo da Solicitação'%></td>
      <td> <%= form.date_field :dataabertura %></td>
      <td><%= form.select :finalizado,[["Não"],["Sim"]] %></td>
      <td> <%= form.select :userdestino,[["Admin",0],["Operacional",1],["Gerente",2],["Corretor",3]] %></td>
    </tr>
  </tbody>
</table>

    <%= form.hidden_field :user_id , value: current_user.id%>



  <div class="actions">
    <%= form.submit 'Criar Solicitação' ,:class=>'btn btn-gradient-primary' %>   <%= link_to 'Voltar', solicitacoes_path ,:class=>'btn btn-gradient-danger' %>
  </div>
<% end %>
