<p id="notice"><%= notice %></p>

<card class="card">
<card class="card-body">

<h1>Solicitações <%= link_to 'Abrir Solicitação', new_solicitaco_path,:class=>'btn btn-gradient-info' %> </h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Data da Abertura</th>
      <th>Finalizado</th>
      <th>User</th>
      <th>Userdestino</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @solicitacoes.each do |solicitaco| %>

    <%if solicitaco.itemsolics.present?%>
      <%case Itemsolic.where("solicitacoe_id = ?","#{solicitaco.id}").order("created_at desc").pluck("user_id").first %>
      <%when !current_user%>
        <tr class="bg-danger">
      <%else%>
        <tr>
      <%end%>
    <%else%>
        <tr>
    <%end%>
        <td><%= solicitaco.titulo.to_s[0..25]... %></td>
        <td><%= "#{solicitaco.dataabertura.to_s[8..9]}/#{solicitaco.dataabertura.to_s[5..6]}/#{solicitaco.dataabertura.to_s[0..3]}" %></td>
        <td><%= solicitaco.finalizado %></td>
        <td><%= User.where("id = ?","#{solicitaco.user_id}").pluck("nome").first  %></td>
        <%case solicitaco.userdestino%>
        <%when 0%>
        <td>Administradores</td>
        <%when 1%>
        <td>Operacional</td>
        <%when 2%>
        <td>Gerência</td>
        <%when 3%>
        <td>Corretores</td>
        <%else%>
        ERRO
        <%end%>
        <td><%= link_to 'Exibir', solicitaco,:class=>'btn btn-sm btn-gradient-warning' %></td>
        <td><%= link_to 'Editar', edit_solicitaco_path(solicitaco),:class=>'btn btn-sm btn-gradient-info' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


</card>
</card>
