<p id="notice"><%= notice %></p>
<card class="card ">
<card class="card-body">
<table class="table table-striped">
  <thead class="bg-gradient-primary text-light">
    <tr>
      <th colspan="5"><h3>
        <strong>Titulo:
        <%= @solicitacoe.titulo %></strong>
        <%= form_tag(solicitaco_path, :method => :get) do%>
          <%= hidden_field_tag 'finalizar', '1', :class=>'form-control'%>
         <%= submit_tag "Finalizar", :class => 'btn btn-light btn-round' %>
      <%end%>
      </h3>
      </th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><strong>Data da :</strong>

            <%= "#{@solicitacoe.dataabertura.to_s[8..9]}/#{@solicitacoe.dataabertura.to_s[5..6]}/#{@solicitacoe.dataabertura.to_s[0..3]}" %>
        </td>
        <td>
  <strong>Finalizado:</strong>
  <%= @solicitacoe.finalizado %>
</td>
        <td><strong>User:</strong>
              <%= User.where("id = ?","#{@solicitacoe.user_id}").pluck("nome").first  %></td>

        <td><strong>Userdestino:</strong>
                <%case @solicitacoe.userdestino%>
        <%when 0%>
        Administradores
        <%when 1%>
        Operacional
        <%when 2%>
        Gerência
        <%when 3%>
       Corretores
        <%else%>
        ERRO
        <%end%>
</td>
      </tr>
  </tbody>
</table>


<br>
<div class="float-right">
<%= link_to 'Voltar', solicitacoes_path,:class=>"btn btn-gradient-danger" %>
</div>
<br>
<br>
<br>
<!-- <div class="guarashadow card  float-right bg-gradient-danger w-50 p-3 " style="height: 150px;"> -->
<% Itemsolic.where("solicitacoe_id = ?","#{@solicitacoe.id}").each do |item| %>

<card class="card">
  <div class="">
  <%case item.user_id %>
  <%when current_user.id%>
      <div class="guarashadow card float-sm-left bg-gradient-success w-50 p-3" style="height: 150px;">
  <%else%>
      <div class="guarashadow card  float-right bg-gradient-danger w-50 p-3 " style="height: 150px;">
  <%end%>
        <div class="card-body">
               <strong> <a><%= item.obs%></a></strong>
             <div class="card-stats">
              <div class="stats ml-auto">
                    <a class="material-icons"><%= User.where("id = ?","#{item.user_id}").pluck("nome").first%></a>
                    <i class="material-icons"><%= item.created_at%></i>
                </div>
            </div>
        </div>
     </div>
  </div>
  <br>
  <br>
</card>
<%end%>


<br>
<br>

<style>
.guarashadow{
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 255, 255, 0.4);
}
</style>
 <%= form_with(model: [ @solicitacoe, @solicitacoe.itemsolics.build ], local: true) do |form| %>
 <%= form.hidden_field :solicitacoe_id, value: @solicitacoe.id%>
 <%= form.hidden_field :user_id, value: current_user.id%>
<table class="table guarashadow">
  <thead class="">
    <tr>
      <th class=" w-100 p-3">
        <strong>Enviar:
        <%= form.text_field :obs, :type =>'text',:class=>'form-control'%></strong>
      </th>
      <th>
        <%= form.submit 'Enviar',:class=>'btn btn-primary guarashadow btn-lg w-auto p-3' %>
      </th>
    </tr>
  </thead>
</table>

<%end%>

</card>
</card>
