<%= form_with(model: notice, local: true) do |form| %>
  <% if notice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(notice.errors.count, "error") %> prohibited this notice from being saved:</h2>

      <ul>
        <% notice.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :user_destino %>
    <%= form.number_field :user_destino %>
  </div>

  <div class="field">
    <%= form.label :lido %>
    <%= form.text_field :lido %>
  </div>

  <div class="field">
    <%= form.label :grupo_destino %>
    <%= form.number_field :grupo_destino %>
  </div>

  <div class="field">
    <%= form.label :mensagem %>
    <%= form.text_area :mensagem %>
  </div>

  <div class="field">
    <%= form.label :acao_id %>
    <%= form.number_field :acao_id %>
  </div>

  <div class="field">
    <%= form.label :form %>
    <%= form.text_field :form %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
