<p id="notice"><%= notice %></p>

<h1>Notices</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>User destino</th>
      <th>Lido</th>
      <th>Grupo destino</th>
      <th>Mensagem</th>
      <th>Acao</th>
      <th>Form</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notices.each do |notice| %>
      <tr>
        <td><%= notice.user_id %></td>
        <td><%= notice.user_destino %></td>
        <td><%= notice.lido %></td>
        <td><%= notice.grupo_destino %></td>
        <td><%= notice.mensagem %></td>
        <td><%= notice.acao_id %></td>
        <td><%= notice.form %></td>
        <td><%= link_to 'Show', notice %></td>
        <td><%= link_to 'Edit', edit_notice_path(notice) %></td>
        <td><%= link_to 'Destroy', notice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notice', new_notice_path %>
