<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @notice.user_id %>
</p>

<p>
  <strong>User destino:</strong>
  <%= @notice.user_destino %>
</p>

<p>
  <strong>Lido:</strong>
  <%= @notice.lido %>
</p>

<p>
  <strong>Grupo destino:</strong>
  <%= @notice.grupo_destino %>
</p>

<p>
  <strong>Mensagem:</strong>
  <%= @notice.mensagem %>
</p>

<p>
  <strong>Acao:</strong>
  <%= @notice.acao_id %>
</p>

<p>
  <strong>Form:</strong>
  <%= @notice.form %>
</p>

<%= link_to 'Edit', edit_notice_path(@notice) %> |
<%= link_to 'Back', notices_path %>
