<%= form_with(model: banco, local: true) do |form| %>
  <% if banco.errors.any? %>
    <div class = 'card erro text-light'id="error_explanation">
     <div class='card-body'>
  Há <%= pluralize(banco.errors.count, "") %> erro(s) faltou informar o(s) seguinte(s) campo(s):

      <ul>
        
        <% banco.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    </div>
  <% end %>

  <form class="forms-sample">
    <div class="form-group">
      <label for="exampleInputName1">Código (*)</label>
      <%= form.text_field :codigo , :type =>'text',:class=>'form-control', :placeholder=>'Código do Banco' %>
    </div>
    <div class="form-group">
      <label for="exampleInputName1">Nome (*)</label><br>
        <%= form.text_field :nome , :type =>'text',:class=>'form-control', :placeholder=>'Nome do Banco' %>
    </div>

    <div class="form-group">
      <label for="exampleInputEmail3">Observação</label>
      <%= form.text_field :obs, :type =>'text',:class=>'form-control', :placeholder=>'Observação' %>
    </div>
    <div class="actions">
      <%= form.submit :class=>'btn btn-rounded btn-gradient-primary' %><%= link_to 'Voltar', bancos_path, :class=>'btn btn-rounded btn-gradient-danger' %>
    </div>
  </form>
  </div>
  </div>
<% end %>
