<div class="card">
                 <div class="card-body">
                   <h4 class="card-title ">Editando Banco</h4>
                   <p class="card-description"></p>

<%= render 'form', banco: @banco %>
