<p id="notice"><%= notice %></p>
<div class="card">
                 <div class="card-body">
                   <h4 class="card-title "><h1>Bancos <%= link_to 'Novo Banco', new_banco_path , :class=>'btn btn-gradient-primary' %>


<table  class ="table table-striped ">
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Nome</th>
      <th>Observação</th>
      <th colspan="3">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @bancos.each do |banco| %>
      <tr>
        <td><%= banco.codigo %></td>
        <td><%= banco.nome %></td>
        <td><%= banco.obs %></td>
        <td><%= link_to 'Exibir', banco, :class=>'btn btn-sm btn-warning' %>
        <%= link_to 'Editar', edit_banco_path(banco), :class=>'btn btn-sm btn-info' %>
        <%= link_to 'Apagar', banco, method: :delete, data: { confirm: 'Are you sure?' } , :class=>'btn btn-sm btn-danger'%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
</div>
