<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @banco.codigo %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @banco.nome %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @banco.obs %>
</p>

<%= link_to 'Edit', edit_banco_path(@banco) %> |
<%= link_to 'Back', bancos_path %>
