<%= form_with(model: permisso, local: true) do |form| %>
  <% if permisso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(permisso.errors.count, "error") %> prohibited this permisso from being saved:</h2>

      <ul>
        <% permisso.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cargo %>
    <%= form.text_field :cargo %>
  </div>

  <div class="field">
    <%= form.label :comisgerente %>
    <%= form.number_field :comisgerente %>
  </div>

  <div class="field">
    <%= form.label :comiscorretor %>
    <%= form.number_field :comiscorretor %>
  </div>

  <div class="field">
    <%= form.label :obseravacao %>
    <%= form.text_area :obseravacao %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
