<p id="notice"><%= notice %></p>

<h1>Permissoes</h1>

<table>
  <thead>
    <tr>
      <th>Cargo</th>
      <th>Comisgerente</th>
      <th>Comiscorretor</th>
      <th>Obseravacao</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @permissoes.each do |permisso| %>
      <tr>
        <td><%= permisso.cargo %></td>
        <td><%= permisso.comisgerente %></td>
        <td><%= permisso.comiscorretor %></td>
        <td><%= permisso.obseravacao %></td>
        <td><%= permisso.user_id %></td>
        <td><%= link_to 'Show', permisso %></td>
        <td><%= link_to 'Edit', edit_permisso_path(permisso) %></td>
        <td><%= link_to 'Destroy', permisso, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Permisso', new_permisso_path %>
