<p id="notice"><%= notice %></p>

<p>
  <strong>Cargo:</strong>
  <%= @permisso.cargo %>
</p>

<p>
  <strong>Comisgerente:</strong>
  <%= @permisso.comisgerente %>
</p>

<p>
  <strong>Comiscorretor:</strong>
  <%= @permisso.comiscorretor %>
</p>

<p>
  <strong>Obseravacao:</strong>
  <%= @permisso.obseravacao %>
</p>

<p>
  <strong>User:</strong>
  <%= @permisso.user_id %>
</p>

<%= link_to 'Edit', edit_permisso_path(@permisso) %> |
<%= link_to 'Back', permissoes_path %>
