<%= form_with(model: statusprotocolo, local: true) do |form| %>
  <% if statusprotocolo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(statusprotocolo.errors.count, "error") %> prohibited this statusprotocolo from being saved:</h2>

      <ul>
        <% statusprotocolo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="card bg-gradient-danger card-img-holder text-black">
    <div class="card-body">
  <div class="field">
    <%= form.hidden_field :protocolo_id %>
  </div>


  <div class="field">
    <strong><%= form.label :status %></strong><br>
    <%= form.text_field :status, :type =>'text',:class=>'form-control', :placeholder=>'Status' %>
    <div class="field"><br>
      <strong><%= form.label :Progresso%></strong>
      <%= form.select :progress, [['0%',0],['25%',25],['50%',50],['75%',75],['90%',90],['100%',100]] %>
    </div><br>
  </div>


  <div class="field">
  <strong>  <%= form.label :obs %></strong><br>
    <%= form.text_area :obs, :type =>'text',:class=>'form-control', :placeholder=>'Observação' %><br>
  </div><br><br><br>

  <div class="actions">
    <%= form.submit "Alterar!", :class=>"btn btn-danger" %>
  </div>
  </div>
  </div>
<% end %>
