<card class="card">
<card class="card-body">
  <h4 class="card-title ">Protocolo de Contrato</h4>
  <p class="card-description"></p>
  <p>
    <strong>Cliente:</strong>
    <%= Cliente.where("id = ?","#{Protocolo.where("id = ?","#{Statusprotocolo.where("id = ?","#{params[:id]}").pluck("protocolo_id").first}").pluck("cliente_id").first}").pluck("nome").first.titleize %>
  </p>
  <p>
    <strong>Valor da parcela:</strong>
    <%= "R$ #{Protocolo.where("id = ?","#{Statusprotocolo.where("id = ?","#{params[:id]}").pluck("protocolo_id").first}").pluck("valorparcela").first}" %>
  </p>

  <p>
    <strong>Prazo:</strong>
    <%= "#{Protocolo.where("id = ?","#{Statusprotocolo.where("id = ?","#{params[:id]}").pluck("protocolo_id").first}").pluck("prazo").first}" %>
  </p>

  <p>
    <strong>Valor do Contrato:</strong>

    <%= "R$ #{Protocolo.where("id = ?","#{Statusprotocolo.where("id = ?","#{params[:id]}").pluck("protocolo_id").first}").pluck("valorcontrato").first}" %>
  </p>

  <p>
    <strong>Valor da Prestação de Serviço:</strong>

    <%= "R$ #{Protocolo.where("id = ?","#{Statusprotocolo.where("id = ?","#{params[:id]}").pluck("protocolo_id").first}").pluck("prestservico").first}" %>
  </p>

<%= render 'form', statusprotocolo: @statusprotocolo %>

<br>
<%= link_to 'Voltar para o Protocolo!', protocolo_path(@statusprotocolo.protocolo_id), :class=>"btn btn-rounded btn-gradient-danger" %>
