<p id="notice"><%= notice %></p>

<h1>Statusprotocolos</h1>

<table>
  <thead>
    <tr>
      <th>Protocolo</th>
      <th>Status</th>
      <th>Obs</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @statusprotocolos.each do |statusprotocolo| %>
      <tr>
        <td><%= statusprotocolo.protocolo_id %></td>
        <td><%= statusprotocolo.status %></td>
        <td><%= statusprotocolo.obs %></td>
        <td><%= link_to 'Show', statusprotocolo %></td>
        <td><%= link_to 'Edit', edit_statusprotocolo_path(statusprotocolo) %></td>
        <td><%= link_to 'Destroy', statusprotocolo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Statusprotocolo', new_statusprotocolo_path %>
