<p id="notice"><%= notice %></p>

<p>
  <strong>Protocolo:</strong>
  <%= @statusprotocolo.protocolo_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @statusprotocolo.status %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @statusprotocolo.obs %>
</p>

<%= link_to 'Edit', edit_statusprotocolo_path(@statusprotocolo) %> |
<%= link_to 'Back', statusprotocolos_path %>
