<%= form_with(model: dado, local: true) do |form| %>
  <% if dado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dado.errors.count, "error") %> prohibited this dado from being saved:</h2>

      <ul>
        <% dado.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :user_id %>
<div class="field">
  <%= form.label :cpf %>
  <%= form.text_field :cpf, :type =>'number',:class=>'form-control', :placeholder=>'Cpf do Funcionário' %>
</div>

<div class="field">
  <%= form.label :telefone %>
  <%= form.text_field :telefone, :type =>'number',:class=>'form-control', :placeholder=>'Telefone do Funcionário' %>
</div>

<div class="field">
  <%= form.label :Banco %>
  <%= form.text_field :banco, :type =>'text',:class=>'form-control', :placeholder=>'Banco do Funcionário'  %>
</div>

<div class="field">
  <%= form.label :conta %>
  <%= form.text_field :conta, :type =>'number',:class=>'form-control', :placeholder=>'Numero da Conta do Banco' %>
</div>

<div class="field">
  <%= form.label :agencia %>
  <%= form.text_field :agencia, :type =>'number',:class=>'form-control', :placeholder=>'Numero da Agência do Banco'  %>
</div>

<div class="field">
  <%= form.label :data_inicial %><br>
  <%= form.date_field :datainicio %>
</div>
<br>
<div class="field">
  <%= form.label :data_de_saida %><br>
  <%= form.date_field :datasaida %>
</div>
<br>
<br>
<div class="actions">
    <%= form.submit :class=>'btn btn-rounded btn-gradient-primary' %>
</div>
<% end %>
