<div class="card">
  <div class="card-body">
<h1> Editando Dados do Cliente Funcionário</h1>
<h4 class="card-title ">Funcionário: <%= User.where("id = ?","#{
  Dado.where("id = ?","#{params[:id]}").pluck("user_id").first}").pluck("id").first %></h4>
<p class="card-description"></p>
<p>
  <strong>Nome:</strong>
  <%= User.where("id = ?","#{
    Dado.where("id = ?","#{params[:id]}").pluck("user_id").first}").pluck("nome").first %>
</p>
<%= render 'form', dado: @dado %>
<br>
<%= link_to 'Voltar', users_path, :class=>"btn btn-rounded btn-gradient-danger" %>
</div>
</div>
