<p id="notice"><%= notice %></p>

<h1>Dados</h1>

<table>
  <thead>
    <tr>
      <th>Cpf</th>
      <th>Telefone</th>
      <th>Conta</th>
      <th>Agencia</th>
      <th>Datainicio</th>
      <th>Datasaida</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dados.each do |dado| %>
      <tr>
        <td><%= dado.cpf %></td>
        <td><%= dado.telefone %></td>
        <td><%= dado.conta %></td>
        <td><%= dado.agencia %></td>
        <td><%= dado.datainicio %></td>
        <td><%= dado.datasaida %></td>
        <td><%= dado.user_id %></td>
        <td><%= link_to 'Show', dado %></td>
        <td><%= link_to 'Edit', edit_dado_path(dado) %></td>
        <td><%= link_to 'Destroy', dado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dado', new_dado_path %>
