<p id="notice"><%= notice %></p>

<p>
  <strong>Cpf:</strong>
  <%= @dado.cpf %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @dado.telefone %>
</p>

<p>
  <strong>Conta:</strong>
  <%= @dado.conta %>
</p>

<p>
  <strong>Agencia:</strong>
  <%= @dado.agencia %>
</p>

<p>
  <strong>Datainicio:</strong>
  <%= @dado.datainicio %>
</p>

<p>
  <strong>Datasaida:</strong>
  <%= @dado.datasaida %>
</p>

<p>
  <strong>User:</strong>
  <%= @dado.user_id %>
</p>

<%= link_to 'Edit', edit_dado_path(@dado) %> |
<%= link_to 'Back', dados_path %>
