<%= form_with(model: itematendimentocliente, local: true) do |form| %>
  <% if itematendimentocliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(itematendimentocliente.errors.count, "error") %> prohibited this itematendimentocliente from being saved:</h2>

      <ul>
        <% itematendimentocliente.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :numero %>
    <%= form.text_field :numero %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :quandoligou %>
    <%= form.date_select :quandoligou %>
  </div>

  <div class="field">
    <%= form.label :quandoiraligar %>
    <%= form.date_select :quandoiraligar %>
  </div>

  <div class="field">
    <%= form.label :numero1 %>
    <%= form.text_field :numero1 %>
  </div>

  <div class="field">
    <%= form.label :numero2 %>
    <%= form.text_field :numero2 %>
  </div>

  <div class="field">
    <%= form.label :obs %>
    <%= form.text_area :obs %>
  </div>

  <div class="field">
    <%= form.label :cliente_id %>
    <%= form.text_field :cliente_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
