<h1>Editing Itematendimentocliente</h1>

<%= render 'form', itematendimentocliente: @itematendimentocliente %>

<%= link_to 'Show', @itematendimentocliente %> |
<%= link_to 'Back', itematendimentoclientes_path %>
