<p id="notice"><%= notice %></p>

<h1>Itematendimentoclientes</h1>

<table>
  <thead>
    <tr>
      <th>Numero</th>
      <th>User</th>
      <th>Quandoligou</th>
      <th>Quandoiraligar</th>
      <th>Numero1</th>
      <th>Numero2</th>
      <th>Obs</th>
      <th>Cliente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @itematendimentoclientes.each do |itematendimentocliente| %>
      <tr>
        <td><%= itematendimentocliente.numero %></td>
        <td><%= itematendimentocliente.user_id %></td>
        <td><%= itematendimentocliente.quandoligou %></td>
        <td><%= itematendimentocliente.quandoiraligar %></td>
        <td><%= itematendimentocliente.numero1 %></td>
        <td><%= itematendimentocliente.numero2 %></td>
        <td><%= itematendimentocliente.obs %></td>
        <td><%= itematendimentocliente.cliente_id %></td>
        <td><%= link_to 'Show', itematendimentocliente %></td>
        <td><%= link_to 'Edit', edit_itematendimentocliente_path(itematendimentocliente) %></td>
        <td><%= link_to 'Destroy', itematendimentocliente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Itematendimentocliente', new_itematendimentocliente_path %>
