<p id="notice"><%= notice %></p>

<p>
  <strong>Numero:</strong>
  <%= @itematendimentocliente.numero %>
</p>

<p>
  <strong>User:</strong>
  <%= @itematendimentocliente.user_id %>
</p>

<p>
  <strong>Quandoligou:</strong>
  <%= @itematendimentocliente.quandoligou %>
</p>

<p>
  <strong>Quandoiraligar:</strong>
  <%= @itematendimentocliente.quandoiraligar %>
</p>

<p>
  <strong>Numero1:</strong>
  <%= @itematendimentocliente.numero1 %>
</p>

<p>
  <strong>Numero2:</strong>
  <%= @itematendimentocliente.numero2 %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @itematendimentocliente.obs %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @itematendimentocliente.cliente_id %>
</p>

<%= link_to 'Edit', edit_itematendimentocliente_path(@itematendimentocliente) %> |
<%= link_to 'Back', itematendimentoclientes_path %>
