<%= form_with(model: saida, local: true) do |form| %>
  <% if saida.errors.any? %>
    <div class = "erro card bg-danger" id="error_explanation">
      <h2><%= pluralize(saida.errors.count, "error") %> prohibited this saida from being saved:</h2>

      <ul>
        <% saida.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">
        <div class="field">
          <strong><%= form.label :banco_id %><br></strong>
          <%= form.select :banco_id, @bancos.collect { |banco| [banco.nome, banco.id] } , :class=>"form-control form-control-sm", :id=>"exampleFormControlSelect1"%>
        </div>
      </th>
      <th scope="col">
        <div class="field">
          <strong>  <%= form.label :Data_saida %><br></strong>
          <%= form.date_field :datasaida %>
        </div>
      </th>
      <th scope="col">
        <div class="field">
          <%case @saida.pago%>
          <%when "Em aberto"%>
          <strong>Pagar/Inativar<br></strong>
          <%= form.select :pago, [["Pago"],["Inativo"]] %>
          <%when "Pago"%>
          <strong><%= form.label :pago %><br></strong>
          <%= form.select :pago, [["Extorno"]] %>
          <%when "Extorno"%>
          <strong><%= form.label :pago %><br></strong>
          <%= form.select :pago, [["Pago"],["Inativo"]] %>
          <%end%>
        </div>
      </th>
    </tr>
  </thead>
  </table>

  <%case @saida.pago%>
    <%when "Pago"%>
    <div class="field">
      <strong>  <%= form.label :valor %><br></strong>
      <div class="input-group-prepend">
        <span class="input-group-text bg-gradient-primary text-white">$</span><strong class="text-primary" > <h3>R$ <%= @saida.valor%></h3></strong>
      </div>
    </div>
    <%when "Em aberto"%>
    <div class="field">
      <strong>  <%= form.label :valor %><br></strong>
      <div class="input-group-prepend">
        <span class="input-group-text bg-gradient-primary text-white">$</span><strong class="text-primary" > <h3>R$ <%= @saida.valor%></h3></strong>
      </div>
    </div>
    <%when ""%>
    <div class="field">
      <strong>  <%= form.label :valor %><br></strong>
      <div class="input-group-prepend">
        <span class="input-group-text bg-gradient-primary text-white">$</span>
        <%= form.number_field :valor, :type =>'number',:class=>'form-control', :placeholder=>'Valor' %>
      </div>
    </div>
    <%when "Inativo"%>
    <div class="field">
      <strong>  <%= form.label :valor %><br></strong>
      <div class="input-group-prepend">
        <span class="input-group-text bg-gradient-primary text-white">$</span>
        <%= form.number_field :valor, :type =>'number',:class=>'form-control', :placeholder=>'Valor' %>
      </div>
    </div>
    <%else%>
    <div class="field">
      <strong>  <%= form.label :valor %><br></strong>
      <div class="input-group-prepend">
        <span class="input-group-text bg-gradient-primary text-white">$</span>
        <%= form.number_field :valor, :type =>'number',:class=>'form-control', :placeholder=>'Valor' %>
      </div>
    </div>
  <%end%>

  <div class="field">
    <strong> <%= form.label :resumo_da_operação %><br></strong>
    <%= form.text_area :resumooperacao, :type =>'text',:class=>'form-control', :placeholder=>'Valor da Parcela' %>
  </div>


    <div class="field">
      <strong>Corretor:</strong><br>
      <%= form.select :idcorretor, @users.collect { |user| [user.nome, user.id] },{:include_blank => ''}, :class => 'form-control' %>
    </div>

 <div class="field">
      <strong>Gerente:</strong><br>
      <%= form.select :idgerente, @users.collect { |user| [user.nome, user.id] } ,{:include_blank => ''} , :class => 'form-control'%>
</div>
    <div class="field">
      <strong>Cliente:</strong><br>
      <%= form.select :cliente_id, @clientes.collect { |cliente| [cliente.nome, cliente.id] } ,{:include_blank => ''}, :class => 'form-control' %>
    </div>
  <br>
  <div class="actions">
    <%= form.submit :class=>'btn btn-gradient-primary' %>
  </div>
  <%end%>
