<card class="card">
  <card class="card-body">
    <h4 class="card-title ">Lançando Pagamento</h4>
    <%= form_with(model: @saida, local: true) do |form| %>
      <% if @saida.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@saida.errors.count, "error") %> prohibited this saida from being saved:</h2>

          <ul>
            <% @saida.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <table class="table">
      <thead>
        <tr>
          <th scope="col">
            <div class="field">
              <strong><%= form.label :banco_id %><br></strong>
              <%= form.select :banco_id, @bancos.collect { |banco| [banco.nome, banco.id] } , :class=>"form-control form-control-sm", :id=>"exampleFormControlSelect1"%>
            </div>
          </th>
          <th scope="col">
            <div class="field">
              <strong>  <%= form.label :Data_saida %><br></strong>
              <%= form.date_field :datasaida %>
            </div>
          </th>
          <th scope="col">
            <div class="field">
              <%case @saida.pago%>
              <%when "Em aberto"%>
              <strong>Pagar/Inativar<br></strong>
              <%= form.select :pago, [["Pago"],["Inativo"]] %>
              <%when nil%>
              <strong>Pagar/Inativar<br></strong>
              <%= form.select :pago, [["Pago"],["Inativo"]] %>
              <%when "Pago"%>
              <strong><%= form.label :pago %><br></strong>
              <%= form.select :pago, [["Extorno"]] %>
              <%when "Extorno"%>
              <strong><%= form.label :pago %><br></strong>
              <%= form.select :pago, [["Pago"],["Inativo"]] %>
              <%end%>
            </div>
          </th>
        </tr>
      </thead>
      </table>

      <%case @saida.pago%>
        <%when "Pago"%>
        <div class="field">
          <strong>  <%= form.label :valor %><br></strong>
          <div class="input-group-prepend">
            <span class="input-group-text bg-gradient-primary text-white">$</span><strong class="text-primary" > <h3>R$ <%= @saida.valor%></h3></strong>
          </div>
        </div>
        <%when "Em aberto"%>
        <div class="field">
          <strong>  <%= form.label :valor %><br></strong>
          <div class="input-group-prepend">
            <span class="input-group-text bg-gradient-primary text-white">$</span><strong class="text-primary" > <h3>R$ <%= @saida.valor%></h3></strong>
          </div>
        </div>
        <%when ""%>
        <div class="field">
          <strong>  <%= form.label :valor %><br></strong>
          <div class="input-group-prepend">
            <span class="input-group-text bg-gradient-primary text-white">$</span>
            <%= form.number_field :valor, :type =>'number',:class=>'form-control', :placeholder=>'Valor' %>
          </div>
        </div>
        <%when "Inativo"%>
        <div class="field">
          <strong>  <%= form.label :valor %><br></strong>
          <div class="input-group-prepend">
            <span class="input-group-text bg-gradient-primary text-white">$</span>
            <%= form.number_field :valor, :type =>'number',:class=>'form-control', :placeholder=>'Valor' %>
          </div>
        </div>
        <%else%>
        <div class="field">
          <strong>  <%= form.label :valor %><br></strong>
          <div class="input-group-prepend">
            <span class="input-group-text bg-gradient-primary text-white">$</span>
            <%= form.number_field :valor, :type =>'number',:class=>'form-control', :placeholder=>'Valor' %>
          </div>
        </div>
      <%end%>

      <div class="field">
        <strong> <%= form.label :resumo_da_operação %><br></strong>
        <%= form.text_area :resumooperacao, :type =>'text',:class=>'form-control', :placeholder=>'Valor da Parcela' %>
      </div>

<br>
        <div class="field">

          <%if @saida.idcorretor.present? %>
          <strong>Corretor:</strong>
          <%= User.where("id = ?","#{@saida.idcorretor}").pluck("nome").first%>
          <%else%>
          <%end%>
<br>
          <%if @saida.idgerente.present? %>
        <strong>Gerente:</strong><br>
          <%= User.where("id = ?","#{@saida.idgerente}").pluck("nome").first %>
          <%else%>
          <%end%>

        </div>
<br>
<%if @saida.cliente_id.present?%>
        <div class="field">
          <strong>Cliente:</strong><br>
          <%= Cliente.where("id = ?","#{@saida.cliente_id}").pluck("nome").first %>
        </div>
        <%else%>
<%end%>
        <div class="field">
        <strong>Comprovante:</strong><br>
        <%= form.file_field :comprovante%>
        </div>
      <br>
      <div class="actions">
        <%= form.submit :class=>'btn btn-gradient-primary' %>
      </div>
      <%end%>


</card>
</card>
