<%= form_with(model: atendimento, local: true) do |form| %>
  <% if atendimento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(atendimento.errors.count, "error") %> prohibited this atendimento from being saved:</h2>

      <ul>
        <% atendimento.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<form class="forms-sample">
  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, :type =>'text',:class=>'form-control', :placeholder=>'Nome do cliente' %>
  </div>

  <div class="field">
    <%= form.label :numero %>
    <%= form.number_field :numero , :type =>'number',:class=>'form-control', :placeholder=>'Numero do Cliente'%>
  </div>

  <div class="field">
    <%= form.label :Corretor_responsavel %><br>
    <%= form.select :corretorresponsavel , @users.collect { |user| ["#{Perm.where("user_id = ?","#{user.id}").pluck("cargo").first} - #{user.nome}", user.id] },:include_blank => true, :class => 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit :class=>'btn btn-gradient-primary btn-rouded' %>
  </div>
<% end %>
</form>