<% atendimento_hoje = Atendimento.joins("join Itematendimentos on itematendimentos.atendimento_id=atendimentos.id").where("itematendimentos.quandoiraligar = ? and corretorresponsavel = ? ","#{DateTime.now.to_s[0..9]}","#{current_user.id}")%>
<p id="notice"><%= notice %></p>
<div class="page-header">
  <h3 class="page-title">
    <span class="page-title-icon bg-gradient-primary text-white mr-2">
      <i class="mdi mdi-home"></i>
    </span>Lista de Atendimentos <%= link_to 'Novo Atendimento', new_atendimento_path, :class=>'btn btn-gradient-primary btn-sm' %>
    <button class="btn btn-gradient-info btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Retornar hoje <%= atendimento_hoje.size%>
    </button>
  </h3>
</div>
</p>
<div class="collapse" id="collapseExample">
  <div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <h5 class="card-header">Antedimentos Agendados para Hoje</h5>
        <div class="card-body">
          <table class="table table-hover" id="datatable">
            <thead>
              <tr>
                <th>Nome Cliente</th>
                <th>Número</th>
                <th>Corretor Responsavel</th>
                <th>Retornar</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <% atendimento_hoje.each do |atendimento| %>
                <tr>
                  <td><%= atendimento.nome %></td>
                  <td><%= atendimento.numero %></td>
                  <%case atendimento.corretorresponsavel%>
                  <%when nil%>
                  <td><%= atendimento.corretorresponsavel %></td>
                <%else%>
                  <td><%= User.where("id = ?","#{atendimento.corretorresponsavel}").pluck("nome").first%></td>
                <%end%>
                <%case Itematendimento.where("atendimento_id = ?","#{atendimento.id}").pluck("quandoiraligar").first%>
                <%when nil%>
                <td> Sem data de Retorno</td>
              <%else%>
                <td><% data = Itematendimento.where("atendimento_id = ?","#{atendimento.id}").pluck("quandoiraligar").first%>
                  <%= "#{data.to_s[8..9]}/#{data.to_s[5..6]}/#{data.to_s[0..3]}" %></td>
              <%end%>
              <td><%= link_to 'Ligar', atendimento, class:'btn col-sm-12 btn-sm btn-success' %>
                <%#= link_to 'Editar', edit_atendimento_path(atendimento), class:'btn btn-sm btn-info'%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
</div>
<card class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-sm-1">
        <%= form_tag(atendimentos_path, :method => :get) do%>
          <%= hidden_field_tag 'seusclientes',nil, :type => 'text', :class => 'form-control'%>
          <%= submit_tag "Seus Clientes", :class => 'btn btn-gradient-success btn-sm btn-round' %>
        <%end%>
      </div>
      <div class="col-sm-1">
        <%if params[:seusclientes]%>
          <%= form_tag(atendimentos_path, :method => :get) do%>
            <%= hidden_field_tag 'todos',nil, :type => 'text', :class => 'form-control'%>
            <%= submit_tag "Mostrar todos", :class => 'btn btn-gradient-info btn-sm btn-round' %>
          <%end%>
        <%end%>
      </div>
      <div class="col-sm-1">
        <%= form_tag(atendimentos_path, :method => :get) do%>
          <%= hidden_field_tag 'admin',nil, :type => 'text', :class => 'form-control'%>
          <%= submit_tag "Exibir tudo *Admin", :class => 'btn btn-gradient-primary btn-sm btn-round' %>
        <%end%>
      </div>
    </div>
  </div>
  <card class="card-body">
    <br>
    <table class="table table-hover" id="datatable1">
      <thead>
        <tr>
          <th>Nome Cliente</th>
          <th>Número</th>
          <th>Corretor Responsavel</th>
          <th>Retornar</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% @atendimentos.each do |atendimento| %>
          <tr>
            <td><%= atendimento.nome %></td>
            <td><%= atendimento.numero %></td>
            <%case atendimento.corretorresponsavel%>
            <%when nil%>
            <td><%= atendimento.corretorresponsavel %></td>
          <%else%>
            <td><%= User.where("id = ?","#{atendimento.corretorresponsavel}").pluck("nome").first%></td>
          <%end%>
          <%case Itematendimento.where("atendimento_id = ?","#{atendimento.id}").pluck("quandoiraligar").first%>
          <%when nil%>
          <td> Sem data de Retorno</td>
        <%else%>
          <td><% data = Itematendimento.where("atendimento_id = ?","#{atendimento.id}").pluck("quandoiraligar").first%>
            <%= "#{data.to_s[8..9]}/#{data.to_s[5..6]}/#{data.to_s[0..3]}" %></td>
        <%end%>
        <td><%= link_to 'Ligar', atendimento, class:'btn btn-sm col-sm-12 btn-success' %>
          <%#= link_to 'Editar', edit_atendimento_path(atendimento), class:'btn btn-sm btn-info'%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
</card>
<div class="card-footer">
  Seus Clientes: <%= Atendimento.where("corretorresponsavel = ?","#{current_user.id}").order(:corretorresponsavel).size%> |
  Retornos Hoje: <%= atendimento_hoje.size%> |
  Total sem Retorno: <%= Atendimento.where("corretorresponsavel is null or corretorresponsavel = ?","#{current_user.id}").size%>
</div>
</card>
<script type="text/javascript">
  $(document).ready( function () {
      $('#datatable').DataTable();
  } );
</script>
<script type="text/javascript">
  $(document).ready( function () {
      $('#datatable1').DataTable();
  } );
</script>
