<card class="card">
<card class="card-body">
<h1>Novo Atendimento</h1>
<%= render 'form', atendimento: @atendimento %>

<%= link_to 'Back', atendimentos_path, :class=>'btn btn-rounded btn-gradient-danger' %>
</card>
</card>