<div class="page-header">
<h3 class="page-title">
<span class="page-title-icon bg-gradient-primary text-white mr-2">
<i class="mdi mdi-home"></i>
</span>Atendimento | Cliente: <%= @atendimento.nome %> | Número: <%= @atendimento.numero %> |  <button type="button" class="btn btn-sm btn-gradient-info" data-toggle="modal" data-target="#exampleModalCenter">
    Gerar Protocolo
  </button></h3>
</div>


<card class="card">
<div class="card-header">Lançamento de ligação</div>
  <card class="card-body">
    <p id="notice"><%= notice %></p>
    <p>
      <strong>Corretor Responsavel:</strong>
      <%case @atendimento.corretorresponsavel%>
      <%when nil%>
      <td><%= @atendimento.corretorresponsavel %></td>
    <%else%>
      <td><%= User.where("id = ?","#{@atendimento.corretorresponsavel}").pluck("nome").first%></td>
    <%end%>
  </p>

  <div class="modal fade " id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title " id="exampleModalCenterTitle">Gerar Protocolo
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-left">
          <%= form_with(model: [ @atendimento, @atendimento.clientes.build ], local: true) do |form| %>
            <%= form.hidden_field :user_id , value: current_user.id%>
            <%= form.hidden_field :atendimento_id , value: @atendimento.id%>
            <form class="forms-sample">
              <div class="form-group">
                <label for="exampleInputName1">Nome</label>
                <%= form.text_field :nome, :type =>'text',:class=>'form-control', :placeholder=>'Nome Completo' %>
              </div>
              <div class="form-group">
                <label for="exampleInputName1">Data de Nascimento</label><br>
                <%= form.date_field :DataNascimento %>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail3">CPF</label>
                <%= form.text_field :cpf, :type =>'text',:class=>'form-control', :placeholder=>'CPF sem Pontuação' %>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword4">E-mail</label>
                <%= form.text_field :email, :type =>'text',:class=>'form-control', :placeholder=>'E-mail' %>
              </div>
              <div class="form-group">
                <label for="exampleSelectGender">Telefone</label>
                <%= form.text_field :tel, :type =>'text',:class=>'form-control', :placeholder=>'Telefone sem Formatação' %>
              </div>
              <div class="form-group">
                <label for="exampleSelectGender">Senha do Contra Cheque</label>
                <%= form.text_field :senhaccheque, :type =>'text',:class=>'form-control', :placeholder=>'Senha do Contra Cheque' %>
              </div>
              <div class="form-group">
                <label for="exampleSelectGender">Matricula</label>
                <%= form.text_field :matricula, :type =>'text',:class=>'form-control', :placeholder=>'Matricula' %>
              </div>
              <div class="form-group">
                <label>Anexo</label>
                <input type="file" name="img[]" class="file-upload-default">
                <div class="input-group col-xs-12">
                  <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                  <span class="input-group-append">
                    <button class="file-upload-browse btn btn-gradient-primary" type="button">Enviar</button>
                  </span>
                </div>
              </div>
              <div class="form-group">
                <label for="exampleTextarea1">Observação</label>
                <%= form.text_area :Obs, :type =>'text',:class=>'form-control', :placeholder=>'Observação', :id=>'exampleTextarea1', :rows=>'4' %>
              </div>
              <div class="actions">
                <%= form.submit :class=>'btn btn-gradient-primary mr-2' %><%= link_to 'Back', clientes_path, :class=>'btn btn-gradient-danger mr-2' %>
              </div>
            </form>
          </div>
        </div>
      <%end%>
    </form>
  </div>
</div>
<br>
<br>
<%= form_with(model: [ @atendimento, @atendimento.itematendimentos.build ], local: true) do |form| %>
  <%= form.hidden_field :atendimento_id %>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <div class="row">
    <div class="col-sm-2">
      <strong>Quando ligou</strong>
      <%= form.date_field :quandoligou, :class=>"form-group form-control" %>
    </div>
    <div class="col-sm-2">
      <strong>Quando irá ligar</strong>
      <%= form.date_field :quandoiraligar, :class=>"form-group form-control" %>
    </div>
    <div class="col-sm-2">
      <strong>Número 1</strong>
      <%= form.number_field :numero1, :class=>"form-group form-control" %>
    </div>
    <div class="col-sm-2">
      <strong>Número 2</strong>
      <%= form.number_field :numero2,:type=>"number",:class=>"form-group form-control" %>
    </div>
    <div class="col-sm-2">
      <strong>Protocolo</strong>
      <%= form.select :sehaprotocolo, [["Sim"],["Não"]],{}, {:class=>"form-group form-control" }%>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <strong>Observação</strong>
      <%= form.text_field :obs, :type =>'text',:class=>'form-control', :placeholder=>'Observação'%>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-sm-2">
      <%= form.submit :class=>'btn btn-primary' %>
    </div>
  </div>
<%end%>
<br>
<br>
<%case @atendimento.itematendimentos.first.id%>
<%when nil%>
<h1>Não há itens</h1>
<%else%>
  <card class="card">
    <card class="card-body bg-primary text-light">
      <h1>Item do Atendimento</h1>
      <table class="table text-light">
        <thead>
          <tr>
            <th><strong>Quando ligou</strong></th>
            <th><strong>Quando irá ligar</strong></th>
            <th><strong>Número 1</strong></th>
            <th><strong>Número 2</strong></th>
            <th><strong>Obs</strong></th>
            <th><strong>Protocolo</strong></th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item|%>
            <tr>
              <td><%= item.quandoligou  %></td>
              <td><%= item.quandoiraligar %></td>
              <td><%= item.numero1 %></td>
              <td><%= item.numero2 %></td>
              <td class="text-black">
                <button type="button" class="btn btn-gradient-light" data-toggle="modal" data-target="#a<%= item.id%>">
                  Observação
                </button>
                <!-- Modal -->
                <div class="modal fade " id="a<%= item.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered " role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title " id="exampleModalCenterTitle">Observação
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body text-left">
                        <form class="forms-sample">
                          <%= item.obs%>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
              <td><%= item.sehaprotocolo %></td>
              <td><%= link_to 'Editar', edit_itematendimento_path(item.id) %></td>
            </tr>
          <%end%>
        </tbody>
      </table>
    <%end%>
  </card>
</card>
<br>
<%= link_to 'Voltar', atendimentos_path, :class=>"btn btn-gradient-danger"%>
</card>
</card>



<script type="text/javascript">
  $(document).ready( function () {
      $('#datatable').DataTable();
  } );
</script>
<script type="text/javascript">
  $(document).ready( function () {
      $('#datatable1').DataTable();
  } );
</script>
