<%= form_with(model: protocolo, local: true) do |form| %>
  <% if protocolo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(protocolo.errors.count, "error") %> prohibited this protocolo from being saved:</h2>

      <ul>
        <% protocolo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :cliente_id %>
  <form class="forms-sample">
    <div class="form-group">
      <label for="exampleInputEmail3">Banco</label><br>
      <%= collection_select(:protocolo,:banco_id,Banco.all,:id,:nome) %>
    </div>
    <div class="form-group">
      <label for="exampleInputName1">Valor da Parcela (*)</label>
      <%= input_dinheiro_precisao form, :valorparcela, ("Valor da Parcela"),place_holder: "Valor da Parcela" %>
    </div>
    <div class="form-group">
      <label for="exampleInputName1">Prazo (*)</label><br>
        <%= form.number_field :prazo, :type =>'text',:class=>'form-control', :placeholder=>'Prazo' %>
    </div>

    <div class="form-group">
      <label for="exampleInputName1">Corretor(*)</label><br>
    <%= form.select :idcorretor, @users.collect { |user| [user.nome, user.id] } %>
    </div>

    <div class="form-group">
      <label for="exampleInputEmail3">Valor do Contrato</label>
      <%= input_dinheiro_precisao form, :valorcontrato, ("Valor do Contrato"),place_holder: "Digite o Valor do Contrato" %>
    </div>

    <div class="form-group">
      <label for="exampleInputEmail3">Tipo de Emprestimo</label>
      <%= form.select :tipoemprestimo,['Margem livre','Refin','Refin + margem','Portabilidade','Portabilidade com redução de parcela','Compra de dívida','Cartão consignado','Unificação de parcela'], {}, { :class => 'form-control' }%>
    </div>

    <div class="form-group">
      <label for="exampleInputEmail3">Orgão</label>
      <%= form.select :orgao,['Estado','Prefeitura','INSS','Federal','Siape','Aeronautica','Marinha','Exercito'], {}, { :class => 'form-control' }%>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail3">Prestação de Serviço</label>
      <%= input_dinheiro_precisao form, :prestservico, ("Pestação de Serviço"),place_holder: "Digite a Pestação de Serviço" %>
    </div>
   <%= form.submit :class=>'btn btn-rounded btn-gradient-primary' %>
<% end %>
