<card class="card">
<card class="card-body">
  <h4 class="card-title ">Cliente: <%= Cliente.where("id = ?","#{Protocolo.where("id = ?","#{params[:id]}").pluck("cliente_id").first}").pluck("nome").first.titleize %></h4>
  <p class="card-description"></p>

<%= render 'form', protocolo: @protocolo %>
<br>
<%= link_to 'Back', cliente_path(@protocolo.cliente_id), :class=>'btn btn-gradient-danger btn-rounded' %>
