<p id="notice"><%= notice %></p>

<h1>Protocolos</h1>

<table>
  <thead>
    <tr>
      <th>Valorparcela</th>
      <th>Prazo</th>
      <th>Valorcontrato</th>
      <th>Prestservico</th>
      <th>Cliente</th>
      <th>Banco</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @protocolos.each do |protocolo| %>
      <tr>
        <td><%= protocolo.valorparcela %></td>
        <td><%= protocolo.prazo %></td>
        <td><%= protocolo.valorcontrato %></td>
        <td><%= protocolo.prestservico %></td>
        <td><%= protocolo.cliente_id %></td>
        <td><%= protocolo.banco_id %></td>
        <td><%= link_to 'Show', protocolo %></td>
        <td><%= link_to 'Edit', edit_protocolo_path(protocolo) %></td>
        <td><%= link_to 'Destroy', protocolo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Protocolo', new_protocolo_path %>
