<p id="notice"><%= notice %></p>
<div class="card">
<div class="card-body">
<h3> Protocolo de Contrato</h3>
<p>
  <strong>Cliente:</strong>
  <%= Cliente.where("id = ?","#{@protocolo.cliente_id}").pluck("nome").first.titleize%>
</p>
<p>
  <strong>Valor da parcela:</strong>
  <%= "#{@protocolo.valorparcela.to_dinheiro}" %>
</p>

<p>
  <strong>Prazo:</strong>
  <%= @protocolo.prazo %>
</p>

<p>
  <strong>Valor do Contrato:</strong>
  <%= "#{@protocolo.valorcontrato.to_dinheiro}" %>
</p>

<p>
  <strong>Valor da Prestação de Serviço:</strong>
  <%= "#{@protocolo.prestservico.to_dinheiro}" %>
</p>



<p>
  <strong>Banco:</strong>
  <%= "#{Banco.where("id = ?","#{@protocolo.banco_id}").pluck("codigo").first}-#{Banco.where("id = ?","#{@protocolo.banco_id}").pluck("nome").first}" %>
</p>

<% if @protocolo.statusprotocolos.present?%>

<p>
  <strong>Status:</strong>
  <%= @protocolo.statusprotocolos.first.status %> <%= link_to 'Editar', edit_statusprotocolo_path(@protocolo.statusprotocolos.first.id), :class=>'btn btn-rounded btn-gradient-info' %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @protocolo.statusprotocolos.first.obs %>
</p>


<%else%>
<div class="card bg-gradient-danger card-img-holder text-white">
  <div class="card-body">
<%= form_with(model: [ @protocolo, @protocolo.statusprotocolos.build ], local: true) do |form| %>
<div class="field">
  <%= form.hidden_field :protocolo_id %>
</div>
<div class="field">
  <%= form.select :progress, [['0%',0],['25%',25],['50%',50],['75%',75],['90%',90],['100%',100]] %>
</div>
<div class="field">
  <strong><%= form.label :status %></strong>
  <%= form.text_field :status, :type =>'text',:class=>'form-control', :placeholder=>'Status' %>
</div>



<div class="field">
  <strong><%= form.label :Observação %></strong>
  <%= form.text_area :obs, :type =>'text',:class=>'form-control', :placeholder=>'Observação' %>
</div>
<br>
<%= form.submit :class=>'btn btn-rounded btn-danger' %>
</div>
</div>
<%end%>
<%end%>
<br>
<%= link_to 'Voltar para o cliente!', cliente_path(@protocolo.cliente_id) ,:class=>'btn btn-rounded btn-gradient-danger' %>
</div>
</div>
