<h1>Users <a class='btn btn-primary' href="../users/new.html">Novo Usuário</a></h1>
<card class="card">
  <card class="card-body">
<table class="table table-resposive" id="datatable">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">E-mail</th>
      <th scope="col">Cargo</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
      <% @users.each do |user| %>
    <tr>
      <td><%= user.nome%></td>
      <td><%= user.email%></td>
      <td><%= Perm.where("user_id = ?","#{user.id}").pluck("cargo").first%></td>
      <td><%= link_to 'Exibir', user, :class=>'btn btn-sm btn-warning' %>
      <%= link_to 'Editar', edit_user_path(user.id), :class=>'btn btn-sm btn-info' %></td>
    </tr>
    <%end%>
  </tbody>
</table>


</card>
</card>


<script type="text/javascript">
$(document).ready( function () {
    $('#datatable').DataTable();
} );
</script>
