<div class="card">
                 <div class="card-body">
                   <h4 class="card-title ">Novo Usuário</h4>
                   <p class="card-description"></p>
<%= form_with(model: @user, local: true) do |form| %>
  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, :type =>'text',:class=>'form-control', :placeholder=>'Nome do Usuário' %>
  </div>
<br>
  <div class="field">
    <%= form.label :email %>
    <%= form.number_field :email, :type =>'text',:class=>'form-control', :placeholder=>'O Email do usuário deve conter @inter.com' %>
  </div>
<br>
  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password, :type =>'text',:class=>'form-control', :placeholder=>'Senha do Usuário minimo 6 caracteres' %>
  </div>
<br>
  <div class="actions">
    <%= form.submit 'Criar Usuário', :class=>'btn btn-gradient-primary' %>
  </div>
<% end %>
  </div>
</div>
