<div class="card">
   <div class="card-body">
     <h4 class="card-title ">Usuário: <%= @user.id %></h4>
     <p class="card-description"></p>
     <p>
       <strong>Nome:</strong>
       <%= @user.nome %>
     </p>

     <p>
       <strong>E-mail:</strong>
       <%= @user.email %>
     </p>
<% if   @user.perms.present? %>
<!-- cargo: [:admin, :operacional, :gerente,:corretor]-->
<p>
  <strong>Cargo:</strong>
  <% case @user.perms.first.cargo	%>
  <% when '0'%>
  Admin
  <% when '1'%>
  Operacional
  <% when '2'%>
  Gerente
  <% when '3'%>
  Corretor
  <% end %>
  <td><%= link_to 'Edit',edit_perm_path(@user.perms.first.id), :class=>'mdi mdi-pencil btn btn-sm btn-gradient-info' %></td>
</p>


  <% case @user.perms.first.cargo %>
  <%when  '3'%>
<p>  <strong>Gerente do Corretor:</strong>  <%= User.where("id = ?","#{@user.perms.first.idgerente}").pluck("nome").first%><br></p>
<p>  <strong>Comissão de Corretor:</strong> <%= @user.perms.first.comissaocorretor%>%</p>
  <%when  '2'%>
<p>  <strong>Comissão de Gerente:</strong> <%= @user.perms.first.comissaogerente%>%</p>
<p>  <strong>Comissão de Corretor:</strong> <%= @user.perms.first.comissaocorretor%>%<br><br>
  <strong>Seus Corretores:</strong><br>
  <% User.joins("join perms on perms.user_id=users.id").where("perms.idgerente = ?","#{@user.id}").each do |corretor|%>
<strong>Id:</strong> <%= corretor.id%> <strong>Nome:</strong><%= corretor.nome%> <strong> Comissão: </strong><%= Perm.where("user_id = ?","#{corretor.id}").pluck("comissaocorretor").first%>% <br>
  <%end%>
  <%else%>

  <%end%>
</p>

<%else%>
  <%= form_with(model: [ @user, @user.perms.build ], local: true) do |form| %>
    <%= form.hidden_field :user_id, :value=>"#{@user.id}" %>
      <div class="field">
        <%= form.label :cargo %><br>
        <%= form.select :cargo,[['Admin',0],['Operacional',1],['Gerente',2],['Corretor',3]] %>
      </div>
    <br>
      <div class="field">
        <%= form.label :Gerente %><br>
        <%= form.select :idgerente, @users.collect { |user| [user.nome, user.id] } %>
      </div>
    <br>
      <div class="field">
        <%= form.label :comissão_gerente %>
        <%= form.select :comissaogerente, [['1%',1],['2%',2],['3%',3],['4%',4],['5%',5],['6%',6],['7%',7],['8%',8],['9%',9],['10%',10],['11%',11],['12%',12],['13%',13],['14%',14],['15%',15],['16%',16],['17%',17],['18%',18],['19%',19],['20%',20],['21%',21],['22%',22],['23%',23],['24%',24],['25%',25],['26%',26],['27%',27],['28%',28],['29%',29],['30%',30],['31%',31],['32%',32],['33%',33],['34%',34],['35%',35],['36%',36],['37%',37],['38%',38],['39%',39],['40%',40],['41%',41],['42%',42],['43%',43],['44%',44],['45%',45],['46%',46],['47%',47],['48%',48],['49%',49],['50%',50]],:class=>'custom-select' %>
      </div>
    <br>
      <div class="field">
        <%= form.label :comissão_corretor %>
        <%= form.select :comissaocorretor, [['1%',1],['2%',2],['3%',3],['4%',4],['5%',5],['6%',6],['7%',7],['8%',8],['9%',9],['10%',10],['11%',11],['12%',12],['13%',13],['14%',14],['15%',15],['16%',16],['17%',17],['18%',18],['19%',19],['20%',20],['21%',21],['22%',22],['23%',23],['24%',24],['25%',25],['26%',26],['27%',27],['28%',28],['29%',29],['30%',30],['31%',31],['32%',32],['33%',33],['34%',34],['35%',35],['36%',36],['37%',37],['38%',38],['39%',39],['40%',40],['41%',41],['42%',42],['43%',43],['44%',44],['45%',45],['46%',46],['47%',47],['48%',48],['49%',49],['50%',50]],:class=>'custom-select' %>
      </div>
    <br>
      <div class="field">
        <%= form.label :Observação %>
        <%= form.text_area :obseravacao, :type =>'text',:class=>'form-control', :placeholder=>'Observação' %>
      </div>
    <br>
      <%= form.submit :class=>'btn btn-rounded btn-gradient-primary' %>
  <%end%>
 <%end%>

 <% if   @user.dados.present? %>


<p>
  <strong>Cpf:</strong>
  <%= @user.dados.first.cpf %>  <td><%= link_to 'Edit', edit_dado_path(@user.dados.first.id),:class=>'mdi mdi-pencil btn btn-sm btn-gradient-info' %></td>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @user.dados.first.telefone %>
</p>


<p>
  <strong>Banco:</strong>
  <%= @user.dados.first.banco %>
</p>

<p>
  <strong>Conta:</strong>
  <%= @user.dados.first.conta %>
</p>

<p>
  <strong>Agencia:</strong>
  <%= @user.dados.first.agencia %>
</p>

<p>
  <strong>Datainicio:</strong>
  <%= @user.dados.first.datainicio %>
</p>

<p>
  <strong>Datasaida:</strong>
  <%= @user.dados.first.datasaida %>
</p>

  <%else%>
  <%= form_with(model: [ @user, @user.dados.build ], local: true) do |form| %>
    <%= form.hidden_field :user_id, :value=>"#{@user.id}" %>
  <div class="field">
    <%= form.label :cpf %>
    <%= form.text_field :cpf, :type =>'number',:class=>'form-control', :placeholder=>'Cpf do Funcionário' %>
  </div>

  <div class="field">
    <%= form.label :telefone %>
    <%= form.text_field :telefone, :type =>'number',:class=>'form-control', :placeholder=>'Telefone do Funcionário' %>
  </div>

  <div class="field">
    <%= form.label :Banco %>
    <%= form.text_field :banco, :type =>'text',:class=>'form-control', :placeholder=>'Banco do Funcionário'  %>
  </div>

  <div class="field">
    <%= form.label :conta %>
    <%= form.text_field :conta, :type =>'number',:class=>'form-control', :placeholder=>'Numero da Conta do Banco' %>
  </div>

  <div class="field">
    <%= form.label :agencia %>
    <%= form.text_field :agencia, :type =>'number',:class=>'form-control', :placeholder=>'Numero da Agência do Banco'  %>
  </div>

  <div class="field">
    <%= form.label :data_inicial %><br>
    <%= form.date_field :datainicio %>
  </div>
<br>
  <div class="field">
    <%= form.label :data_de_saida %><br>
    <%= form.date_field :datasaida %>
  </div>
<br>
<br>
  <div class="actions">
      <%= form.submit :class=>'btn btn-rounded btn-gradient-primary' %>
  </div>
<% end %>

<%end%>
 <%= link_to 'Back', users_path, :class=>'btn btn-rounded btn-gradient-danger'%>
 </div>
</div>
