
<%= form_with(model: perm, local: true) do |form| %>
  <% if perm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(perm.errors.count, "error") %> prohibited this perm from being saved:</h2>

      <ul>
        <% perm.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cargo %><br>
    <%= form.select :cargo,[['Admin',0],['Operacional',1],['Gerente',2],['Corretor',3]] %>
  </div>
<br>
  <div class="field">
    <%= form.label :Gerente %><br>
    <%= form.select :idgerente, @users.collect { |user| [user.nome, user.id] } %>
  </div>
<br>
  <div class="field">
    <%= form.label :comissão_gerente %>
    <%= form.select :comissaogerente, [['1%',1],['2%',2],['3%',3],['4%',4],['5%',5],['6%',6],['7%',7],['8%',8],['9%',9],['10%',10],['11%',11],['12%',12],['13%',13],['14%',14],['15%',15],['16%',16],['17%',17],['18%',18],['19%',19],['20%',20],['21%',21],['22%',22],['23%',23],['24%',24],['25%',25],['26%',26],['27%',27],['28%',28],['29%',29],['30%',30],['31%',31],['32%',32],['33%',33],['34%',34],['35%',35],['36%',36],['37%',37],['38%',38],['39%',39],['40%',40],['41%',41],['42%',42],['43%',43],['44%',44],['45%',45],['46%',46],['47%',47],['48%',48],['49%',49],['50%',50]],:class=>'custom-select' %>
  </div>
<br>
  <div class="field">
    <%= form.label :comissão_corretor %>
    <%= form.select :comissaocorretor, [['1%',1],['2%',2],['3%',3],['4%',4],['5%',5],['6%',6],['7%',7],['8%',8],['9%',9],['10%',10],['11%',11],['12%',12],['13%',13],['14%',14],['15%',15],['16%',16],['17%',17],['18%',18],['19%',19],['20%',20],['21%',21],['22%',22],['23%',23],['24%',24],['25%',25],['26%',26],['27%',27],['28%',28],['29%',29],['30%',30],['31%',31],['32%',32],['33%',33],['34%',34],['35%',35],['36%',36],['37%',37],['38%',38],['39%',39],['40%',40],['41%',41],['42%',42],['43%',43],['44%',44],['45%',45],['46%',46],['47%',47],['48%',48],['49%',49],['50%',50]],:class=>'custom-select' %>
  </div>
<br>
  <div class="field">
    <%= form.label :Observação %>
    <%= form.text_area :obseravacao, :type =>'text',:class=>'form-control', :placeholder=>'Observação' %>
  </div>
<br>
  <%= form.submit :class=>'btn btn-rounded btn-gradient-primary' %> <%= link_to 'Back', user_path(User.where("id = ?","#{Perm.where("id = ?","#{params[:id]}").pluck("user_id").first}").pluck("id").first), :class=>'btn btn-rounded btn-gradient-danger'%>

  <div class="field">
    <%= form.hidden_field :user_id %>
  </div>


<% end %>
</card>
</card>
