<card class="card">
<card class="card-body">
  <h4 class="card-title ">Usuário: <%= User.where("id = ?","#{
    Perm.where("id = ?","#{params[:id]}").pluck("user_id").first}").pluck("id").first %></h4>
  <p class="card-description"></p>
  <p>
    <strong>Nome:</strong>
    <%= User.where("id = ?","#{
      Perm.where("id = ?","#{params[:id]}").pluck("user_id").first}").pluck("nome").first %>
  </p>

<%= render 'form', perm: @perm %>
