<p id="notice"><%= notice %></p>

<h1>Perms</h1>

<table>
  <thead>
    <tr>
      <th>Cargo</th>
      <th>Comissaogerente</th>
      <th>Comissaocorretor</th>
      <th>Idgerente</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @perms.each do |perm| %>
      <tr>
        <td><%= perm.cargo %></td>
        <td><%= perm.comissaogerente %></td>
        <td><%= perm.comissaocorretor %></td>
        <td><%= perm.idgerente %></td>
        <td><%= perm.user_id %></td>
        <td><%= link_to 'Show', perm %></td>
        <td><%= link_to 'Edit', edit_perm_path(perm) %></td>
        <td><%= link_to 'Destroy', perm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Perm', new_perm_path %>
