<p id="notice"><%= notice %></p>

<p>
  <strong>Cargo:</strong>
  <%= @perm.cargo %>
</p>

<p>
  <strong>Comissaogerente:</strong>
  <%= @perm.comissaogerente %>
</p>

<p>
  <strong>Comissaocorretor:</strong>
  <%= @perm.comissaocorretor %>
</p>

<p>
  <strong>Idgerente:</strong>
  <%= @perm.idgerente %>
</p>

<p>
  <strong>User:</strong>
  <%= @perm.user_id %>
</p>

<%= link_to 'Edit', edit_perm_path(@perm) %> |
<%= link_to 'Back', perms_path %>
