<style>
  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
      color: #fff;
      background-color: #8DC74C;
  }
  .btn-inverse-primary {
      background-color: rgba(141, 199, 76, 0.2);
      }
  
  .btn-inverse-primary.focus, .btn-inverse-primary:focus {
      -webkit-box-shadow: 0 0 0 3px rgba(141, 199, 76, 0.5);
      box-shadow: 0 0 0 3px rgba(141, 199, 76, 0.5);
  }
  .modal-content {
    width: 150%
    }
</style>
<div class="col-3">
  <h4>Gerentes:</h4>
  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <% @gerentes.each do |gerente|%>
      <a class="nav-link btn-inverse-primary" id="v-pills-<%=gerente.id%>-tab" data-toggle="pill" href="#v-pills-<%=gerente.id%>" role="tab" aria-controls="v-pills-<%=gerente.id%>" aria-selected="true"><%= gerente.nome%></a>
      <br>
    <%end%>
  </div>
</div>
<div class="col-9">
  <div class="tab-content" id="v-pills-tabContent">
    <% @gerentes.each do |gerente|%>
      <div class="tab-pane fade show" id="v-pills-<%=gerente.id%>" role="tabpanel" aria-labelledby="v-pills-<%=gerente.id%>-tab">
        <table class="table table-bordered table-hover">
          <thead>
            <th colspan="5">Gerente: <%= gerente.nome%></th>
          </thead>
          <thead>
            <th>Clientes</th>
            <th>Comissão</th>
            <th>Corretores</th>
            <th>Ligações</th>
            <th>Lançamentos</th>
          </thead>
          <tbody>
            <td><%= Protocolo.where("idcorretor = ? ","#{gerente.id}").count%></td>
            <td><%= ApplicationRecord.comissao_paga(gerente.id).to_dinheiro%></td>
            <td><%= (User.joins("join perms on users.id=perms.user_id").where("perms.idgerente = ?","#{gerente.id}").count)-1%></td>
            <td><%= Atendimento.where("corretorresponsavel = ?","#{gerente.id}").count%></td>
            <td> 
            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#test<%=gerente.id.to_s %>">
                    Lançamentos
                  </button>
                  <!-- Modal -->
                  <div class="modal fade" id="test<%=gerente.id.to_s%>" tabindex="-1" role="dialog" aria-labelledby="<%=gerente.id.to_s%>label" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="<%=gerente.id.to_s%>label"><%= gerente.nome %></h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <table class="table table-sm" id="datatable<%=gerente.id.to_s%>">
                            <thead>
                              <tr>
                                <th>Horário</th>
                                <th>Frase</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                              <% Log.where("user_id = ?","#{gerente.id}").order("created_at desc").each do |log| %>
                                <tr>
                                  <td><%= "#{log.created_at.to_s[8..9]}/#{log.created_at.to_s[5..6]}/#{log.created_at.to_s[0..3]}" %> às <%= log.created_at.to_s[11..18]%></td>
                                  <td><%= log.frase %></td>
                                  <%case log.form%>
                                  <%when "PROTOCOLO"%>
                                  <td><%= link_to 'Visualizar', protocolo_path(log.idacao) ,:class=>'btn btn-rounded btn-danger btn-sm' %></td>
                                  <%when "SOLICITAÇÃO"%>
                                  <td><%= link_to 'Visualizar', solicitaco_path(log.idacao) ,:class=>'btn btn-rounded btn-danger btn-sm' %></td>
                                  <%when "SOLICITACAO"%>
                                  <td><%= link_to 'Visualizar', solicitaco_path(log.idacao) ,:class=>'btn btn-rounded btn-danger btn-sm' %></td>
                                  <%when "SAIDA"%>
                                  <td><%= link_to 'Visualizar', saida_path(log.idacao) ,:class=>'btn btn-rounded btn-danger btn-sm' %></td>
                                  <%when "ENTRADA"%>
                                  <td><%= link_to 'Visualizar', entrada_path(log.idacao) ,:class=>'btn btn-rounded btn-danger btn-sm' %></td>
                                  <%when "ATEDIMENTO CLIENTE"%>
                                  <td><%= link_to 'Visualizar', cliente_path(log.idacao) ,:class=>'btn btn-rounded btn-danger btn-sm' %></td>
                                  <%when "CLIENTE"%>
                                  <td><%= link_to 'Visualizar', cliente_path(log.idacao) ,:class=>'btn btn-rounded btn-danger btn-sm' %></td>
                                <%end%>
                              </tr>
                            <% end %>
                          </tbody>
                        </table>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-inverse-danger btn-sm" data-dismiss="modal">Fechar</button>
                      </div>
                    </div>
                  </div>
                </div>
                <script type="text/javascript">
                    $(document).ready( function () {
                        $('#datatable<%=gerente.id.to_s%>').DataTable();
                    } );
                </script></td>
          </tbody>
        </table>
        <br>
        <table class="table table-bordered table-hover">
          <thead>
            <th>Corretores</th>
            <th>Clientes</th>
            <th>Comissão</th>
            <th>Ligações</th>
            <th>Lançamentos</th>
          </thead>
          <tbody>
            <% User.joins("join perms on users.id=perms.user_id").where("perms.cargo = '3' and perms.idgerente = ?","#{gerente.id}").each do |corretor|%>
              <tr>
                <td><%= corretor.nome%></td>
                <td><%= Protocolo.where("idcorretor = ? ","#{corretor.id}").count%></td>
                <td><%= ApplicationRecord.comissao_paga(corretor.id).to_dinheiro%></td>
                <td><%= Atendimento.where("corretorresponsavel = ?","#{corretor.id}").count%></td>
                <td> 
                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#test<%=corretor.id.to_s %>">
                    Lançamentos
                  </button>
                  <!-- Modal -->
                  <div class="modal fade" id="test<%=corretor.id.to_s%>" tabindex="-1" role="dialog" aria-labelledby="<%=corretor.id.to_s%>label" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="<%=corretor.id.to_s%>label"><%= corretor.nome %></h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <table class="table table-sm" id="datatable<%=corretor.id.to_s%>">
                            <thead>
                              <tr>
                                <th>Frase</th>
                                <th>Horário</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                              <% Log.where("user_id = ?","#{corretor.id}").order("created_at desc").each do |log| %>
                                <tr>
                                  <td><%= "#{log.created_at.to_s[8..9]}/#{log.created_at.to_s[5..6]}/#{log.created_at.to_s[0..3]}" %> às <%= log.created_at.to_s[11..18]%></td>
                                  <td><%= log.frase %></td>
                                  <%case log.form%>
                                  <%when "PROTOCOLO"%>
                                  <td><%= link_to 'Visualizar', protocolo_path(log.idacao) ,:class=>'btn btn-rounded btn-danger btn-sm' %></td>
                                  <%when "SOLICITAÇÃO"%>
                                  <td><%= link_to 'Visualizar', solicitaco_path(log.idacao) ,:class=>'btn btn-rounded btn-danger btn-sm' %></td>
                                  <%when "SOLICITACAO"%>
                                  <td><%= link_to 'Visualizar', solicitaco_path(log.idacao) ,:class=>'btn btn-rounded btn-danger btn-sm' %></td>
                                  <%when "SAIDA"%>
                                  <td><%= link_to 'Visualizar', saida_path(log.idacao) ,:class=>'btn btn-rounded btn-danger btn-sm' %></td>
                                  <%when "ENTRADA"%>
                                  <td><%= link_to 'Visualizar', entrada_path(log.idacao) ,:class=>'btn btn-rounded btn-danger btn-sm' %></td>
                                  <%when "ATEDIMENTO CLIENTE"%>
                                  <td><%= link_to 'Visualizar', cliente_path(log.idacao) ,:class=>'btn btn-rounded btn-danger btn-sm' %></td>
                                  <%when "CLIENTE"%>
                                  <td><%= link_to 'Visualizar', cliente_path(log.idacao) ,:class=>'btn btn-rounded btn-danger btn-sm' %></td>
                                <%end%>
                              </tr>
                            <% end %>
                          </tbody>
                        </table>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-inverse-danger btn-sm" data-dismiss="modal">Fechar</button>
                      </div>
                    </div>
                  </div>
                </div>
                <script type="text/javascript">
                    $(document).ready( function () {
                        $('#datatable<%=corretor.id.to_s%>').DataTable();
                    } );
                </script>
              </td>
              <tr>
              <%end%>
            </tbody>
          </table>
        </div>
      <%end%>
    </div>
  </div>
