<%= form_with(model: entrada, local: true) do |form| %>
  <% if entrada.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entrada.errors.count, "error") %> prohibited this entrada from being saved:</h2>

      <ul>
        <% entrada.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table">
  <thead>
    <tr>
      <th scope="col">
        <div class="field">
          <strong><%= form.label :banco_id %><br></strong>
          <%= form.select :banco_id, @bancos.collect { |banco| [banco.nome, banco.id] } , :class=>"form-control form-control-sm", :id=>"exampleFormControlSelect1"%>
        </div>
      </th>
      <th scope="col">
        <div class="field">
          <strong>  <%= form.label :Data_entrada %><br></strong>
          <%= form.date_field :dataentrada %>
        </div>
      </th>
      <th scope="col">
        <div class="field">
          <%case @entrada.pago%>
          <%when "Em aberto"%>
          <strong>Pagar/Inativar<br></strong>
          <%= form.select :pago, [["Pago"],["Inativo"]] %>
          <%when "Pago"%>
          <strong><%= form.label :pago %><br></strong>
          <%= form.select :pago, [["Extorno"]] %>
          <%when "Extorno"%>
          <strong><%= form.label :pago %><br></strong>
          <%= form.select :pago, [["Pago"],["Inativo"]] %>
          <%end%>
        </div>
      </th>
    </tr>
  </thead>
  </table>

  <%case @entrada.pago%>
    <%when "Pago"%>
    <div class="field">
      <strong>  <%= form.label :valor %><br></strong>
      <div class="input-group-prepend">
        <span class="input-group-text bg-gradient-primary text-white">$</span><strong class="text-primary" > <h3>R$ <%= @entrada.valor%></h3></strong>
      </div>
    </div>
    <%else%>
    <div class="field">
      <strong>  <%= form.label :valor %><br></strong>
      <div class="input-group-prepend">
        <span class="input-group-text bg-gradient-primary text-white">$</span>
        <%= form.number_field :valor, :type =>'number',:class=>'form-control', :placeholder=>'Valor' %>
      </div>
    </div>
  <%end%>

  <div class="field">
    <strong> <%= form.label :resumo_da_operação %><br></strong>
    <%= form.text_area :resumooperacao, :type =>'text',:class=>'form-control', :placeholder=>'Valor da Parcela' %>
  </div>


    <div class="field">

      <%= form.hidden_field :idcorretor %>
    </div>

    <div class="field">

      <%= form.hidden_field :idgerente %>
    </div>

    <div class="field">

      <%= form.hidden_field :cliente_id %>
    </div>
  <br>

    <div class="field">
    <strong>Comprovante:</strong>
    <%= form.file_field :comprovante%>
  </div>
  <div class="actions">
    <%= form.submit :class=>'btn btn-gradient-primary' %>
  </div>
<% end %>
