<card class="card">
<card class="card-body">
    <h4 class="card-title ">Lançando Recebimento</h4>

<%= render 'form', entrada: @entrada %>
<br>
<%= link_to 'Voltar', entradas_path, :class=>'btn btn-gradient-danger ' %>
</card>
</card>
