<p id="notice"><%= notice %></p>
<div class="page-header">
<h3 class="page-title">
<span class="page-title-icon bg-gradient-primary text-white mr-2">
<i class="mdi mdi-home"></i>
</span> Lista de Entradas <%= link_to 'Nova Entrada', new_entrada_path, class:'btn btn-gradient-primary btn-sm' %>
<button type="button" class="btn btn-gradient-success btn-sm" data-toggle="modal" data-target="#rel">
Relatorio
</button>
  <button type="button" class="btn btn-gradient-info btn-sm" data-toggle="modal" data-target="#buscar">
Filtros p/ pesquisa
</button>  
<button class="btn btn-gradient-danger btn-sm" type="button" data-toggle="collapse" data-target="#mes" aria-expanded="false" aria-controls="collapseExample">
  Lançamentos dos meses
</button></h3>
<nav aria-label="breadcrumb">
<ul class="breadcrumb">
<li class="breadcrumb-item active" aria-current="page">
<span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
</li>
</ul>
</nav>
</div>




<div class="collapse row" id="mes">
<% ['JAN','FEV','MAR','ABR','MAI','JUN','JUL','AGO','SET','OUT','NOV','DEZ'].each do |mes|%>

<div class="col-sm-2">
<div class="card">
<div class=" card-header">
<%= mes%>
 </div>
  <div class=" card-body">
   <h6>Vlr. do mês:</h6><br>
   <h6>R$</h6>
    <button type="button" class="btn btn-gradient-warning btn-sm">
      Detalhes
    </button> 
  </div>

</div>
  <br>
</div>

<%end%>
</div>

<br>
<card class="card">
  <card class="card-body">
<!-- Modal -->
  <div class="modal fade " id="rel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title " id="exampleModalCenterTitle">Adicionando Filtros p/ Relatorio
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <div class="modal-body text-left">
        <form class="forms-sample">
          <%= form_tag(entradas_path, :method => :get) do%>
          Data Inicial
          <%= date_field 'datainipdf',nil, :class => 'form-control'%>
          Data Final
          <%= date_field 'datafinpdf',nil, :class => 'form-control'%>
          <%= hidden_field 'gerar_pdf',nil,:class => 'form-control'%>

          <%= submit_tag "Pesquisar", :class => 'btn btn-success btn-round',:target=>'_blank' %>
          <%end%>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
  <div class="modal fade " id="buscar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title " id="exampleModalCenterTitle">Adicionando Filtros p/ Pesquisa
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <div class="modal-body text-left">
        <form class="forms-sample">
          <%= form_tag(entradas_path, :method => :get) do%>
          Data Inicial
          <%= date_field 'datainisearch',nil, :class => 'form-control'%>
          Data Final
          <%= date_field 'datafinsearch',nil, :class => 'form-control'%>
          Tipo
          <%= select_tag 'paraquem', options_for_select(["Saida","Entrada"]), :class => 'form-control'%>

          <%= submit_tag "Pesquisar", :class => 'btn btn-success btn-round' %>
          <%end%>
        </form>
      </div>
    </div>
  </div>
</div>


<table class="table table-bordered table-sm table-bordered " id ="datatable">
  <thead>
    <tr class="bg-primary text-center">
      <th scope="col"><strong>N° Entrada:</strong> </th>
      <th scope="col"><strong>Corretor/Gerente: </strong></th>
      <th scope="col"><strong>Data da entrada:</strong> </th>
      <th scope="col"><strong>Status:</strong> </th>
      <th scope="col"><strong>Valor: </strong></th>
      <th scope="col"><strong>Ações: </strong></th>
    </tr>
  </thead>
  <tbody>
  <% @entradas.each do |entrada| %>
    <tr>
      <td class="text-center"><%= entrada.id %></td>
      <td class="text-center"><%if entrada.idcorretor.present?%>
          <%= User.where("id = ?","#{entrada.idcorretor}").pluck("nome").first %><%else%> <%end%> |<%if entrada.idgerente.present?%> <%= User.where("id = ?","#{entrada.idgerente}").pluck("nome").first %> <%else%> <%end%></td>
      <td class="text-center"><%= "#{entrada.dataentrada.to_s[8..9]}/#{entrada.dataentrada.to_s[5..6]}/#{entrada.dataentrada.to_s[0..3]}"  %></td>
      <td class="text-center"> <%= entrada.pago %> </td>
      <td class="text-center"><%= "R$ #{entrada.valor}" %></td>       
    <div class="float-right">
    <td>
    <button type="button" class="btn btn-sm btn-gradient-info" data-toggle="modal" data-target="#s<%= entrada.id %>">
      Comprovante
    </button>
      <!-- Modal -->
      <div class="modal fade" id="s<%= entrada.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
            <%= image_tag entrada.comprovante, style: 'height:100%;width:100%;' if  entrada.comprovante.attached?%>
            </div>
          </div>
        </div>
      </div>
      <%= link_to 'Movimentar', edit_entrada_path(entrada),:class=>'btn btn-sm btn-gradient-primary' %>
      <%= link_to 'Exibir', entrada_path(entrada),:class=>'btn btn-sm btn-gradient-warning' %>
      <%= link_to 'Excluir', entrada, method: :delete, data: { confirm: 'Não será apagado se já gerado movimentação financeira!' },:class=>'btn btn-sm btn-gradient-danger' %></div>
	  </td>
    </tr>
    <% end %>
  </tbody>
</table>
<br>


<br>
  </card>
  </card>




<script type="text/javascript">
$(document).ready( function () {
    $('#datatable').DataTable();
} );
</script>
