<card class="card">
<card class="card-body">

<p id="notice"><%= notice %></p>

<table class="table table-bordered table-sm table-bordered ">
  <thead>
    <tr class="bg-primary text-center"> 
      <th scope="col"><strong>N° Entrada:</strong> </th>
      <th scope="col"><strong>Corretor/Gerente: </strong></th>
      <th scope="col"><strong>Data da Entrada:</strong> </th>
      <th scope="col"><strong>Status:</strong> </th>
      <th scope="col"><strong>Valor: </strong></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center"><%= @entrada.id %></td>
      <td class="text-center"><%if @entrada.idcorretor.present?%>
          <%= User.where("id = ?","#{@entrada.idcorretor}").pluck("nome").first %><%else%> <%end%> |<%if @entrada.idgerente.present?%> <%= User.where("id = ?","#{@entrada.idgerente}").pluck("nome").first %> <%else%> <%end%></td>
      <td class="text-center"><%= "#{@entrada.dataentrada.to_s[8..9]}/#{@entrada.dataentrada.to_s[5..6]}/#{@entrada.dataentrada.to_s[0..3]}"  %></td>
      <td class="text-center"> <%= @entrada.pago %> </td>
      <td class="text-center"><%= "R$ #{@entrada.valor}" %></td>
    </tr>
    <tr>  
      <td colspan="5" class="text-left">
        <strong>Resumo da Operação:</strong><br>
    <%= @entrada.resumooperacao %>
    </td> 
    </tr>
  </tbody>
</table>

<p>
  <strong>Comprovante:</strong><br>
  <button type="button" class="btn btn-gradient-primary" data-toggle="modal" data-target="#exampleModalCenter">
   Exibir 
</button>
</p>

<!-- Modal -->
<div class="modal fade " id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered " role="document">
    <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title " id="exampleModalCenterTitle">Comprovante
      </h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <div class="modal-body text-left">
        <form class="forms-sample">
        <%= image_tag @entrada.comprovante, style: 'height:100%;width:100%;' if  @entrada.comprovante.attached?%>
        </form>
      </div>
    </div>
  </div>
</div>


<%= link_to 'Edit', edit_entrada_path(@entrada),:class=>"btn btn-gradient-info"  %> |
<%= link_to 'Back', entradas_path,:class=>"btn btn-gradient-danger" %>
</card>
</card>