<%= form_with(model: feedbacktolog, local: true) do |form| %>
  <% if feedbacktolog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(feedbacktolog.errors.count, "error") %> prohibited this feedbacktolog from being saved:</h2>

      <ul>
        <% feedbacktolog.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :obs %>
    <%= form.text_area :obs %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :log_id %>
    <%= form.text_field :log_id %>
  </div>

  <div class="field">
    <%= form.label :lido %>
    <%= form.text_field :lido %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
