<p id="notice"><%= notice %></p>

<h1>Feedbacktologs</h1>

<table>
  <thead>
    <tr>
      <th>Obs</th>
      <th>User</th>
      <th>Log</th>
      <th>Lido</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @feedbacktologs.each do |feedbacktolog| %>
      <tr>
        <td><%= feedbacktolog.obs %></td>
        <td><%= feedbacktolog.user_id %></td>
        <td><%= feedbacktolog.log_id %></td>
        <td><%= feedbacktolog.lido %></td>
        <td><%= link_to 'Show', feedbacktolog %></td>
        <td><%= link_to 'Edit', edit_feedbacktolog_path(feedbacktolog) %></td>
        <td><%= link_to 'Destroy', feedbacktolog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Feedbacktolog', new_feedbacktolog_path %>
