<p id="notice"><%= notice %></p>

<p>
  <strong>Obs:</strong>
  <%= @feedbacktolog.obs %>
</p>

<p>
  <strong>User:</strong>
  <%= @feedbacktolog.user_id %>
</p>

<p>
  <strong>Log:</strong>
  <%= @feedbacktolog.log_id %>
</p>

<p>
  <strong>Lido:</strong>
  <%= @feedbacktolog.lido %>
</p>

<%= link_to 'Edit', edit_feedbacktolog_path(@feedbacktolog) %> |
<%= link_to 'Back', feedbacktologs_path %>
