<%= form_with(model: itemsolic, local: true) do |form| %>
  <% if itemsolic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(itemsolic.errors.count, "error") %> prohibited this itemsolic from being saved:</h2>

      <ul>
        <% itemsolic.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :solicitacoe_id %>
    <%= form.text_field :solicitacoe_id %>
  </div>

  <div class="field">
    <%= form.label :obs %>
    <%= form.text_area :obs %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
