<p id="notice"><%= notice %></p>

<h1>Itemsolics</h1>

<table>
  <thead>
    <tr>
      <th>Solicitacoe</th>
      <th>Obs</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @itemsolics.each do |itemsolic| %>
      <tr>
        <td><%= itemsolic.solicitacoe_id %></td>
        <td><%= itemsolic.obs %></td>
        <td><%= itemsolic.user_id %></td>
        <td><%= link_to 'Show', itemsolic %></td>
        <td><%= link_to 'Edit', edit_itemsolic_path(itemsolic) %></td>
        <td><%= link_to 'Destroy', itemsolic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Itemsolic', new_itemsolic_path %>
