<p id="notice"><%= notice %></p>

<p>
  <strong>Solicitacoe:</strong>
  <%= @itemsolic.solicitacoe_id %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @itemsolic.obs %>
</p>

<p>
  <strong>User:</strong>
  <%= @itemsolic.user_id %>
</p>

<%= link_to 'Edit', edit_itemsolic_path(@itemsolic) %> |
<%= link_to 'Back', itemsolics_path %>
