<%= form_with(model: documento, local: true) do |form| %>
  <% if documento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(documento.errors.count, "error") %> prohibited this documento from being saved:</h2>

      <ul>
        <% documento.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cliente_id %>
    <%= form.text_field :cliente_id %>
  </div>

  <div class="field">
    <%= form.label :nome_documento %>
    <%= form.text_field :nome_documento %>
  </div>

  <div class="field">
    <%= form.label :obs_documento %>
    <%= form.text_area :obs_documento %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
