<p id="notice"><%= notice %></p>

<h1>Documentos</h1>

<table>
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Nome documento</th>
      <th>Obs documento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @documentos.each do |documento| %>
      <tr>
        <td><%= documento.cliente_id %></td>
        <td><%= documento.nome_documento %></td>
        <td><%= documento.obs_documento %></td>
        <td><%= link_to 'Show', documento %></td>
        <td><%= link_to 'Edit', edit_documento_path(documento) %></td>
        <td><%= link_to 'Destroy', documento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Documento', new_documento_path %>
