<p id="notice"><%= notice %></p>

<p>
  <strong>Cliente:</strong>
  <%= @documento.cliente_id %>
</p>

<p>
  <strong>Nome documento:</strong>
  <%= @documento.nome_documento %>
</p>

<p>
  <strong>Obs documento:</strong>
  <%= @documento.obs_documento %>
</p>

<%= link_to 'Edit', edit_documento_path(@documento) %> |
<%= link_to 'Back', documentos_path %>
