<style media="screen">

.logbtn{
  border-radius: 5px;
  display: block;
  width: 100%;
  height: 50px;
  border: none;
  background: linear-gradient(120deg,#AED67D, #729E3D,#AED67D);
  background-size: 200%;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: .5s;
}

.logbtn:hover{
  background-position: right;
}

</style>
<br>
<br>
<br>
<br>

<div class="container mx-auto" >
  <div class="row">
    <div class="col-md-5 mx-auto">
      <div class="card ">

        <div class="card-body">
        <h4 class="card-title float-center">
          <img src="../../assets/logo.png"style="height:90px;">
          <br>Login</h4>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <%= f.email_field :email, autofocus: true, autocomplete: "email", :type =>'text',:class=>'form-control',:placeholder=>'Email' %><br />

        <%= f.password_field :password, autocomplete: "current-password", :type =>'password',:class=>'form-control',:placeholder=>'Senha' %><br />
        <% if devise_mapping.rememberable? %>

        <!--%= f.check_box :remember_me%-->
        <!--%= f.label :Lembrar? %-->

        <% end %>


        <%= f.submit "Log in", :class=>'btn-rounded logbtn' %><br />

        <% end %><br />
        <!--%= render "devise/shared/links" %--><br />
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
$(".txtb input").on("focus",function(){
  $(this).addClass("focus");
});

$(".txtb input").on("blur",function(){
  if($(this).val() == "")
  $(this).removeClass("focus");
});

</script>
