<p id="notice"><%= notice %></p>

<p>
  <strong>Obs:</strong>
  <%= @feedback.obs %>
</p>

<p>
  <strong>User:</strong>
  <%= @feedback.user_id %>
</p>

<p>
  <strong>Protocolo:</strong>
  <%= @feedback.protocolo_id %>
</p>

<%= link_to 'Edit', edit_feedback_path(@feedback) %> |
<%= link_to 'Back', feedbacks_path %>
