<div class="card">
<div class="card-body">
    <h4 class="card-title ">Contratos em andamento</h4>

<table class="table  table-hover" id="datatable">
  <thead>
    <tr>
      <th>id</th>
      <th>Cliente</th>
      <th>Status do Protocolo</th>
      <th>Valor</th>
      <th>Valor do Serviço</th>
      <th>Progresso</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @protocolos.each do |protocolo| %>
    <%case Statusprotocolo.where("protocolo_id = ?","#{protocolo.id}").pluck("status").first %>
    <%when 'Cancelado'%>
    <tr class = "bg-gradient-danger text-light" data-toggle="tooltip" data-placement="down" title="Reduza o Progresso do Status a 0%">
    <%when 'Cancelado'%>
    <tr class = "bg-gradient-danger text-light" data-toggle="tooltip" data-placement="down" title="Reduza o Progresso do Status a 0%">
    <%when 'Negado'%>
    <tr class = "bg-gradient-danger text-light" data-toggle="tooltip" data-placement="down" title="Reduza o Progresso do Status a 0%">
    <%else%>
    <tr class = "">
    <%end%>

      <a  href=".../clientes/<%= Cliente.where("id = ?","#{protocolo.cliente_id}").pluck("nome").first %>.html">
        <td><%= protocolo.cliente_id %></td>
        <td><%= Cliente.where("id = ?","#{protocolo.cliente_id}").pluck("nome").first %></td>
        <td><%= Statusprotocolo.where("protocolo_id = ?","#{protocolo.id}").pluck("status").first.to_s[0..20]... %></td>
        <td><%= "R$#{protocolo.valorcontrato}" %></td>
        <td><%= "R$#{protocolo.prestservico}" %></td>
        <%if Statusprotocolo.where("protocolo_id = ?","#{protocolo.id}").pluck("progress").present? %>
        <td>
        <div class="progress">
        <div class="progress-bar bg-primary progress-bar-striped" role="progressbar" style="width: <%= Statusprotocolo.where("protocolo_id = ?","#{protocolo.id}").pluck("progress").first %>%" aria-valuenow="<%= Statusprotocolo.where("protocolo_id = ?","#{protocolo.id}").pluck("progress") %>" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        </td>
        <td><%= link_to 'Verificar Cliente!',cliente_path(protocolo.cliente_id), :class=>'btn btn-sm btn-gradient-warning' %></td>
        <%else%>
        <td><%= link_to 'Verificar Cliente!',cliente_path(protocolo.cliente_id), :class=>'btn btn-sm btn-gradient-danger' %></td>
        <%end%>
      </a>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>


<script type="text/javascript">
$(document).ready( function () {
    $('#datatable').DataTable();
} );
</script>
