<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titulo %>
    <%= form.text_field :titulo, :class=>'form-control', :type=>'text' %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text, :class=>'form-control', :type=>'textarea' %>
  </div>
<br>
  <div class="actions">
    <%= form.submit 'Postar!',:class=>'btn btn-gradient-primary' %> <%= link_to 'Voltar', posts_path,:class=>'btn btn-gradient-danger' %>
  </div>
<% end %>
<br>
