<p id="notice"><%= notice %></p>
<card class="card">
  <card class="card-body">
<h1>Posts <%= link_to 'Novo Post', new_post_path, :class=>"btn btn-primary" %></h1>

<table class="table table-sm table-houver">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.titulo %></td>
        <td><%= post.text %></td>
        <td><%= link_to 'Editar', edit_post_path(post),:class=>'btn btn-info' %></td>
        <td><%= link_to 'Apagar', post, method: :delete, data: { confirm: 'Você tem certeza?' },:class=>'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


</card>
</card>
