<%case Perm.where("user_id = ?","#{current_user.id}").pluck("cargo").first%>
<%when '3'%>
<!-- Corretor-->
<div class="content-wrapper">
<div class="page-header">
<h3 class="page-title">
<span class="page-title-icon bg-gradient-primary text-white mr-2">
<i class="mdi mdi-home"></i>
</span> Bem vindo! Corretor! </h3>
<nav aria-label="breadcrumb">
<ul class="breadcrumb">
<li class="breadcrumb-item active" aria-current="page">
<span></span>Post do Admin <button type="button" class="pulsar btn btn-gradient-primary btn-rounded btn-icon" data-toggle="collapse" href="#geral" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
<i class="mdi mdi-message-alert"></i>
</button>
</li>
</ul>
</nav>
</div>
<div class="collapse multi-collapse" id="geral">
<div class="card card-header">
<%= @posttittle %>
</div>
<div class="card card-body">
<%= @post %>
</div>
<br>
</div>
<div class="row">
<div class="col-md-3 stretch-card grid-margin">
<div class="card bg-gradient-primary card-img-holder text-white">
<div class="card-body">
<img src="../../assets/circle.png" class="card-img-absolute" alt="circle-image">
<h4 class="font-weight-normal mb-3">Sua comissão mês atual<i class="mdi mdi-chart-line mdi-24px float-right"></i>
</h4>
<strong><h2 class="mb-5"> <%= @comissaocorretorpago.to_dinheiro%></h2></strong>
<h6 class="card-text">Pago Mês Passado <%= @comissaocorretormespassado.to_dinheiro %></h6>
<h6 class="card-text">Em aberto <%= @comissaocorretoremaberto.to_dinheiro %></h6>
</div>
</div>
</div>
<div class="col-md-3 stretch-card grid-margin">
<div class="card bg-gradient-danger card-img-holder text-white">
<div class="card-body">
<img src="../../assets/circle.png" class="card-img-absolute" alt="circle-image">
<h4 class="font-weight-normal mb-3">Atendimento P/ Retorno <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
</h4>
<h2 class="mb-5"><%= @retornoshoje%> Clientes Hoje</h2>
<h6 class="card-text">Amanhã <%= @retornosamanha%></h6>
</div>
</div>
</div>
<div class="col-md-3 stretch-card grid-margin">
<div class="card bg-gradient-warning card-img-holder text-white">
<div class="card-body">
<img src="../../assets/circle.png" class="card-img-absolute" alt="circle-image">
<h4 class="font-weight-normal mb-3">Clientes P/ Retorno <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
</h4>
<h2 class="mb-5"><%= Cliente.joins("join Itematendimentoclientes on itematendimentoclientes.cliente_id=clientes.id").where("itematendimentoclientes.quandoiraligar = ? and clientes.user_id = ? ","#{DateTime.now.to_s[0..9]}","#{current_user.id}").size%> Clientes Hoje</h2>
<h6 class="card-text">Amanhã <%= @retornosamanha%></h6>
</div>
</div>
</div>
<div class="col-md-3 stretch-card grid-margin">
<div class="card bg-gradient-success card-img-holder text-white">
<div class="card-body">
<img src="../../assets/circle.png" class="card-img-absolute" alt="circle-image">
<h4 class="font-weight-normal mb-3">Seus Contratos <i class="mdi mdi-diamond mdi-24px float-right"></i>
</h4>
<h3 class="mb-5"><%= @seuscontratos%></h3>
<!--h6 class="card-text">50 Antamentos | 60 Concluidos</h6-->
</div>
</div>
</div>
</div>



<div class="row">
<div class="col-md-12 grid-margin stretch-card">
<div class="card">
<div class="card-body">
<h4 class="card-title">Antedimentos Agendados para Hoje</h4>
<table class="table table-hover" id="datatable2">
  <thead>
    <tr>
      <th>Nome Cliente</th>
      <th>Número</th>
      <th>Corretor Responsavel</th>
      <th>Retornar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% Atendimento.joins("join Itematendimentos on itematendimentos.atendimento_id=atendimentos.id").where("itematendimentos.quandoiraligar = ? and corretorresponsavel = ? ","#{DateTime.now.to_s[0..9]}","#{current_user.id}").each do |atendimento| %>
      <tr>
        <td><%= atendimento.nome %></td>
        <td><%= atendimento.numero %></td>
        <%case atendimento.corretorresponsavel%>
        <%when nil%>
        <td><%= atendimento.corretorresponsavel %></td>
        <%else%>
        <td><%= User.where("id = ?","#{atendimento.corretorresponsavel}").pluck("nome").first%></td>
        <%end%>
        <%case Itematendimento.where("atendimento_id = ?","#{atendimento.id}").pluck("quandoiraligar").first%>
        <%when nil%>
        <td> Sem data de Retorno</td>
        <%else%>
        <td><% data = Itematendimento.where("atendimento_id = ?","#{atendimento.id}").pluck("quandoiraligar").first%>
            <%= "#{data.to_s[8..9]}/#{data.to_s[5..6]}/#{data.to_s[0..3]}" %></td>
        <%end%>
        <td><%= link_to 'Ligar', atendimento %></td>
        <td><%= link_to 'Editar', edit_atendimento_path(atendimento) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>
</div>




<div class="row">
<div class="col-md-12 grid-margin stretch-card">
<div class="card">
<div class="card-body">
<h4 class="card-title">Clientes Agendados retorno para Hoje</h4>
<table class="table table-hover" id="datatable1">
  <thead>
    <tr>
      <th>Nome Cliente</th>
      <th>Número</th>
      <th>Corretor Responsavel</th>
      <th>Retornar</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% Cliente.joins("join Itematendimentoclientes on itematendimentoclientes.cliente_id=clientes.id").where("itematendimentoclientes.quandoiraligar = ? and clientes.user_id = ? ","#{DateTime.now.to_s[0..9]}","#{current_user.id}").each do |atendimento| %>
      <tr>
        <td><%= atendimento.nome %></td>
        <td><%= atendimento.tel %></td>
        <%case atendimento.user_id%>
        <%when nil%>
        <td><%= atendimento.user_id %></td>
        <%else%>
        <td><%= User.where("id = ?","#{atendimento.user_id}").pluck("nome").first%></td>
        <%end%>
        <%case Itematendimentocliente.where("cliente_id = ?","#{atendimento.id}").pluck("quandoiraligar").first%>
        <%when nil%>
        <td> Sem data de Retorno</td>
        <%else%>
        <td><% data = Itematendimentocliente.where("cliente_id = ?","#{atendimento.id}").pluck("quandoiraligar").first%>
            <%= "#{data.to_s[8..9]}/#{data.to_s[5..6]}/#{data.to_s[0..3]}" %></td>
        <%end%>
        <td><%= link_to 'Ligar', cliente_path(atendimento.id), class:'btn btn-sm btn-info' %></td>      
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>
</div>






<div class="row">
<div class="col-12 grid-margin">
<div class="card">
<div class="card-body">
<div class="table-responsive">
<h1>Solicitações <%= link_to 'Abrir Solicitação', new_solicitaco_path,:class=>'btn btn-gradient-info' %> </h1>

<table class="table table-striped" id="datatable">
<thead>
<tr>
<th>Titulo</th>
<th>Data da Abertura</th>
<th>Finalizado</th>
<th>User</th>
<th>Userdestino</th>
<th>Ações</th>
</tr>
</thead>

<tbody>
<% @solicitacoes.each do |solicitaco| %>

<%if solicitaco.itemsolics.present?%>
<%case Itemsolic.where("solicitacoe_id = ?","#{solicitaco.id}").order("created_at desc").pluck("user_id").first %>
<%when !current_user%>
<tr class="bg-danger">
<%else%>
<tr>
<%end%>
<%else%>
<tr>
<%end%>
<td><%= solicitaco.titulo %></td>
<td><%= solicitaco.dataabertura %></td>
<td><%= solicitaco.finalizado %></td>
<td><%= User.where("id = ?","#{solicitaco.user_id}").pluck("nome").first  %></td>
<%case solicitaco.userdestino%>
<%when 0%>
<td>Administradores</td>
<%when 1%>
<td>Operacional</td>
<%when 2%>
<td>Gerência</td>
<%when 3%>
<td>Corretores</td>
<%else%>
ERRO
<%end%>
<td><%= link_to 'Exibir', solicitaco,:class=>'btn btn-gradient-warning' %>
<%= link_to 'Editar', edit_solicitaco_path(solicitaco),:class=>'btn btn-gradient-info' %></td>
</tr>
<% end %>
</tbody>
</table>

</div>
</div>
</div>
</div>
</div>

<script type="text/javascript">
  $(document).ready( function () {
      $('#datatable').DataTable();
  } );
</script>
<script type="text/javascript">
  $(document).ready( function () {
      $('#datatable1').DataTable();
  } );
</script>
<script type="text/javascript">
  $(document).ready( function () {
      $('#datatable2').DataTable();
  } );
</script>
<script type="text/javascript">
  $(document).ready( function () {
      $('#datatable3').DataTable();
  } );
</script>



<%when '1'%>
<!-- Operacional-->

<div class="content-wrapper">

<div class="page-header">
<h3 class="page-title">
<span class="page-title-icon bg-gradient-primary text-white mr-2">
<i class="mdi mdi-home"></i>
</span> Bem vindo! Operador! </h3>
<nav aria-label="breadcrumb">
<ul class="breadcrumb">
<li class="breadcrumb-item active" aria-current="page">
<span></span>Post do Admin <button type="button" class="pulsar btn btn-gradient-primary btn-rounded btn-icon" data-toggle="collapse" href="#geral" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
<i class="mdi mdi-message-alert"></i>
</button>
</li>
</ul>
</nav>

</div>
<div class="collapse multi-collapse" id="geral">
<div class="card card-header">
<%= @posttittle %>
</div>
<div class="card card-body">
<%= @post %>
</div>
<br>
</div>
<div class="row">
<div class="col-md-6 stretch-card grid-margin">
<div class="card bg-gradient-primary card-img-holder text-white">
<div class="card-body">
<img src="../../assets/circle.png" class="card-img-absolute" alt="circle-image">
<h4 class="font-weight-normal mb-3">Número de Clientes <i class="mdi mdi-chart-line mdi-24px float-right"></i>
</h4>
<strong><h2 class="mb-5"><%= Cliente.all.count %> Clientes</h2></strong>
<h6 class="card-text"></h6>
</div>
</div>
</div>
<div class="col-md-6 stretch-card grid-margin">
<div class="card bg-gradient-danger card-img-holder text-white">
<div class="card-body">
<img src="../../assets/circle.png" class="card-img-absolute" alt="circle-image">
<h4 class="font-weight-normal mb-3">Contratos <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
</h4>
<h2 class="mb-5">Número de contratos: <%= Protocolo.all.count %></h2>
<h6 class="card-text">Em andamento:<%= @protocolos.count%></h6>
</div>
</div>
</div>
</div>

<div class="card">
<div class="card-body">
<h4 class="card-title">Contratos</h4>
<div class="table-responsive">
<table class="table  table-hover">
<thead>
<tr>
<th>id</th>
<th>Cliente</th>
<th>Status do Protocolo</th>
<th>Valor</th>
<th>Valor do Serviço</th>
<th colspan="3">Progresso</th>
</tr>
</thead>

<tbody>
<% @protocolos.each do |protocolo| %>
<%case Statusprotocolo.where("protocolo_id = ?","#{protocolo.id}").pluck("status").first %>
<%when 'Cancelado'%>
<tr class = "bg-gradient-danger text-light" data-toggle="tooltip" data-placement="down" title="Reduza o Progresso do Status a 0%">
<%when 'Cancelado'%>
<tr class = "bg-gradient-danger text-light" data-toggle="tooltip" data-placement="down" title="Reduza o Progresso do Status a 0%">
<%when 'Negado'%>
<tr class = "bg-gradient-danger text-light" data-toggle="tooltip" data-placement="down" title="Reduza o Progresso do Status a 0%">
<%else%>
<tr class = "">
<%end%>

<a  href=".../clientes/<%= Cliente.where("id = ?","#{protocolo.cliente_id}").pluck("nome").first %>.html">
<td><%= protocolo.cliente_id %></td>
<td><%= Cliente.where("id = ?","#{protocolo.cliente_id}").pluck("nome").first %></td>
<td><%= Statusprotocolo.where("protocolo_id = ?","#{protocolo.id}").pluck("status").first %></td>
<td><%= "#{protocolo.valorcontrato}" %></td>
<td><%= "#{protocolo.prestservico}" %></td>
<%if Statusprotocolo.where("protocolo_id = ?","#{protocolo.id}").pluck("progress").present? %>
<td>
<div class="progress">
<div class="progress-bar bg-primary progress-bar-striped" role="progressbar" style="width: <%= Statusprotocolo.where("protocolo_id = ?","#{protocolo.id}").pluck("progress").first %>%" aria-valuenow="<%= Statusprotocolo.where("protocolo_id = ?","#{protocolo.id}").pluck("progress").first %>" aria-valuemin="0" aria-valuemax="100"></div>
</div>
</td>
<%else%>
<td><%= link_to 'Verificar Cliente!',cliente_path(protocolo.cliente_id), :class=>'btn btn-sm btn-gradient-danger' %></td>
<%end%>
</a>
</tr>
<% end %>
</tbody>
</table>



</div>
</div>
</div>
</div>

<div class="row">
<div class="col-12 grid-margin">
<div class="card">
<div class="card-body">
<div class="table-responsive">
<h1>Solicitações <%= link_to 'Abrir Solicitação', new_solicitaco_path,:class=>'btn btn-gradient-info' %> </h1>

<table class="table table-striped">
<thead>
<tr>
<th>Titulo</th>
<th>Data da Abertura</th>
<th>Finalizado</th>
<th>User</th>
<th>Userdestino</th>
<th colspan="3"></th>
</tr>
</thead>

<tbody>
<% @solicitacoes.each do |solicitaco| %>

<%if solicitaco.itemsolics.present?%>
<%case Itemsolic.where("solicitacoe_id = ?","#{solicitaco.id}").order("created_at desc").pluck("user_id").first %>
<%when !current_user%>
<tr class="bg-danger">
<%else%>
<tr>
<%end%>
<%else%>
<tr>
<%end%>
<td><%= solicitaco.titulo %></td>
<td><%= solicitaco.dataabertura %></td>
<td><%= solicitaco.finalizado %></td>
<td><%= User.where("id = ?","#{solicitaco.user_id}").pluck("nome").first  %></td>
<%case solicitaco.userdestino%>
<%when 0%>
<td>Administradores</td>
<%when 1%>
<td>Operacional</td>
<%when 2%>
<td>Gerência</td>
<%when 3%>
<td>Corretores</td>
<%else%>
ERRO
<%end%>
<td><%= link_to 'Exibir', solicitaco,:class=>'btn btn-gradient-warning' %></td>
<td><%= link_to 'Editar', edit_solicitaco_path(solicitaco),:class=>'btn btn-gradient-info' %></td>
</tr>
<% end %>
</tbody>
</table>

</div>
</div>
</div>
</div>

</div>
<%when '2'%>
<!-- Para os Gerentes -->

<div class="page-header">
<h3 class="page-title">
<span class="page-title-icon bg-gradient-primary text-white mr-2">
<i class="mdi mdi-home"></i>
</span> Bem vindo! Gerente! </h3>
<nav aria-label="breadcrumb">
<ul class="breadcrumb">
<li class="breadcrumb-item active" aria-current="page">
<span></span>Post do Admin <button type="button" class="pulsar btn btn-gradient-primary btn-rounded btn-icon" data-toggle="collapse" href="#geral" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
<i class="mdi mdi-message-alert"></i>
</button>
</li>
</ul>
</nav>
</div>
<div class="collapse multi-collapse" id="geral">
<div class="card card-header">
<%= @posttittle %>
</div>
<div class="card card-body">
<%= @post %>
</div>
<br>
</div>
<div class="row">
<div class="col-md-4 stretch-card grid-margin">
<div class="card bg-gradient-primary card-img-holder text-white">
<div class="card-body">
<img src="../../assets/circle.png" class="card-img-absolute" alt="circle-image">
<h4 class="font-weight-normal mb-3">Sua comissão mês atual<i class="mdi mdi-chart-line mdi-24px float-right"></i>
</h4>
<strong><h2 class="mb-5"> <%= @comissaogerentepago%></h2></strong>
<h6 class="card-text">Pago Mês Passado <%= @comissaogerentemespassado %></h6>
<h6 class="card-text">Em aberto <%= @comissaogerenteemaberto %></h6>
</div>
</div>
</div>
<div class="col-md-4 stretch-card grid-margin">
<div class="card bg-gradient-danger card-img-holder text-white">
<div class="card-body">
<img src="../../assets/circle.png" class="card-img-absolute" alt="circle-image">
<h4 class="font-weight-normal mb-3">Clientes P/ Retorno <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
</h4>
<h2 class="mb-5"><%= @retornoshoje%> Clientes Hoje</h2>
<h6 class="card-text">Amanhã <%= @retornosamanha%></h6>
</div>
</div>
</div>
<div class="col-md-4 stretch-card grid-margin">
<div class="card bg-gradient-success card-img-holder text-white">
<div class="card-body">
<img src="../../assets/circle.png" class="card-img-absolute" alt="circle-image">
<h4 class="font-weight-normal mb-3">Seus Contratos <i class="mdi mdi-diamond mdi-24px float-right"></i>
</h4>
<h3 class="mb-5"><%= @seuscontratos%></h3>
<!--h6 class="card-text">50 Antamentos | 60 Concluidos</h6-->
</div>
</div>
</div>
</div>

<div class="col-md-12 grid-margin stretch-card">
<div class="card">
<div class="card-body">
<h4 class="card-title">Antedimentos Agendados para Hoje</h4>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome Cliente</th>
      <th>Número</th>
      <th>Corretor Responsavel</th>
      <th>Retornar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% Atendimento.joins("join Itematendimentos on itematendimentos.atendimento_id=atendimentos.id").where("itematendimentos.quandoiraligar = ? and corretorresponsavel = ? ","#{DateTime.now.to_s[0..9]}","#{current_user.id}").each do |atendimento| %>
      <tr>
        <td><%= atendimento.nome %></td>
        <td><%= atendimento.numero %></td>
        <%case atendimento.corretorresponsavel%>
        <%when nil%>
        <td><%= atendimento.corretorresponsavel %></td>
        <%else%>
        <td><%= User.where("id = ?","#{atendimento.corretorresponsavel}").pluck("nome").first%></td>
        <%end%>
        <%case Itematendimento.where("atendimento_id = ?","#{atendimento.id}").pluck("quandoiraligar").first%>
        <%when nil%>
        <td> Sem data de Retorno</td>
        <%else%>
        <td><% data = Itematendimento.where("atendimento_id = ?","#{atendimento.id}").pluck("quandoiraligar").first%>
            <%= "#{data.to_s[8..9]}/#{data.to_s[5..6]}/#{data.to_s[0..3]}" %></td>
        <%end%>
        <td><%= link_to 'Ligar', atendimento %></td>
        <td><%= link_to 'Editar', edit_atendimento_path(atendimento) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>

<div class="col-md-12 grid-margin stretch-card">
<div class="card">
<div class="card-body">
<h4 class="card-title">Contratos</h4>
<div class="table-responsive">
<table class="table  table-hover">
<thead>
<tr>
<th>id</th>
<th>Cliente</th>
<th>Status do Protocolo</th>
<th>Valor</th>
<th>Valor do Serviço</th>
<th>Progresso</th>
<th></th>
</tr>
</thead>

<tbody>
<% @protocolos.each do |protocolo| %>
<%case Statusprotocolo.where("protocolo_id = ?","#{protocolo.id}").pluck("status").first %>
<%when 'Cancelado'%>
<tr class = "bg-gradient-danger text-light" data-toggle="tooltip" data-placement="down" title="Reduza o Progresso do Status a 0%">
<%when 'Cancelado'%>
<tr class = "bg-gradient-danger text-light" data-toggle="tooltip" data-placement="down" title="Reduza o Progresso do Status a 0%">
<%when 'Negado'%>
<tr class = "bg-gradient-danger text-light" data-toggle="tooltip" data-placement="down" title="Reduza o Progresso do Status a 0%">
<%else%>
<tr class = "">
<%end%>

<a  href=".../clientes/<%= Cliente.where("id = ?","#{protocolo.cliente_id}").pluck("nome").first %>.html">
<td><%= protocolo.cliente_id %></td>
<td><%= Cliente.where("id = ?","#{protocolo.cliente_id}").pluck("nome").first %></td>
<td><%= Statusprotocolo.where("protocolo_id = ?","#{protocolo.id}").pluck("status").first %></td>
<td><%= "#{protocolo.valorcontrato}" %></td>
<td><%= "#{protocolo.prestservico}" %></td>
<%if Statusprotocolo.where("protocolo_id = ?","#{protocolo.id}").pluck("progress").present? %>
<td>
<div class="progress">
<div class="progress-bar bg-primary progress-bar-striped" role="progressbar" style="width: <%= Statusprotocolo.where("protocolo_id = ?","#{protocolo.id}").pluck("progress").first %>%" aria-valuenow="<%= Statusprotocolo.where("protocolo_id = ?","#{protocolo.id}").pluck("progress").first %>" aria-valuemin="0" aria-valuemax="100"></div>
</div>
</td>
<%else%>
<td><%= link_to 'Verificar Cliente!',cliente_path(protocolo.cliente_id), :class=>'btn btn-sm btn-gradient-danger' %></td>
<%end%>
</a>
</tr>
<% end %>
</tbody>
</table>



</div>
</div>
</div>
</div>
</div>

<div class="row">
<div class="col-md-12 grid-margin stretch-card">
<div class="card">
<div class="card-body">
<div class="table table-responsive">
<h1>Solicitações <%= link_to 'Abrir Solicitação', new_solicitaco_path,:class=>'btn btn-gradient-info' %> </h1>

<table class="table table-striped">
<thead>
<tr>
<th>Titulo</th>
<th>Data da Abertura</th>
<th>Finalizado</th>
<th>User</th>
<th>Userdestino</th>
<th colspan="3"></th>
</tr>
</thead>

<tbody>
<% @solicitacoes.each do |solicitaco| %>

<%if solicitaco.itemsolics.present?%>
<%case Itemsolic.where("solicitacoe_id = ?","#{solicitaco.id}").order("created_at desc").pluck("user_id").first %>
<%when !current_user%>
<tr class="bg-danger">
<%else%>
<tr>
<%end%>
<%else%>
<tr>
<%end%>
<td><%= solicitaco.titulo %></td>
<td><%= solicitaco.dataabertura %></td>
<td><%= solicitaco.finalizado %></td>
<td><%= User.where("id = ?","#{solicitaco.user_id}").pluck("nome").first  %></td>
<%case solicitaco.userdestino%>
<%when 0%>
<td>Administradores</td>
<%when 1%>
<td>Operacional</td>
<%when 2%>
<td>Gerência</td>
<%when 3%>
<td>Corretores</td>
<%else%>
ERRO
<%end%>
<td><%= link_to 'Exibir', solicitaco,:class=>'btn btn-gradient-warning' %></td>
<td><%= link_to 'Editar', edit_solicitaco_path(solicitaco),:class=>'btn btn-gradient-info' %></td>
</tr>
<% end %>
</tbody>
</table>

</div>
</div>
</div>
</div>
</div>


<%when '0'%>
<!-- Para os Admin -->

<div class="page-header">
<h3 class="page-title">
<span class="page-title-icon bg-gradient-primary text-white mr-2">
<i class="mdi mdi-home"></i>
</span> Bem vindo! Administrador! </h3>
<nav aria-label="breadcrumb">
<ul class="breadcrumb">
<li class="breadcrumb-item active" aria-current="page">
<span></span>Post do Admin <button type="button" class="pulsar btn btn-gradient-primary btn-rounded btn-icon" data-toggle="collapse" href="#geral" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
<i class="mdi mdi-message-alert"></i>
</button>
</li>
</ul>
</nav>
</div>
<div class="collapse multi-collapse" id="geral">
<div class="card card-header">
<%= @posttittle %>
</div>
<div class="card card-body">
<%= @post %>
</div>
<br>
</div>
<div class="row">
<div class="col-md-4 stretch-card grid-margin">
<div class="card bg-gradient-primary card-img-holder text-white">
<div class="card-body">
<img src="../../assets/circle.png" class="card-img-absolute" alt="circle-image">
<h4 class="font-weight-normal mb-3">Entradas no mês <i class="mdi mdi-chart-line mdi-24px float-right"></i>
</h4>
<strong><h2 class="mb-5"> <%=@entradas_do_mes.to_dinheiro %></h2></strong>
<h5 class="mb-5">Total <%=@entradas.to_dinheiro %></h5>
<h6 class="card-text">Em aberto  <%= @entradasemaberto.to_dinheiro%></h6>
</div>
</div>
</div>
<div class="col-md-4 stretch-card grid-margin">
<div class="card bg-gradient-danger card-img-holder text-white">
<div class="card-body">
<img src="../../assets/circle.png" class="card-img-absolute" alt="circle-image">
<h4 class="font-weight-normal mb-3">Saidas no mês <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
</h4>
<strong>
<h2 class="mb-5"> <%=@saidas_do_mes.to_dinheiro %></h2></strong>
<h5 class="mb-5">Total  <%=@saidas.to_dinheiro %></h5></strong>
<h6 class="card-text">Em aberto  <%= @saidasemaberto.to_dinheiro%></h6>
</div>
</div>
</div>
<div class="col-md-4 stretch-card grid-margin">
<div class="card bg-gradient-success card-img-holder text-white">
<div class="card-body">
<img src="../../assets/circle.png" class="card-img-absolute" alt="circle-image">
<h4 class="font-weight-normal mb-3">Contratos <i class="mdi mdi-diamond mdi-24px float-right"></i>
</h4>
<h3 class="mb-5"><%= @andamentocontratos %> em andamento</h3>
<!--h6 class="card-text">50 Cancelados | 60 Concluidos</h6-->
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-md-7 grid-margin stretch-card">
  <div class="card">
  <div class="card-body"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
  <h4 class="card-title">Contratos/Financeiro: (Saidas)</h4>
  <div id="traffic-chart-legend" class="rounded-legend legend-vertical legend-bottom-left pt-4"><ul><li>
  <span class="legend-dots" style="background:linear-gradient(to right, rgba(54, 215, 232, 1), rgba(177, 148, 250, 1))">
  </span>Total Pago!<span class="float-right"><%= @totalpago.to_dinheiro%></span>
  </li><li>
  <span class="legend-dots" style="background:linear-gradient(to right, rgba(6, 185, 157, 1), rgba(132, 217, 210, 1))">
  </span>Total Inativado!<span class="float-right"><%= @totalinativo.to_dinheiro%></span></li><li>
  <span class="legend-dots" style="background:linear-gradient(to right, rgba(255, 191, 150, 1), rgba(254, 112, 150, 1))">
  </span>Total Extornado!<span class="float-right"><%= @totalextorno.to_dinheiro%></span></li></ul></div>

  <% series = [
  {name: "Pagos no mês", data: @totalpagomês},
  {name: "Inativos", data: @totalinativomês}
  ] %>
  <% options = {
  subtitle: 'Agrupado por dia',
  xtitle: 'Dia',
  ytitle: 'Saidas',
  stacked: true
  } %>
  <%= area_chart(series, {**options, theme: 'palette5'}) %>

  </div>
  </div>
</div>
<div class="col-md-5 grid-margin stretch-card">
<div class="card">
<div class="card-body"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
<h4 class="card-title">Contratos/Financeiro: (Entradas)</h4>
<div id="traffic-chart-legend" class="rounded-legend legend-vertical legend-bottom-left pt-4"><ul><li>
<span class="legend-dots" style="background:linear-gradient(to right, rgba(54, 215, 232, 1), rgba(177, 148, 250, 1))">
</span>Total Pago!<span class="float-right"><%= @totalpagoe.to_dinheiro%></span>
</li><li>
<span class="legend-dots" style="background:linear-gradient(to right, rgba(6, 185, 157, 1), rgba(132, 217, 210, 1))">
</span>Total Inativado!<span class="float-right"><%= @totalinativoe.to_dinheiro%></span></li><li>
<span class="legend-dots" style="background:linear-gradient(to right, rgba(255, 191, 150, 1), rgba(254, 112, 150, 1))">
</span>Total Extornado!<span class="float-right"><%= @totalextornoe.to_dinheiro%></span></li></ul></div>
</div>
</div>
</div>
<div class="col-md-5 grid-margin stretch-card">

</div>
</div>
<div class="card">
<div class="card-body">
<h4 class="card-title">Contratos</h4>
<% series = [
{name: "Contratos em Andamento", data: @contratosand},
{name: "Contratos", data: @contratos}
] %>
<% options = {
subtitle: 'Agrupado por dia',
xtitle: 'Dia',
ytitle: 'Contratos',
stacked: true
} %>
<%= area_chart(series, {**options, theme: 'palette5'}) %>
</div>
</div>
<br>
<div class="row">
<div class="col-12 grid-margin">
<div class="card">
<div class="card-body">
<div class="table-responsive">
<h1>Solicitações <%= link_to 'Abrir Solicitação', new_solicitaco_path,:class=>'btn btn-gradient-info' %> </h1>

<table class="table table-striped">
<thead>
<tr>
<th>Titulo</th>
<th>Data da Abertura</th>
<th>Finalizado</th>
<th>User</th>
<th>Userdestino</th>
<th colspan="3"></th>
</tr>
</thead>

<tbody>
<% @solicitacoes.each do |solicitaco| %>

<%if solicitaco.itemsolics.present?%>
<%case Itemsolic.where("solicitacoe_id = ?","#{solicitaco.id}").order("created_at desc").pluck("user_id").first %>
<%when !current_user%>
<tr class="bg-danger">
<%else%>
<tr>
<%end%>
<%else%>
<tr>
<%end%>
<td><%= solicitaco.titulo %></td>
<td><%= solicitaco.dataabertura %></td>
<td><%= solicitaco.finalizado %></td>
<td><%= User.where("id = ?","#{solicitaco.user_id}").pluck("nome").first  %></td>
<%case solicitaco.userdestino%>
<%when 0%>
<td>Administradores</td>
<%when 1%>
<td>Operacional</td>
<%when 2%>
<td>Gerência</td>
<%when 3%>
<td>Corretores</td>
<%else%>
ERRO
<%end%>
<td><%= link_to 'Exibir', solicitaco,:class=>'btn btn-gradient-warning' %></td>
<td><%= link_to 'Editar', edit_solicitaco_path(solicitaco),:class=>'btn btn-gradient-info' %></td>
</tr>
<% end %>
</tbody>
</table>

</div>
</div>
</div>
</div>
</div>
<div class="row">

<div class="col-md-12 grid-margin">
<div class="card">
<div class="card-body">
<h4 class="card-title">Contratos</h4>
<div class="table-responsive">
<table class="table  table-hover">
<thead>
<tr>
<th>id</th>
<th>Cliente</th>
<th>Status do Protocolo</th>
<th>Valor</th>
<th>Valor do Serviço</th>
<th colspan="3">Progresso</th>
</tr>
</thead>

<tbody>
<% @protocolos.each do |protocolo| %>
<%case Statusprotocolo.where("protocolo_id = ?","#{protocolo.id}").pluck("status").first %>
<%when 'Cancelado'%>
<tr class = "bg-gradient-danger text-light" data-toggle="tooltip" data-placement="down" title="Reduza o Progresso do Status a 0%">
<%when 'Cancelado'%>
<tr class = "bg-gradient-danger text-light" data-toggle="tooltip" data-placement="down" title="Reduza o Progresso do Status a 0%">
<%when 'Negado'%>
<tr class = "bg-gradient-danger text-light" data-toggle="tooltip" data-placement="down" title="Reduza o Progresso do Status a 0%">
<%else%>
<tr class = "">
<%end%>

<a  href=".../clientes/<%= Cliente.where("id = ?","#{protocolo.cliente_id}").pluck("nome").first %>.html">
<td><%= protocolo.cliente_id %></td>
<td><%= Cliente.where("id = ?","#{protocolo.cliente_id}").pluck("nome").first %></td>
<td><%= Statusprotocolo.where("protocolo_id = ?","#{protocolo.id}").pluck("status").first %></td>
<td><%= "#{protocolo.valorcontrato}" %></td>
<td><%= "#{protocolo.prestservico}" %></td>
<%if Statusprotocolo.where("protocolo_id = ?","#{protocolo.id}").pluck("progress").present? %>
<td>
<div class="progress">
<div class="progress-bar bg-primary progress-bar-striped" role="progressbar" style="width: <%= Statusprotocolo.where("protocolo_id = ?","#{protocolo.id}").pluck("progress").first %>%" aria-valuenow="<%= Statusprotocolo.where("protocolo_id = ?","#{protocolo.id}").pluck("progress").first %>" aria-valuemin="0" aria-valuemax="100"></div>
</div>
</td>
<%else%>
<td><%= link_to 'Verificar Cliente!',cliente_path(protocolo.cliente_id), :class=>'btn btn-sm btn-gradient-danger' %></td>
<%end%>
</a>
</tr>
<% end %>
</tbody>
</table>



</div>
</div>
</div>
</div>
</div>




</div>
<%else%>
<h1>Usuário sem Permissão</h1>
<%end%>
