<%= form_with(model: log, local: true) do |form| %>
  <% if log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(log.errors.count, "error") %> prohibited this log from being saved:</h2>

      <ul>
        <% log.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :frase %>
    <%= form.text_field :frase %>
  </div>

  <div class="field">
    <%= form.label :form %>
    <%= form.text_field :form %>
  </div>

  <div class="field">
    <%= form.label :idacao %>
    <%= form.text_field :idacao %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
