<p id="notice"><%= notice %></p>
<card class="card">
  <card class="card-body">
    <!-- Modal -->
      <div class="modal fade " id="buscar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered " role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title " id="exampleModalCenterTitle">Adicionando Filtros p/ Pesquisa
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
            </div>
          <div class="modal-body text-left">
            <form class="forms-sample">
              <%= form_tag(saidas_path, :method => :get) do%>
              <%= hidden_field 'filtro',nil, :class => 'form-control'%>
              Data Inicial
              <%= date_field 'dataini',nil, :class => 'form-control'%>
              Data Final
              <%= date_field 'datafin',nil, :class => 'form-control'%>

              <%= submit_tag "Pesquisar", :class => 'btn btn-success btn-round' %>
              <%end%>
            </form>
          </div>
        </div>
      </div>
    </div>
<h1>Logs</h1>
<button type="button" class="btn btn-gradient-success" data-toggle="modal" data-target="#buscar">
Filtros p/ pesquisa
</button>
<table class="table table-sm" id="datatable">
  <thead>
    <tr>
      <th>Usuário</th>
      <th>Frase</th>
      <th>Form</th>
      <th>Id Ação</th>
      <th>Horário</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @logs.order(:created_at).each do |log| %>
      <tr>
        <td><%= User.where("id = ?","#{log.user_id}").pluck("nome").first %></td>
        <td><%= log.frase %></td>
        <td><%= log.form %></td>
        <td><%= log.idacao %></td>
        <td><%= "#{log.created_at.to_s[8..9]}/#{log.created_at.to_s[5..6]}/#{log.created_at.to_s[0..3]}" %> às <%= log.created_at.to_s[11..18]%></td>
        <%case log.form%>
        <%when "PROTOCOLO"%>
        <td><%= link_to 'Visualizar', protocolo_path(log.idacao) ,:class=>'btn btn-rounded btn-gradient-danger' %></td>
        <%when "SOLICITAÇÃO"%>
        <td><%= link_to 'Visualizar', solicitaco_path(log.idacao) ,:class=>'btn btn-rounded btn-gradient-danger' %></td>
        <%when "SOLICITACAO"%>
        <td><%= link_to 'Visualizar', solicitaco_path(log.idacao) ,:class=>'btn btn-rounded btn-gradient-danger' %></td>
        <%when "SAIDA"%>
        <td><%= link_to 'Visualizar', saida_path(log.idacao) ,:class=>'btn btn-rounded btn-gradient-danger' %></td>
        <%when "ENTRADA"%>
        <td><%= link_to 'Visualizar', entrada_path(log.idacao) ,:class=>'btn btn-rounded btn-gradient-danger' %></td>
        <%when "ATEDIMENTO CLIENTE"%>
        <td><%= link_to 'Visualizar', cliente_path(log.idacao) ,:class=>'btn btn-rounded btn-gradient-danger' %></td>
        <%when "CLIENTE"%>
        <td><%= link_to 'Visualizar', cliente_path(log.idacao) ,:class=>'btn btn-rounded btn-gradient-danger' %></td>
        <%end%>

      </tr>
    <% end %>
  </tbody>
</table>

</card>
</card>



