<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @log.user_id %>
</p>

<p>
  <strong>Frase:</strong>
  <%= @log.frase %>
</p>

<p>
  <strong>Form:</strong>
  <%= @log.form %>
</p>

<p>
  <strong>Idacao:</strong>
  <%= @log.idacao %>
</p>

<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>
