<%= form_with(model: movfin, local: true) do |form| %>
  <% if movfin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movfin.errors.count, "error") %> prohibited this movfin from being saved:</h2>

      <ul>
        <% movfin.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :idmov %>
    <%= form.number_field :idmov %>
  </div>

  <div class="field">
    <%= form.label :tipo %>
    <%= form.text_field :tipo %>
  </div>

  <div class="field">
    <%= form.label :acao %>
    <%= form.text_field :acao %>
  </div>

  <div class="field">
    <%= form.label :valor %>
    <%= form.text_field :valor %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
