<h1>Movimentações</h1>
<h5>Usuário: <%= User.where("id = ?","#{current_user.id}").pluck('nome').first%></h5></th>
<h5>Emissão do Relátorio: <%= "#{DateTime.now.to_date.to_s[8..9]}/#{DateTime.now.to_date.to_s[5..6]}/#{DateTime.now.to_date.to_s[0..3]}"%></h5>
<br>
<h1>Movimentações Financeiras</h1>


<table class="table table-bordered text-center">
  <thead>
    <tr class="bg-primary">
      <th>Id Fatura</th>
      <th>Tipo</th>
      <th>Ação</th>
      <th>Data da Movimentação</th>
      <th>Valor</th>
    </tr>
  </thead>

  <tbody>
    <% @movfins.each do |movfin| %>
      <tr>
        <td><%= movfin.idmov %></td>
        <td><%= movfin.tipo %></td>
        <td><%= movfin.acao %></td>
       <td><%= "#{movfin.created_at.to_s[8..9]}/#{movfin.created_at.to_s[5..6]}/#{movfin.created_at.to_s[0..3]}" %> às <%= movfin.created_at.to_s[11..18]%></td>
        <td><%= "R$ #{movfin.valor}" %></td>
      </tr>
    <% end %>
    <tr>
    	<td colspan="4 "class="text-right">Total:</td>
    	<td><%="R$ #{@totalmov}" %></td>
    </tr>
  </tbody>
</table>
<br>
  

<style>

.text-center {
  text-align: center !important; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

  .bg-primary {
  background-color: #8DC74C !important; }

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529; }
  .table th,
  .table td {
    padding: 0.9375rem;
    vertical-align: top;
    border-top: 1px solid #ebedf2; }
  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #ebedf2; }
  .table tbody + tbody {
    border-top: 2px solid #ebedf2; }

.table-sm th,
.table-sm td {
  padding: 0.3rem; }

.table-bordered {
  border: 1px solid #ebedf2; }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ebedf2; }
  .table-bordered thead th,
  .table-bordered thead td {
    border-bottom-width: 2px; }

.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless tbody + tbody {
  border: 0; }

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f2edf3; }

.table-hover tbody tr:hover {
  color: #212529;
  background-color: #f2edf3; }

.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: #ebd6ff; }

.table-primary th,
.table-primary td,
.table-primary thead th,
.table-primary tbody + tbody {
  border-color: #d9b3ff; }

.table-hover .table-primary:hover {
  background-color: #dfbdff; }
  .table-hover .table-primary:hover > td,
  .table-hover .table-primary:hover > th {
    background-color: #dfbdff; }

.table-secondary,
.table-secondary > th,
.table-secondary > td {
  background-color: #eeeded; }

.table-secondary th,
.table-secondary td,
.table-secondary thead th,
.table-secondary tbody + tbody {
  border-color: #e0dddd; }

.table-hover .table-secondary:hover {
  background-color: #e2e0e0; }
  .table-hover .table-secondary:hover > td,
  .table-hover .table-secondary:hover > th {
    background-color: #e2e0e0; }

.table-success,
.table-success > th,
.table-success > td {
  background-color: #bff2ea; }

.table-success th,
.table-success td,
.table-success thead th,
.table-success tbody + tbody {
  border-color: #88e6d8; }

.table-hover .table-success:hover {
  background-color: #aaeee3; }
  .table-hover .table-success:hover > td,
  .table-hover .table-success:hover > th {
    background-color: #aaeee3; }

.table-info,
.table-info > th,
.table-info > td {
  background-color: #bfdef7; }

.table-info th,
.table-info td,
.table-info thead th,
.table-info tbody + tbody {
  border-color: #87c2f0; }

.table-hover .table-info:hover {
  background-color: #a8d2f4; }
  .table-hover .table-info:hover > td,
  .table-hover .table-info:hover > th {
    background-color: #a8d2f4; }

.table-warning,
.table-warning > th,
.table-warning > td {
  background-color: #fff4bd; }

.table-warning th,
.table-warning td,
.table-warning thead th,
.table-warning tbody + tbody {
  border-color: #feea84; }

.table-hover .table-warning:hover {
  background-color: #fff0a4; }
  .table-hover .table-warning:hover > td,
  .table-hover .table-warning:hover > th {
    background-color: #fff0a4; }

.table-danger,
.table-danger > th,
.table-danger > td {
  background-color: #ffdae2; }

.table-danger th,
.table-danger td,
.table-danger thead th,
.table-danger tbody + tbody {
  border-color: #febbc8; }

.table-hover .table-danger:hover {
  background-color: #ffc1ce; }
  .table-hover .table-danger:hover > td,
  .table-hover .table-danger:hover > th {
    background-color: #ffc1ce; }

.table-light,
.table-light > th,
.table-light > td {
  background-color: #fdfdfe; }

.table-light th,
.table-light td,
.table-light thead th,
.table-light tbody + tbody {
  border-color: #fbfcfc; }

.table-hover .table-light:hover {
  background-color: #ececf6; }
  .table-hover .table-light:hover > td,
  .table-hover .table-light:hover > th {
    background-color: #ececf6; }

.table-dark,
.table-dark > th,
.table-dark > td {
  background-color: #c9cdd1; }

.table-dark th,
.table-dark td,
.table-dark thead th,
.table-dark tbody + tbody {
  border-color: #9ba1aa; }

.table-hover .table-dark:hover {
  background-color: #bbc0c5; }
  .table-hover .table-dark:hover > td,
  .table-hover .table-dark:hover > th {
    background-color: #bbc0c5; }

.table-active,
.table-active > th,
.table-active > td {
  background-color: rgba(0, 0, 0, 0.075); }

.table-hover .table-active:hover {
  background-color: rgba(0, 0, 0, 0.075); }
  .table-hover .table-active:hover > td,
  .table-hover .table-active:hover > th {
    background-color: rgba(0, 0, 0, 0.075); }

.table .thead-dark th {
  color: #fff;
  background-color: #343a40;
  border-color: #454d55; }

.table .thead-light th {
  color: #495057;
  background-color: #e9ecef;
  border-color: #ebedf2; }

.table-dark {
  color: #fff;
  background-color: #343a40; }
  .table-dark th,
  .table-dark td,
  .table-dark thead th {
    border-color: #454d55; }
  .table-dark.table-bordered {
    border: 0; }
  .table-dark.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.05); }
  .table-dark.table-hover tbody tr:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.075); }

@media (max-width: 575.98px) {
  .table-responsive-sm {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; }
    .table-responsive-sm > .table-bordered {
      border: 0; } }

@media (max-width: 767.98px) {
  .table-responsive-md {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; }
    .table-responsive-md > .table-bordered {
      border: 0; } }

@media (max-width: 991.98px) {
  .table-responsive-lg {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; }
    .table-responsive-lg > .table-bordered {
      border: 0; } }

@media (max-width: 1199.98px) {
  .table-responsive-xl {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; }
    .table-responsive-xl > .table-bordered {
      border: 0; } }

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; }
  .table-responsive > .table-bordered {
    border: 0; }
</style>



