<p id="notice"><%= notice %></p>
<card class="card">
  <card class="card-body">
<h1>Movimentação Financeira</h1>

<button type="button" class="btn btn-gradient-info" data-toggle="modal" data-target="#exampleModalCenter">
Relatório
</button>

<button type="button" class="btn btn-gradient-success" data-toggle="modal" data-target="#buscar">
Filtros p/ pesquisa
</button>
<!-- Modal -->
  <div class="modal fade " id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title " id="exampleModalCenterTitle">Adicionando Filtros p/ Relatório
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <div class="modal-body text-left">
        <form class="forms-sample">
          <%= form_tag(movfins_path, :method => :get) do%>
          Data Inicial
          <%= date_field 'dataini',nil, :class => 'form-control'%>
          Data Final
          <%= date_field 'datafin',nil, :class => 'form-control'%>
          Tipo
          <%= select_tag 'tipo', options_for_select(["Saida","Entrada"]), :class => 'form-control'%>  
          <%= hidden_field_tag 'gerar_pdf',nil, :type => 'text', :class => 'form-control'%>
          <%= submit_tag "Gerar PDF", :class => 'btn btn-success btn-round' %>
          <%end%>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
  <div class="modal fade " id="buscar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title " id="exampleModalCenterTitle">Adicionando Filtros p/ Pesquisa
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <div class="modal-body text-left">
        <form class="forms-sample">
          <%= form_tag(movfins_path, :method => :get) do%>
          Data Inicial
          <%= date_field 'datainisearch',nil, :class => 'form-control'%>
          Data Final
          <%= date_field 'datafinsearch',nil, :class => 'form-control'%>
          Tipo
          <%= select_tag 'tiposearch', options_for_select(["Saida","Entrada"]), :class => 'form-control'%>  
          <%= submit_tag "Pesquisar", :class => 'btn btn-success btn-round' %>
          <%end%>
        </form>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Idmov</th>
      <th>Tipo</th>
      <th>Ação</th>
      <th>Data da Movimentação</th>
      <th>Valor</th>
    </tr>
  </thead>

  <tbody>
    <% @movfins.each do |movfin| %>
      <tr>
        <td><%= movfin.idmov %></td>
        <td><%= movfin.tipo %></td>
        <td><%= movfin.acao %></td>
        <td><%= "#{movfin.created_at.to_s[8..9]}/#{movfin.created_at.to_s[5..6]}/#{movfin.created_at.to_s[0..3]}" %> às <%= movfin.created_at.to_s[11..18]%></td>
        <td><%= "R$ #{movfin.valor}"  %></td>
      </tr>
    <% end %>
        <tr>
      <td colspan="4 "class="text-right">Total:</td>
      <td><%="R$ #{@totalmov}" %></td>
    </tr>
  </tbody>
</table>

<br>
</card></card>
