<p id="notice"><%= notice %></p>

<p>
  <strong>Idmov:</strong>
  <%= @movfin.idmov %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @movfin.tipo %>
</p>

<p>
  <strong>Acao:</strong>
  <%= @movfin.acao %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @movfin.valor %>
</p>

<%= link_to 'Edit', edit_movfin_path(@movfin) %> |
<%= link_to 'Back', movfins_path %>
