<%= form_with(model: itematendimento, local: true) do |form| %>
  <% if itematendimento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(itematendimento.errors.count, "error") %> prohibited this itematendimento from being saved:</h2>

      <ul>
        <% itematendimento.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :atendimento_id %>
    <%= form.text_field :atendimento_id %>
  </div>

  <div class="field">
    <%= form.label :quandoligou %>
    <%= form.text_field :quandoligou %>
  </div>

  <div class="field">
    <%= form.label :quandoiraligar %>
    <%= form.text_field :quandoiraligar %>
  </div>

  <div class="field">
    <%= form.label :numero1 %>
    <%= form.text_field :numero1 %>
  </div>

  <div class="field">
    <%= form.label :numero2 %>
    <%= form.text_field :numero2 %>
  </div>

  <div class="field">
    <%= form.label :obs %>
    <%= form.text_area :obs %>
  </div>

  <div class="field">
    <%= form.label :sehaprotocolo %>
    <%= form.text_field :sehaprotocolo %>
  </div>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
