<p id="notice"><%= notice %></p>

<h1>Itematendimentos</h1>

<table>
  <thead>
    <tr>
      <th>Atendimento</th>
      <th>Quandoligou</th>
      <th>Quandoiraligar</th>
      <th>Numero1</th>
      <th>Numero2</th>
      <th>Obs</th>
      <th>Sehaprotocolo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @itematendimentos.each do |itematendimento| %>
      <tr>
        <td><%= itematendimento.atendimento_id %></td>
        <td><%= itematendimento.quandoligou %></td>
        <td><%= itematendimento.quandoiraligar %></td>
        <td><%= itematendimento.numero1 %></td>
        <td><%= itematendimento.numero2 %></td>
        <td><%= itematendimento.obs %></td>
        <td><%= itematendimento.sehaprotocolo %></td>
        <td><%= link_to 'Show', itematendimento %></td>
        <td><%= link_to 'Edit', edit_itematendimento_path(itematendimento) %></td>
        <td><%= link_to 'Destroy', itematendimento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Itematendimento', new_itematendimento_path %>
