<p id="notice"><%= notice %></p>

<p>
  <strong>Atendimento:</strong>
  <%= @itematendimento.atendimento_id %>
</p>

<p>
  <strong>Quandoligou:</strong>
  <%= @itematendimento.quandoligou %>
</p>

<p>
  <strong>Quandoiraligar:</strong>
  <%= @itematendimento.quandoiraligar %>
</p>

<p>
  <strong>Numero1:</strong>
  <%= @itematendimento.numero1 %>
</p>

<p>
  <strong>Numero2:</strong>
  <%= @itematendimento.numero2 %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @itematendimento.obs %>
</p>

<p>
  <strong>Sehaprotocolo:</strong>
  <%= @itematendimento.sehaprotocolo %>
</p>

<%= link_to 'Edit', edit_itematendimento_path(@itematendimento) %> |
<%= link_to 'Back', itematendimentos_path %>
