<%
  case Perm.where("user_id = ?","#{current_user.id}").pluck('cargo').first
    when '3'
      notices = Notice.where(user_destino: current_user.id).where(grupo_destino: "3").where(lido: "N").order("created_at desc")
    when '2'
      notices = Notice.where(user_destino: current_user.id).where(grupo_destino: "2").where(lido: "N").order("created_at desc")
    when '1'
      notices = Notice.where(user_destino: current_user.id).where(grupo_destino: "1").where(lido: "N").order("created_at desc")
    when '0'
      notices = Notice.where(user_destino: current_user.id).where(grupo_destino: "0").where(lido: "N").order("created_at desc") 
  end
  
  notices += Notice.where(user_destino: current_user.id).where(lido: "N").order("created_at desc") 
%>

<% %>
<style>
  @keyframes shadow-pulseg {
      0% {
          box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.6);
      }
      100% {
          box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
      }
  }
  
  @keyframes shadow-pulseg-big {
      0% {
          box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.6);
      }
      100% {
          box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
      }
  }
  
  .pulsarg {
      animation: shadow-pulseg 1s infinite;
  }
</style>
<li class="nav-item dropdown ">
  <a class="nav-link count-indicator dropdown-toggle " id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
    <i class="mdi mdi-email-outline "></i>
    <span class=" <%if notices.present?%>count-symbol bg-info pulsarg<%end%>"></span>
  </a>
  <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
    <h6 class="p-3 mb-0">Notificações</h6>
    <div class="dropdown-divider"></div>
    <!-- user:references user_destino:integer lido:string grupo_destino:integer mensagem:text acao_id:integer form:string -->
    <% notices.each do |notice|%>
      <%= form_with(model: notice, local: true,id:notice.id) do |form| %>
        <% form.hidden_field :lido, :value=>"S"%>
      <%end%>
      <div class="noticia<%= notice.id%>" >
      <a class="dropdown-item preview-item" href="../<%=notice.form%>/<%=notice.acao_id%>" data-toggle="tooltip" data-placement="bottom" title="<%= notice.mensagem%>">
        <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
          <h6 class="preview-subject ellipsis mb-0 font-weight-normal"><%= primeiro_nome(notice.user_id)%> <%= notice.mensagem%></h6>
          <p class="text-gray mb-0"> <%= diferenca(notice.created_at)%> a trás</p>
        </div>
      </a>
      <div style="padding-bottom:0.5rem; padding-left:0.5rem;" >
        <button class="btn btn-sm btn-inverse-success" onclick="update<%=notice.id%>()">
          Marcar com lido
        </button>
      </div>
      </div>
      <div class="dropdown-divider"></div>
      <script>
        function update<%=notice.id%>() {
          $.ajax({
          type: 'POST',
          url: '../notices/<%=notice.id%>',
          data: $('#<%=notice.id%>').serialize(),
          dataType: 'JSON'});
        
        $('.noticia<%=notice.id%>').hide();
        $('.pulsarg').hide();

        };
      </script>
    <%end%>
    <div class="dropdown-divider"></div>
    <h6 class="p-3 mb-0 text-center"><%= notices.size%> Notificações</h6>
  </div>
</li>
