<div class="container-scroller">
     <!-- partial:../../partials/_navbar.html -->
     <nav class="navbar navbar-primary default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
       <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
         <a class="navbar-brand brand-logo" href="../paginainicial/index.html"><img src="../../assets/logo.png" ></a>
         <a class="navbar-brand brand-logo-mini" href="../paginainicial/index.html"><img src="../../assets/logomini.png" alt="logo" /></a>
       </div>
       <div class="navbar-menu-wrapper d-flex align-items-stretch">
         <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
           <span class="mdi mdi-menu"></span>
         </button>
         <ul class="navbar-nav navbar-nav-right">
           <li class="nav-item nav-profile dropdown">
             <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
               <div class="nav-profile-text">
                 <p class="mb-1 text-black"><%= User.where("id = ?","#{current_user.id}").pluck('nome').first%></p>
               </div>
             </a>
             <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
               <%= link_to 'Editar perfil', edit_user_registration_path, :class => 'dropdown-item mdi mdi-cached mr-2 text-success ' %>
               <%= button_to "Logout", destroy_user_session_path, method: :delete, :class => 'dropdown-item mdi mdi-logout mr-2 text-success'  %>

           </li>
           <li class="nav-item d-none d-lg-block full-screen-link">
             <a class="nav-link">
               <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
             </a>
           </li>
           <li class="nav-item nav-logout d-none d-lg-block">
             <a class="nav-link" href="#">
               <i class="mdi mdi-power"></i>
             </a>
           </li>
           <li class="nav-item nav-settings d-none d-lg-block">
             <a class="nav-link" href="#">
               <i class="mdi mdi-format-line-spacing"></i>
             </a>
           </li>
           <%= render 'layouts/notices'%>
         </ul>
         <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
           <span class="mdi mdi-menu"></span>
         </button>
       </div>
     </nav>
     <!-- partial -->
     <div class="container-fluid page-body-wrapper">
       <!-- partial:../../partials/_sidebar.html -->
       <nav class="sidebar guarashadow sidebar-offcanvas" id="sidebar">
         <ul class="nav">

           <li class="nav-item nav-profile">
             <a href="#" class="nav-link">
               <div class="nav-profile-text d-flex flex-column">
                 <span class="font-weight-bold mb-2"><%= User.where("id = ?","#{current_user.id}").pluck('nome').first%></span>
                 <span class="text-secondary text-small">
                 <%case Perm.where("user_id = ?","#{current_user.id}").pluck('cargo').first%>
                  <%when '0'%>
                  Admin
                  <%when '1'%>
                  Operador
                  <%when '2'%>
                  Gerente
                  <%when '3'%>
                  Corretor
                  <%else%>
                  ERRO
                  <%end%></span>
               </div>
               <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
             </a>
           </li>

           <li class="nav-item">
             <a class="nav-link" href="../../solicitacoes.html">
               <span class="menu-title">Solicitações</span>
               <i class="mdi mdi-clipboard-alert menu-icon"></i>
             </a>
           </li>
           <%case Perm.where("user_id = ?","#{current_user.id}").pluck('cargo').first %>
           <%when '3'%>
           <%when '2'%>
           <li class="nav-item">
             <a class="nav-link" href="../../ranking/index.html">
               <span class="menu-title">Ranking</span>
               <i class="mdi mdi-clipboard-text menu-icon"></i>
             </a>
             <a class="nav-link" href="../../acompanhamento_gerente/index.html">
               <span class="menu-title">Acompanhamento Gerente</span>
               <i class="mdi mdi-clipboard-text menu-icon"></i>
             </a>
           <%when '1'%>
           <%else%>
           <li class="nav-item">
             <a class="nav-link" href="../../ranking/index.html">
               <span class="menu-title">Ranking</span>
               <i class="mdi mdi-clipboard-text menu-icon"></i>
             </a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="../../posts">
               <span class="menu-title">Posts</span>
               <i class="mdi mdi-clipboard-text menu-icon"></i>
             </a>
           </li>
           <%end%>
            <!--li class="nav-item"-->
             <!--a class="nav-link" href="../../atendimentos.html"-->
               <!--span class="menu-title">Atendimentos</span-->
               <!--i class="mdi mdi-deskphone menu-icon"></i-->
             <!--/a-->
           <!--/li-->
           <li class="nav-item">
             <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
               <span class="menu-title">Clientes</span>
               <i class="menu-arrow"></i>
               <i class="mdi mdi-account-multiple menu-icon"></i>
             </a>
             <div class="collapse" id="ui-basic">
               <ul class="nav flex-column sub-menu">
                 <li class="nav-item"><a class="nav-link" href="../../clientes.html">Lista de Clientes</a></li>
                 <li class="nav-item"><a class="nav-link" href="../../atendimentos.html">Atendimentos</a></li>
                 <%case Perm.where("user_id = ?","#{current_user.id}").pluck('cargo').first %>
                 <%when '3'%>
                 <%else%>
                 <li class="nav-item"><a class="nav-link" href="../../relacaocontratos/index.html">Contratos em Andamento</a></li>
                 <%end%>
               </ul>
             </div>
           </li>
          <%case Perm.where("user_id = ?","#{current_user.id}").pluck('cargo').first %>
          <%when '3'%>
          <%when '2'%>
          <%when '1'%>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#bancos" aria-expanded="false" aria-controls="bancos">
              <span class="menu-title">Bancos</span>
              <i class="menu-arrow"></i>
              <i class="mdi mdi-bank menu-icon"></i>
            </a>
            <div class="collapse" id="bancos">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="../../bancos.html">Lista de Bancos</a></li>
              </ul>
            </div>
          </li>
          <%else%>
           <li class="nav-item">
             <a class="nav-link" data-toggle="collapse" href="#fin" aria-expanded="false" aria-controls="fin">
               <span class="menu-title">Financeiro</span>
               <i class="menu-arrow"></i>
               <i class="mdi mdi-briefcase-upload menu-icon"></i>
             </a>
             <div class="collapse" id="fin">
               <ul class="nav flex-column sub-menu">
                 <li class="nav-item"> <a class="nav-link" href="../../entradas.html">Entradas</a></li>
                 <!--li class="nav-item"> <a class="nav-link" href="../../protocolos.html">Protocolo de Contrato</a></li-->
                 <li class="nav-item"> <a class="nav-link" href="../../saidas.html">Saidas</a></li>
                 <li class="nav-item"> <a class="nav-link" href="../../movfins.html">Movimentações</a></li>
               </ul>
             </div>
           </li>

           <li class="nav-item">
             <a class="nav-link" data-toggle="collapse" href="#bancos" aria-expanded="false" aria-controls="bancos">
               <span class="menu-title">Bancos</span>
               <i class="menu-arrow"></i>
               <i class="mdi mdi-bank menu-icon"></i>
             </a>
             <div class="collapse" id="bancos">
               <ul class="nav flex-column sub-menu">
                 <li class="nav-item"> <a class="nav-link" href="../../bancos.html">Lista de Bancos</a></li>
               </ul>
             </div>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="../users">
               <span class="menu-title">Usuários</span>
               <i class="mdi mdi-account-card-details menu-icon"></i>
             </a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="../logs">
               <span class="menu-title">Logs</span>
               <i class="mdi mdi-account-card-details menu-icon"></i>
             </a>
           </li>
           <%end%>
         </ul>
       </nav>
       <!-- partial -->
       <div class="main-panel">

         <div class="content-wrapper">
