<!DOCTYPE html>
<html>
  <head>
    <title>Inter Sistema</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="../../assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../assets/vendors/css/vendor.bundle.base.css">
    <script src="../../assets/js/jQuery.js"></script>
    <script src="../../assets/js/datatables.js"></script>
    <script src="../../assets/js/jquery.easy-autocomplete.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="../../assets/js/sweetalert2.all.js"></script>
    <link rel="stylesheet" href="../../assets/css/sweetalert2.css">

  </head>
<style>
.guarashadow{
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 255, 255, 0.4);
}
</style>
<%if user_signed_in?%>
<body>
  <%= render 'layouts/pagetop'%>
    <%= yield  %>
  <%= render 'layouts/pagebottom'%>
</body>
<%else%>
<body class="bg-gradient-primary">
  <%= yield %>
</body>
<%end%>
</html>
